[2019-11-19 01:11] jngbng opened #180 "Cannot read property 'focus' of null"
I got an error report from some client:

[code]

from following line.

https://github.com/gregnb/react-to-print/blob/6dd26543319fcc06f603b02efd10e043271f82da/src/index.tsx#L41

Browser: Chrome (Version 78.0.3904)
OS: Windows 10

I failed to reproduce the problem, but  I guess it may be null on some special case.

[2019-11-19 01:20] MatthewHerbst commented on #180
Thanks for the report. That's pretty strange if it's actually Chrome. What do you think the best thing is to do here? Generally in apps I build I ignore such errors as being edge-case. We could put a check into this library for it, though not being able to focus means we can't do anything, so we'd essentially just have to kill the print job. In that scenario there would be no error (unless we re-t

[2019-11-19 01:24] jngbng commented on #180
@MatthewHerbst Thanks for very fast response. I agree with you and will ignore this problem.

[2019-11-19 01:24] #180 closed, assigned to nobody

[2019-11-26 16:17] devans-k4 opened #181 "Can the "ComponentToPrint" be a functional component?"
I see in the documentation an example that calls from a functional component so I see the library has been updated with hooks but I'm curious if there is a current way to have the print component be a functional component as well.

The console error I receive is
"Refs are not available for stateless components. For "react-to-print" to work only Class based components can be printed "

so I guess t

[2019-11-26 17:39] MatthewHerbst commented on #181
Not sure what you saw, but this library does not use hooks, which is the reason we cannot currently support functional components. To use hooks would require bumping the React peerDependency, which would be a breaking change.

[2019-11-26 17:51] devans-k4 commented on #181
Oh whoops I had misunderstood. Thanks for the response and very useful library!

[2019-11-26 17:51] #181 closed, assigned to nobody

[2019-12-05 09:17] thidasapankaja opened #182 "How can I forcefully move a component to print in a different page"
I have integrated react-to-print with material-ui .But I'm having some trouble since some components are cutting in half. How can I move to a different page after or before a specific component ? I tried using **page-break-before** MediaQuery. But it doesn't work. Is there any turnaround for this ?

[2019-12-05 18:25] MatthewHerbst commented on #182
Hello. You'd have the post your code for me to see exactly what's going on, but I can't profess to being a CSS expert. This question actually has very little to do with `react-to-print` directly, so you'd probably be better asking it on StackOverflow where there are likely many more CSS experts.

[2019-12-05 20:06] vjsingh commented on #181
@MatthewHerbst Are there plans to support functional components?

[2019-12-06 05:18] Dastnbek opened #183 "How to know content is ready before print ?"
When I am working with many images to print

[2019-12-06 13:38] MatthewHerbst commented on #181
@vjsingh eventually. Doing so would require bumping our React peer dependency, which would be a breaking change. Since there's no use-case that I know of where someone can't use class based components at all, it's unlikely we'll bump that dependency anytime soon unless there is some other feature/bug that requires a breaking change.

[2019-12-06 13:45] alfaex opened #184 "Print without button"
I need to trigger the printing on the 'componentdidmount'.

But the documentation says that trigger need to be a function that return an element or component.

The screen responsable to print should print when the user enter on that component, there will be no button (or element) for the user to click.

It is possible to do some hack to trigger the printing just calling a function, without return

[2019-12-06 14:06] vjsingh commented on #181
@MatthewHerbst I see, that makes sense and seems like a good policy for the library. Good work!

For myself I created a new PrintableComponent which takes in a view (which can be a functional component), wraps it in a `<View/>` and then uses that as the component to pass to react-to-print. Seems to be working just fine and lets me use functional components.

[2019-12-06 19:09] AaronMinnamon commented on #181
@vjsingh Could you post example code of how you are setting up your PrintableComponent? I am trying to do this exact thing right now.

[2019-12-06 19:16] vjsingh commented on #181
@AaronMinnamon Hope this helps

[code]

[2019-12-06 19:53] MatthewHerbst commented on #183
You would want to setup a `Promise.all` to wait on the images to load, and then feed that into the return of `onBeforePrint`

[2019-12-06 19:57] MatthewHerbst commented on #184
Unfortunately we don't export a `print` function standalone right now. We have an existing ticket to do that work but haven't gotten around to it yet (PRs are welcome!). My advise would be to create a hidden button on the page. Save a ref to the button. Inside the `componentDidMount` you can call click on the button via JS. I believe that should work.

[2019-12-06 20:29] AaronMinnamon commented on #181
@vjsingh Perfect thank you!

Now if I could only figure out why my mobile styles are showing up in the print dialog window...

[2019-12-07 05:36] Dastnbek commented on #183
Let me ask in another way. How to check content contains something to print ?
My code is working fine on my computer. But when I run in another machine it is printing empty page at first and when I click cancel and click print then it is working fine.

[2019-12-07 13:02] MatthewHerbst commented on #183
You would have to share some code for me to see specifically what you are talking about. However, again, to load any resource prior to printing, return a Promise in `onBeforePrint`. This library does not know what you are printing. If you are loading async resources in the print window you have to ensure they are loaded before printing continues.

[2019-12-08 13:35] idanhaviv opened #185 "defer rendering to trigger click [question]"
My ComponentToPrint fetches lots of data, and I wish I could defer that work to only after
print button is clicked, but they're coupled.

my component looks like:

[code]

how can I defer ComponentToPrint rendering to after the print button is clicked?
@MatthewHerbst

[2019-12-09 00:01] MatthewHerbst commented on #185
You could use the `onBeforeGetContent` method to only render in your component after the print button is clicked. Have the promise resolve when your data is loaded and the components are mounted

[2019-12-09 00:20] vahid18u opened #186 "Print big content"
When I print a component that requires more than one page (for example a big table), The second page has no margin at top. How can I handle it?

[2019-12-09 00:51] MatthewHerbst commented on #186
https://stackoverflow.com/questions/1542320/margin-while-printing-html-page

[2019-12-09 00:51] #186 closed, assigned to nobody

[2019-12-09 10:20] Dastnbek commented on #183
I have just recognized. it is not working when I change  anchor tag  to button inside trigger.
But it's working on CondeSandbox example when I have changed to button.
[code]

[2019-12-09 13:26] hrutvikpatel opened #187 "Printing entire UI on mobile"
ReacToPrint is able to print the specific react component I want to print on browsers on the desktop and on the IPad safari works as well. However, when printing the react component using chrome on the IPad the entire UI is printed.

I checked the console and there were no errors present.

I also checked that the ref returned to the content property is referring to the react component that needs t

[2019-12-09 15:46] hrutvikpatel commented on #187
I am trying to understand the code and was wondering what the purpose of the setTimeout is in the startPrint method?

[2019-12-09 17:20] hrutvikpatel commented on #187
It appears to be an issue with iframe. Where `iframe.contentwindow.print()` seems to have an issue printing on safari/chrome on IOS. It prints the entire UI instead. I wonder if there is a workaround to this.

[2019-12-09 20:00] alfaex commented on #184
Ok.
I'll try to do that.
Thanks for the feedback.

Cheers.

[2019-12-09 23:10] MatthewHerbst commented on #187
Unfortunately we have no control (to my knowledge) of what the browser decides to do after we call `.print()`. It sounds like those browsers print everything open, not just the iframe. If you know of a solution we can use to fix this issue I would be happy to include it.

[2019-12-09 23:11] #143 closed, assigned to nobody

[2019-12-10 03:13] undesputed opened #188 "my content in react to print does an error but still it works with the error in it"
![image](https://user-images.githubusercontent.com/33367564/70492016-f5433980-1b3d-11ea-9105-d85c620ce079.png)

[2019-12-10 03:22] MatthewHerbst commented on #188
Maybe it has to do with the `useRef(null)` call?

[2019-12-10 03:33] undesputed commented on #188
if i will remove the null in the useRef the ref in my previewdetails errors and it doesn't fix that part..

[2019-12-11 07:45] #183 closed, assigned to nobody

[2019-12-11 19:51] jesobreira commented on #54
Mixed @shawnco's and @zzq0324's solutions and it worked well for me:

[code]

[2019-12-12 07:15] ghost commented on #179
[code]

[code]

[2019-12-12 07:20] ghost commented on #45
@lidaof @Khyzz @NguyenTheSon
I got these question, you can use html tag not class name. Such as

[code]

[2019-12-14 20:47] MatthewHerbst commented on #54
Going to close this as a CSS issue. Thanks everyone for the solutions, and please feel free to continue talking about it here.

[2019-12-14 20:47] #54 closed, assigned to nobody

[2019-12-16 16:49] ericwallen opened #189 "No styles coming through in print window"
Hi, I can't seem to get any styles to come from my page to the print window. Am I doing something wrong?

<img width="1246" alt="Screen Shot 2019-12-16 at 9 44 37 AM" src="https://user-images.githubusercontent.com/9659936/70925800-1e097a00-1fe9-11ea-9c3f-23f4e1f2a7e1.png">
<img width="1004" alt="Screen Shot 2019-12-16 at 9 45 11 AM" src="https://user-images.githubusercontent.com/9659936/70925805-2

[2019-12-16 17:43] polaris218 opened #190 "styling is being broken"
I am printing the table but with several pages but getting issues.
![Screenshot from 2019-12-17 01-39-50](https://user-images.githubusercontent.com/44607982/70929459-2657c880-206e-11ea-80c6-488db9700623.png)

![Screenshot from 2019-12-17 01-40-29](https://user-images.githubusercontent.com/44607982/70929523-412a3d00-206e-11ea-8dca-f4a7e7944379.png)

Below is the original webpage and top is printed

[2019-12-16 23:53] MatthewHerbst commented on #189
Try selecting the "Background graphics" option for your printer settings

[2019-12-16 23:54] MatthewHerbst commented on #190
Hello. Can you please provide more details about what the problem is? Also, can you please share some working code?

[2019-12-17 00:03] polaris218 commented on #190
This error is causing when `npm run build`
[code]

[2019-12-17 00:15] MatthewHerbst commented on #190
What error? Pasting code is not helpful, please make a working codesandbox or similar

[2019-12-17 08:59] nitingupta220 opened #191 "How to print Stateless components with React to Print?"
I'm trying to print a stateless component/ functional component with React to print but the function is doing nothing and throwing error in console that it will only work with class components.
Is their any way around to print functional components/stateless components?
Please reply fast.
@MatthewHerbst

[2019-12-17 10:52] MatthewHerbst commented on #191
Hello. There is no way to use functional component right now as the content since it would require the library changing it's React peer dependency to ^16.3, which would be a breaking change. We will do that eventually, but, as far as I know, there is no reason why someone can't use a class component instead of a functional component. If there is something you are doing with a functional component

[2019-12-17 10:52] #191 closed, assigned to nobody

[2019-12-17 15:10] ericwallen commented on #189
I tried ticking that box before opening a ticket hoping that might have some effect on it but it, unfortunately, didn't change anything.

[2019-12-17 18:36] icebravo opened #192 "I can not use CSS in print page"
Hi!
I dont know if I am doing something wrong with this.
I am using TypeScript in a SharePoint context.
myComponent to be printed has it owns css (as _name_.module.scss). If I render the component in the render of React works fine, but when I use the ref into the <ReactToPrint> myComponent losses its styles.
Someone can help me?

[2019-12-17 18:38] icebravo commented on #192
[code]

[2019-12-17 21:50] MatthewHerbst commented on #192
Hello. Can you please post a working (codesandbox or equivalent) code example so we can see exactly what the problem is? Thank you

[2019-12-18 07:59] hamzakhan747 opened #193 "With out using class"
i am unable to use the react to print using export default and i am using this export default in another js file and calling that file in my print.js file where i have a button to print

[2019-12-18 08:10] MatthewHerbst commented on #193
Hello. Can you please show some code and show where the problem is?

[2019-12-18 10:08] hamzakhan747 commented on #193
Code in Print.js file:

[code]

Code in show print.js file:

[code]

Error:
[code]

[2019-12-18 10:51] SpecialDES opened #194 "how can i print element when i use map"
Hello,
When I want to print an element inside an array of data, it prints the last element every time.
This is an example:
[https://codesandbox.io/s/react-to-print-b2jmq](url)

[2019-12-18 11:02] MatthewHerbst commented on #194
Yes, because `this.componentRef` will always reference the last element. You need to give each element in the array a unique ref and use the correct one for printing.

[2019-12-18 11:02] #194 closed, assigned to nobody

[2019-12-18 11:04] MatthewHerbst commented on #193
The error message says exactly what is wrong... you cannot use a functional component for the content. It must be a class based component.

[2019-12-18 11:04] #193 closed, assigned to nobody

[2019-12-18 14:06] icebravo commented on #192
Yes of course
https://codesandbox.io/s/friendly-davinci-pdpn3?fontsize=14&hidenavigation=1&theme=dark

another question. Where I can find the full documentation of the reacto-to-print

[2019-12-19 14:22] icebravo commented on #192
UPDATE:
I realized that the problem is the " copyStyles={true}" accessory.
My apologies.

I updated the codeSandBox for Class component and Functional component
Great module!

[2019-12-19 14:22] #192 closed, assigned to nobody

[2019-12-19 14:24] icebravo commented on #192
Does not exist any problem. Set prop copyStyles = true to maintain styles from component itself

[2019-12-19 16:25] BobbyErickson89 opened #195 "Marked checkbox not printing"
I'm having an issue with the marked checkbox printing correctly.  I will have a checkbox that has a `checked` attribute dependent on a state variable.  It has an `onChange` event that toggles the checked attribute/state between `true` and `false` whenever the checkbox is clicked.

My problem is that react-to-print will only print whatever the default `checked` attribute is.  So if I have the defau

[2019-12-19 16:56] MatthewHerbst commented on #195
Thanks for the report. We [previously experienced this issue](https://github.com/gregnb/react-to-print/issues/66) and it seemed at the time that updating `react` and `react-dom` fixed it, however, it appears that is not the case.

Do you have any ideas on what might be causing this? I've never been able to to pin it down to anything in this library, but happy to be proved wrong about that.

[2019-12-19 18:33] BobbyErickson89 opened #196 "Dropdown only printing first option"
I am currently experiencing a problem with trying to print a dropdown on my site's page.  It appears that the `select` tag is only rendering the first `option` for print, regardless of which `option` has been chosen by the user.

My `select` element has a `value` attribute that is tied to a `state` variable.  There is also an `onChange` event on my `select` tag that triggers the state/value change

[2019-12-19 18:36] BobbyErickson89 commented on #195
Really not too sure what would be causing the problem.  I've been trying to get it figured out for the past day or so.

I have a similar [dropdown issue](https://github.com/gregnb/react-to-print/issues/196) that I just opened.  The main similarities that I see between the two is that both have `onChange` events that don't seem to be getting registered with the `ref` that the print is using.  Have

[2019-12-24 09:21] ludan1107743896 commented on #175
@MatthewHerbst   My picture style was not loaded when I printed it.

[2019-12-28 21:03] MatthewHerbst commented on #189
Can you share some working code please so we can see the problem? Thanks

[2019-12-28 21:04] MatthewHerbst commented on #188
Can you make a working code example please so we can play around with it? Thanks

[2019-12-30 01:39] roferjack opened #199 "Component compatibility"
Is this component compatible with ie?

[2019-12-30 01:42] roferjack commented on #199
How is it compatible with Internet Explorer? ie11

[2019-12-30 01:51] MatthewHerbst commented on #199
It should be. If you see an error using it on IE11 please let us know.

[2019-12-31 05:21] roferjack commented on #199
ok,Thank you very much for your answer！Some users' IE doesn't show print pdf，It's not clear what the problem is, it might be the problem of ie，I will verify the problem again。And I have another question, how to set the default file name instead of using the page name。Looking forward to your answer，Thank you！

[2019-12-31 05:33] roferjack commented on #199
oh，I have solved it,document.title =`customName`，If you have other options, please tell me

[2019-12-31 05:47] MatthewHerbst commented on #199
That sounds like a good way to do it!

If you do see a bug in IE please report it and we'll do our best to fix it. Thanks!

[2020-01-07 06:46] zainasghar200 opened #201 "Triggering ReactToPrint on button click."
Currently, we have to add a component to the DOM to print the data which is shown below.
[code]
Is there anty way to print the reffrenced data on button click. i.e on submition button clicked. I want `trigger={() => <a href="#">Print this out!</a>}` on butoon click

[2020-01-07 12:12] MatthewHerbst commented on #201
While this could probably be done using `onBeforeGetContent`, why not just only render your component inside `react-to-print` when you actually want to print?

[code]

[2020-01-08 10:29] #201 closed, assigned to nobody

[2020-01-08 10:37] zainasghar200 opened #205 "There is no "more options" drop down while print previewing."
I want to change page size but there is no option for that.

![image](https://user-images.githubusercontent.com/25928974/71971623-cf887d80-322c-11ea-9610-debebd9e046b.png)

[2020-01-08 15:29] xStorm111 opened #206 "Print large amount of data"
Hello, i'm trying to implement react-to-print on material-table and i'm having some issues for multiple page data.
Example:
I have this scenario where i have more rows than the window can show.
![image](https://user-images.githubusercontent.com/22938156/71989514-bcc07980-3229-11ea-83aa-4bdaa0b533c8.png)

I implemented the code on material-table using gregnb/mui-datatable as an example.
But gregnb/

[2020-01-08 22:45] MatthewHerbst commented on #206
Hello. Could you please make a codesandbox or codepen that shows the problem? Thank you. My guess is it has to do with virtual rendering.

[2020-01-08 22:46] MatthewHerbst commented on #205
Hello. The options in the print preview panel are displayed by your browser. We don't have any control over them, all we do is open the print preview panel.

[2020-01-09 13:36] ericwallen commented on #189
Hi Mathew, thanks for offering additional help. Sorry, it took so long to reply. I ended up having no print styling issues once I switched my app to React Hooks. I am going to close this as it seems I was the only person having this issue with class components.

[2020-01-09 13:36] #189 closed, assigned to nobody

[2020-01-09 18:44] MatthewHerbst commented on #189
Glad you found something that works, thanks for the update

[2020-01-10 12:58] xStorm111 commented on #206
Hello @MatthewHerbst, first of all thanks for the reply.
I created a mini project to show the problem and i imported it into a codesandbox as you asked
I will leave the link below:
https://codesandbox.io/s/tender-mirzakhani-mjng8

The code might be a bit confuse but the most important code about react-to-print is located on files utils/m-table-toolbar, utils/material-table and utils/index

[2020-01-13 08:35] ZhangAixue opened #210 "The picture will be truncated"
When the picture is between two pages
![image](https://user-images.githubusercontent.com/24401016/72241756-a0a24b00-3622-11ea-8905-cd934cee4de7.png)

[2020-01-13 09:20] nhan-huynhvan commented on #210
This issue relating to styles, please try styles for image follow:
[code]
Please confirm result after apply that styles :)
Thank!

[2020-01-13 14:15] Jordy-A commented on #184
Or for functional component:

[code]

[2020-01-13 21:57] #184 closed, assigned to nobody

[2020-01-14 20:34] MatthewHerbst commented on #206
If I had to guess, passing the ref via props is not updating the ref correctly, but I'm not sure. I wonder if a simpler example could be made with just mui-datatable and react-to-print?

[2020-01-15 11:22] Muhammad-Hammad-codex commented on #120
Should we set the page size to A4 or A5 kindly let me know if its possible.

[2020-01-15 18:47] MatthewHerbst commented on #120
@Muhammad-Hammad-codex that depends on what type of paper you are printing on

[2020-01-16 17:49] xStorm111 commented on #206
Infortunately i don't think i can make an easier example. I created a new codesandbox with both datatables imported but i left the material-table commented.
I will leave the link below:
https://codesandbox.io/s/react-print-issue-with-material-table-idxwl

[2020-01-21 05:08] justinwang189 commented on #169
@MatthewHerbst tested and confirmed your snippet worked great!
(one small fix is to make initialization of resolve a function)
[code]

[2020-01-22 20:33] william-deckard opened #211 "Allow linkNodes to accept props"
FEATURE REQUEST:

Users should be able to configure which styles they want linked rather than an "all or nothing" approach that "copyStyles (boolean)" provides.

I ran into an issue recently where our cloud application displays 200+ images in a scrollable view. When I wanted to print a customize component that I had nested as a child the 206 images were being loaded each time print was toggled. Ob

[2020-01-22 20:34] william-deckard commented on #107
A little late but this may have been caused by having Overflow: visible somewhere and as it was pointed out, margins were probably extending..

[2020-01-23 02:19] MatthewHerbst commented on #211
Hello. We actually recently just made the change to include `img` to ensure images that are printed are loaded before the print window opens. Maybe we can optimize it by only selecting images there are children of the `ref` being printed?

[2020-01-23 04:30] william-deckard commented on #211
@MatthewHerbst That would be perfect!

[2020-01-23 08:32] MatthewHerbst commented on #211
@william-deckard any idea what the best way to do that might be (i.e., what the selector(s) would be?

[2020-01-27 01:59] william-deckard commented on #211
@MatthewHerbst Let me give it a think, I will pull the repo and work with it. Should I find a good solution I will open a PR.

[2020-01-27 17:12] nathanwsu commented on #90
I'm also seeing the same issue on edge. This is my code for App.js in a simple create-react-app

[code]

I'm also seeing multiple messages saying "The operation was canceled by the user." Not sure if I'm just missing something but help would be appreciated! Thanks.

[2020-01-28 06:33] MatthewHerbst commented on #90
I am able to reproduce using your code on Edge via Browserstack.

The error is very vague.

`SCRIPT 1223: The operation was cancelled by the user`

So far the only related thing I've been able to find while searching is this: https://stackoverflow.com/questions/43378202/ms-edge-window-open-gives-error-the-operation-was-canceled-by-the-user

While we do open an iframe, we don't give it a url so I d

[2020-01-29 07:20] chesterheng opened #212 "Call backend API to retrieve updated data before print"
Hi,

Is it possible for me to make a backend api call after i trigger the button to print?

I have a "create report" button.
So when user click the "create report" button, I make a backend api to get the latest content before a pdf is generated.

[2020-01-29 07:52] MatthewHerbst commented on #212
Do you need to make the call before the print happens or after it happens?

[2020-01-29 14:48] mariagarciaflores commented on #90
I have the same problem, for some reason the print mode opens and if I click "cancel" my page freezes. I could open the print window only if I set the copyStyles = {false} attribute if it is the true default, the print window does not open and the page freezes. I did not find any workaround for this so please if you have some way to fix this let me know. Thank you! (sorry for my bad English)

[2020-01-29 20:33] MatthewHerbst commented on #90
@mariagarciaflores to be sure, that's when using Edge, correct?

[2020-01-31 04:59] stefensuhat commented on #212
it happens I need the same feature.

It will load the data from API and call the print method.

[2020-01-31 19:09] MatthewHerbst commented on #212
If you make the call in `onBeforeGetContent` you can modify the content of the page before the print happens. Just return a Promise to the function to let it know when you are done.

[2020-01-31 22:30] nathanwsu commented on #90
@MatthewHerbst I agree that it does seem to be an Edge specific issue as all other browsers seem to print fine.
I was wondering if anyone has found a workaround to this issue? Or possibly some other approach?

[2020-02-04 15:50] mariagarciaflores commented on #90
Yes, it happens in Edge browser. Still trying to find some workaround.  If you have something, it will be helpful.

[2020-02-05 19:50] MarkNewcomb1 commented on #96
Something worth noting: the component you want to print will still need to be a class component. If Example _AND_ ComponentToPrint are both non-class-based, it won't work. I had trouble with this this morning, where in my example, Example was a functional, stateless component and ComponentToPrint was also a functional, stateless component. I kept getting this `Refs are not available for stateless

[2020-02-05 19:51] mmazanec22 commented on #195
I was having this issue with just window.print and tried this library to see if it would help but am facing the same problem with both: selected checkboxes don't appear checked the first time I attempt to print, though the second time (without a refresh in between) they do.  This is not an issue with other types of input.  Updating react and react-dom didn't help.  This is a problem in Chrome on L

[2020-02-05 20:07] BobbyErickson89 commented on #195
@mmazanec22 I actually came up with a solution but it's not using react-to-print.  Not sure if it will work for your project, but I figured I'd share

My react site actually ended up printing fine when I forced Chrome to print background graphics.  In print preview on Chrome under the Advanced options, there's a checkbox where you can choose whether or not to print the background graphics.  Checki

[2020-02-05 20:17] mmazanec22 commented on #195
Thank you so much @BobbyErickson89 !  Unfortunately for me that didn't work for my case, but hopefully someone else who stumbles on this thread will have their problem solved.

[2020-02-05 21:01] MatthewHerbst commented on #96
Thanks for the information @MarkNewcomb1 we may need to update our error messages in the hooks world, since previously a functional component had no effective way of maintaining state.

[2020-02-10 16:22] polaris218 commented on #180
@MatthewHerbst  In the edge browser, we can't fix this issue on codebase?

I am getting issue on Edge.

`Unable to get property 'focus' of undefined or null reference`
![image](https://user-images.githubusercontent.com/44607982/74168335-e9264600-4c6c-11ea-836a-70733d23aaf1.png)

[2020-02-11 09:54] ishan7 opened #213 "Printing multiple pages"
I tried printing multiple pages in react, but it was only printing first page, facing this issue for quite sometime now and i don't see how do i resolve it? is it npm issue? if not can you guys help me in this?

CodeSandbox
Here, it only prints whats visible and does not prints what's on scroll
https://codesandbox.io/s/react-to-print-slu5d

Thanks

[2020-02-12 09:10] akmur commented on #93
I am getting this or a similar issue on Firefox mobile, reported by Sentry:

`e.contentWindow.print is not a function`

I tried myself and indeed the pdf is not shown

[2020-02-12 19:47] invious opened #214 "Type 'null' is not assignable to type 'ReactInstance'."
getting this complaint from typescript following the hooks docs on the README

`TS2769: No overload matches this call.   Overload 1 of 2, '(props: Readonly<IReactToPrintProps>): ReactToPrint', gave the following error.     Type 'null' is not assignable to type 'ReactInstance'.   Overload 2 of 2, '(props: IReactToPrintProps, context?: any): ReactToPrint', gave the following error.     Type 'null' i

[2020-02-13 17:51] invious opened #215 "Is it possible to generate a PDF and download it without Preview?"
I really love this package, it's making a beautiful PDF for me -- I had one question, my client assumed that after clicking the button the PDF would just trigger a download of a PDF file. Is thiis possible with this package? Or can I combine the PDF generated from this package to trigger a download somehow?

[2020-02-18 15:46] adam-ludgate commented on #11
We are having a similar issue, using ` "react-to-print": "^2.5.0"`
Print works great on local development, but on production styles are lost
Any suggestions here?

[2020-02-18 18:28] invious opened #216 "Can you add a repeating header?"
Would it be possible to make a header on every page?

[2020-02-19 05:02] MatthewHerbst commented on #216
Hello. What do you mean by the header?

[2020-02-19 09:51] jianghuaw commented on #96
Add my thanks to @MarkNewcomb1. The above information is useful. I met the same problem to print non-class-based component and I finally got it to work by putting the component as the child of `<div ref={componentRef} />`.

[2020-02-19 18:28] MatthewHerbst commented on #215
Hello. Hmm. That's not currently possible, though I think it would be somewhat easy to add. I'm not sure when I might have the time to look at adding it, however, I would be happy to review a PR if you want to give it a shot. Basically, you just need to open a data uri in the JavaScript. The hard part might be generating that uri, but I think it might be easy, I'm not sure.

[2020-02-19 18:31] MatthewHerbst commented on #214
Thanks for reporting. I'm currently traveling, but will look into this when I get back in a few days. If you are able to find a fix, I would be happy to review a PR.

[2020-02-19 19:37] invious opened #217 "Suppress Error Messages?"
I am loading a lot of HTML, and many links are invalid. Can I suppress this error?

`"react-to-print" was unable to load a link. It may be invalid.`

[2020-02-19 19:40] invious commented on #216
For my use case I am printing out multiple questions. Each question may span a couple of pages. A header at the top of the page with the question number that page belongs to for example

[2020-02-20 01:50] MatthewHerbst commented on #216
You would have to include that yourself on the page. The library is fairly simple, in that it tries to print exactly what is in the content component. You should be able to use React + css to get the desired effect you want.

[2020-02-20 01:52] MatthewHerbst commented on #217
Hmm. Right now there is no ability to do that, but it would be a pretty trivial PR to add a `suppresErrors` prop to do what you want. I'm out of town right now, but if you can make the PR I can review it and merge it when I return in a few days.

[2020-02-20 10:11] metzgegu commented on #213
It print only the first page because your component which you want to print have `overflow: scroll` :

You should print only the child of the div which have the scroll to get its full content
Just like this : https://codesandbox.io/s/react-to-print-bfybw

[2020-02-20 13:14] tygraphics commented on #205
Your print dialog looks like you are using chrome with PDF as target. If you choose a specific printer as target you will see more options. Safari gives full range of options with PDF as target.

[2020-02-20 18:07] #205 closed, assigned to nobody

[2020-02-22 00:46] dtgreene opened #218 "Image duplication in IE"
I'm having an issue with images duplicating once or twice when using this in IE.  In FF and Chrome it prints as expected; a document with just a single image.  But in IE, the result is multiple images stacked on the document.  Other elements will render fine around it.

[code]

This document comes out with two images stacked but I've seen it do three as well.  Is there maybe a workaround or known

[2020-02-22 12:19] soundquiet opened #219 "ReactToPrint trigger by ref of button outside component"
hi, I want to know if it is possible to use `ref` for `trigger`. I would like to put the print button in the parent component.

I tried `trigger={()=>this.printRef}` but it did not work.

Did I make some misunderstandings? thanks a lot.

[2020-02-22 15:30] MatthewHerbst commented on #219
Hello. This is not currently possible, however, it could probably be made possible with a relatively simple PR. I'm currently traveling so can't make one myself. I'd be happy to review one of you can make it.

[2020-02-22 15:32] MatthewHerbst commented on #218
Hello, thanks for the report. Could you by chance make a working codesandbox or similar showing the full code/problem? Thanks

[2020-02-24 02:48] dtgreene commented on #218
Sure thing.

https://codesandbox.io/s/react-to-print-multi-image-issue-in-ie-example-gpxg6

I don't think codesandbox works in IE but I pulled it up in Edge and it has the same issue it looks like.  Thanks

[2020-02-24 06:37] MatthewHerbst commented on #213
@ishan7 does @metzgegu's solution work for you?

[2020-02-24 06:38] MatthewHerbst commented on #11
Hi @adam-ludgate, how are you loading the style in prod versus dev?

[2020-02-24 06:41] MatthewHerbst commented on #180
@actiongeek can you tell me more about the browser you are using? What version of Edge, etc? As noted in my previous post, there's not much we can do if your browser doesn't support `contentWindow`, unless you know of workaround for when it does not exist?

[2020-02-24 19:59] dongarchive commented on #63
Hey is this possible to re-open. I'm having the same issue, I'm utilizing `styled-components` and none of the styled components are being printed out with the applied styles.

[2020-02-24 20:44] MatthewHerbst commented on #63
Hi @dongapplyboard would you mind making a new issue please? Also, please be sure to ideally include a codesandbox or similar showing an MVP of the problem you are having. Thanks!

[2020-02-25 16:26] adam-ludgate commented on #11
It's definitely some sort of loading issue. Doing this inside a Ruby on Rails project.
It looks like react-to-print cannot find the CSS styles defined in the webpacker directory, so I had to workaround this by moving the CSS outside into Rails.

I don't think this is necessarily a bug with react-to-print, more likely the way rails projects are configured. Anyway, noting the above workaround for an

[2020-02-25 17:27] MatthewHerbst commented on #11
Ok, thanks for the update. `react-to-print` should copy all styles (global, inline, and linked sheets) that are loaded on the page at the time printing is performed. It does not have the ability to load styles that are not already on the page.

[2020-02-26 19:30] polaris218 commented on #180
@MatthewHerbst  Sorry too lated.
Actually this issue is from [Sentry](https://sentry.io).
Issue is https://sentry.io/share/issue/a5d5d474b6ee4f0ba10beed823be4ddf/
It catched error from Edge Browser User. As I wrote before, it's working perfectly in Modern broswers.
So I would like to know this package supports the Edge 11 or not.

[2020-02-26 19:52] MatthewHerbst commented on #180
Yes, we try to support IE 11, and we do support Edge. Edge and IE [both support `contentWindow`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLIFrameElement/contentWindow), so I'm extremely skeptical that the browser this error occurred on is IE11 or Edge. Are you able to reproduce it? Did you create the error, or did one of your users?

[2020-02-27 16:55] augustofontes commented on #180
We are also facing this error. Not only on Edge, but also on Chrome.

On Edge: Unable to get property 'focus' of undefined or null reference
On Chrome: Cannot read property 'focus' of null

Always happens after user clicks print button.

[2020-02-27 17:53] MatthewHerbst commented on #180
@augustofontes can you please share a codesandbox or something where you can reproduce this error?

[2020-03-02 21:23] invious commented on #217
https://github.com/gregnb/react-to-print/pull/220

[2020-03-02 21:47] MatthewHerbst commented on #217
Published in `v2.6.0`, thank you!

[2020-03-02 21:47] #217 closed, assigned to nobody

[2020-03-03 16:14] chrisphillers commented on #218
I am having this issue also.

[2020-03-03 16:18] chrisphillers commented on #215
This would be a great feature.

[2020-03-06 12:40] rayfcrols opened #225 "Print two or more components"
Display the component only once and print the same component two or more times. How to proceed?

More specifically I have an html form component, which must be printed 2 copies on a single page.

Example: [https://codesandbox.io/s/react-to-print-5yirl](https://codesandbox.io/s/react-to-print-5yirl)

[2020-03-06 18:24] MatthewHerbst commented on #225
It will print whatever is on the page within the `content` ref. If you need to duplicate something on the page you need to do that before printing happens, such as by using the `onBeforeGetContent` prop to modify content before print, and then using `onAfterPrint` to cleanup that modification once printing is completed.

[2020-03-08 12:55] rayfcrols commented on #225
Thanks, Matthew. Do you have an example?

[2020-03-08 20:13] MatthewHerbst commented on #225
The example code in the repo shows how to use it: https://github.com/gregnb/react-to-print/blob/master/example/index.tsx please let me know if you encounter any issues

[2020-03-10 15:29] invious opened #229 "Content disappears after saving"
I don't know if this is an issue with React to Print or my specific implementation, but content shows up fine in the print preview window and then when you actually go to save it, it. disappears. And not all of it, just a certain part

![image](https://user-images.githubusercontent.com/1996089/76329007-6243a800-62c2-11ea-938f-276af27092e8.png)

![image](https://user-images.githubusercontent.com/19

[2020-03-10 18:32] invious commented on #225
[code]

[code]

[2020-03-10 21:05] MatthewHerbst commented on #229
Hello. This sounds like an issue on your machine/browsers, not a library issue. However, I'm happy to take a deeper look if you are able to provide a working codesandbox or similar for me to play with the issue you are seeing. Thanks

[2020-03-13 12:56] Andersclark commented on #93
Did you find a solution? I'm having this issue right now.

[2020-03-16 07:39] akmur commented on #93
Hi, no, I just disabled it on firefox mobile, while on normal firefox it
seems to work fine

On Fri, 13 Mar 2020 at 13:56, Andersclark <notifications@github.com> wrote:

--
Alessandro Muraro

LinkedIn <https://www.linkedin.com/in/alessandromuraro/> - alexmuraro.me

[2020-03-18 14:41] theghostyced opened #232 "External Image links are broken"
## Description
- I have an image tag that fetches its image from `Google Storage` but the image is broken.

<img width="635" alt="Screenshot 2020-03-18 at 15 39 52" src="https://user-images.githubusercontent.com/28215750/76972480-ee8f4400-692e-11ea-94b9-76d2901bad11.png">

Any ideas how to go about this?

[2020-03-18 20:02] MatthewHerbst commented on #232
Hello. Is it broken in general, or just when using `react-to-print`? Can you please share a codesandbox example if possible? Thanks

[2020-03-19 12:21] theghostyced commented on #232
When using `react-to-print` the external image from GCP storage links dont show up it instead shows just a broken image link.. Will try to reproduce in a codesandbox

[2020-03-19 13:12] MatthewHerbst commented on #232
Yeah, if you could make a working codesandbox that would be fantastic, thank you

[2020-03-19 14:37] theghostyced commented on #232
Hey @MatthewHerbst I couldnt replicate it on CodeSandbox so i screen recorded it instead, apologies for the screen size

![dad](http://g.recordit.co/TlghI5Dc4K.gif)

Here is the image link that was generated `https://storage.googleapis.com/elliot-images-us/production/842/lookandfeel/SLxB_FullLogo-02.png`

Screen record link for the video - https://recordit.co/TlghI5Dc4K

[2020-03-20 17:56] MatthewHerbst commented on #232
I don't see you opening the print window in that video? I really can't do much to investigate without a reproducible example unfortunately.

[2020-03-20 19:11] p8ul commented on #232
The issue happens when you don't give DOM enough time to load the image once it has the src set. [stackoverflow](https://stackoverflow.com/a/38247699/9298143)

A quick hack is to download the image blob then convert it to image URL, in advance. Then use it on the print content.

[code]

[2020-03-20 19:13] theghostyced commented on #232
Thanks a lot @p8ul that solved it.. Thanks also @MatthewHerbst  for the time

[2020-03-20 19:15] MatthewHerbst commented on #232
Glad that got figured out, thank you

[2020-03-20 19:15] #232 closed, assigned to nobody

[2020-03-22 11:34] k-eb opened #233 "IE11 supported?"
Hi, I am considering using this package for a project, but I need to support IE11. Does this package support IE11?

Wasn’t sure about this because the repo subtitle excludes IE: **„Print React components in the browser. Supports Chrome, Safari, Firefox and EDGE“**.

But scanning through the repo I see IE issues being addressed.

Thanks for any clarification.

[2020-03-23 05:21] MatthewHerbst commented on #233
Hello, thanks for your interest! We do our very best to maintain support for IE11. As far as I know the package works for IE11, and if you find any bugs we will do our best to support them!

[2020-03-23 05:21] #233 closed, assigned to nobody

[2020-03-23 20:31] cyruzin commented on #225
Thanks bro, that worked for my case.

[2020-03-23 23:30] #225 closed, assigned to nobody

[2020-03-29 09:15] Andersclark commented on #93
Yeah. I seemed to have plugins interfering...

On Mon, Mar 16, 2020, 08:39 Alex Muraro <notifications@github.com> wrote:

[2020-03-31 03:44] manhlt1990 opened #234 "Set zoom default when print preview."
When print preview, I want set zoom in default 200%. How can i do that?
![Untitled](https://user-images.githubusercontent.com/18260709/77984655-63ee1200-733c-11ea-918f-bfa6421247f3.png)

[2020-03-31 23:27] MatthewHerbst commented on #234
Hello. Unfortunately the zoom level is set by your browser, and it something that we have no control over. Once the print menu opens we have no control. The only thing we control is when the print window opens and what content it has.

[2020-04-02 22:40] puneethbs opened #235 "How do I use this library and print window opens in new tab?"

[2020-04-03 12:34] MatthewHerbst commented on #235
Hello. The print window will do whatever your browser decides, we have no control over it. All we can do is open the print widow.

[2020-04-03 15:05] puneethbs commented on #235
[code]

I have this code, some link opens in a new tab, but the print window opens in the same tab, where we click.

https://codesandbox.io/s/react-to-print-xjr7i

[2020-04-03 22:07] MatthewHerbst commented on #235
Why would you expect it to open on the page the link goes to?

[2020-04-04 02:49] soccermom123 commented on #122
I used ' document.title="the-name-of-the-pdf-file"; ' to set title of the page,and turns out it worked(edge firefox and chrome).

[2020-04-07 20:23] dioscarey commented on #218
I had the same issue but I was able to avoid this issue removing header images-> https://github.com/gregnb/react-to-print/pull/236

[2020-04-08 00:40] kumar516 opened #237 "In my code after click on the print in the print option layout option is not showing whether I want landscape or portrait mode?"

[2020-04-08 18:01] MatthewHerbst commented on #237
Hello. `react-to-print` can only open the print window, we have no control over what the print window shows you or what options it has, those are all based on the browser you are using.

[2020-04-08 18:01] #237 closed, assigned to nobody

[2020-04-08 19:18] dance-dance-banana-frenzy opened #238 "Italic corrupts printed page."
In google chrome mac os, the following cases cause a corruption problem printing italic text.

This works
[code]

This fails
[code]

This fails
[code]

This fails
[code]

This fails
[code]
[code]

Example of failure
<img width="999" alt="Screen Shot 2020-04-08 at 3 15 58 PM" src="https://user-images.githubusercontent.com/47341218/78824217-009f5800-79ac-11ea-897f-ebacb9503e5a.png">

[2020-04-08 19:49] MatthewHerbst commented on #238
Hi, thanks for the issue. Can you confirm to me that this happens only when printing via `react-to-print`, and not also when simply hitting `cmd+p` on the page?

[2020-04-08 19:57] dance-dance-banana-frenzy commented on #238
Yes. I found it was with hitting `cmd+p`. However, I was able to knock it down to the font being used. It has a problem with one of these.
`font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,Icons16,sans-serif;`

[2020-04-08 20:58] #238 closed, assigned to nobody

[2020-04-09 17:49] MatthewHerbst commented on #238
Yeah, sounds like a Chrome issue. If you find a Chromium bug for this please feel free to link it back here so we can track it. Thanks!

[2020-04-12 19:11] MatthewHerbst commented on #214
Hi, sorry for not getting back to you on this. Are you still having this issue?

[2020-04-12 19:23] MatthewHerbst commented on #218
I'm unable to reproduce the Edge 80 using BrowserStack. I believe you all that this is happening, I'm just not able to reproduce it yet (meaning I can't vet any fixes for it). I've requested free access from them via their open source program to be able to test using IE (normally requires a paid plan).

[2020-04-12 19:37] MatthewHerbst commented on #93
I am adding in a check for this, as well as an error message specifying that printing cannot happen because the browser does not support `.print` on iframes. I would love to find an actual fix for this since it seems strange to me that Mobile Firefox wouldn't support printing. I should note that the way we print is exactly the way [MDN suggests printing a hidden iframe](https://developer.mozilla.o

[2020-04-12 19:40] #235 closed, assigned to nobody

[2020-04-12 19:40] MatthewHerbst commented on #235
Happy to help you with ideas to solve your problem, but what you are trying to do is actually unrelated to this library

[2020-04-12 21:11] #216 closed, assigned to nobody

[2020-04-12 21:11] #229 closed, assigned to nobody

[2020-04-12 21:13] #199 closed, assigned to nobody

[2020-04-13 06:01] #62 closed, assigned to nobody

[2020-04-13 06:04] MatthewHerbst commented on #195
This is likely related to #196

[2020-04-13 06:05] #190 closed, assigned to nobody

[2020-04-13 06:06] #188 closed, assigned to nobody

[2020-04-13 06:06] #185 closed, assigned to nobody

[2020-04-13 06:07] #136 closed, assigned to nobody

[2020-04-13 06:08] #177 closed, assigned to nobody

[2020-04-13 06:08] #182 closed, assigned to nobody

[2020-04-16 10:23] Si3rr4wow commented on #112
I know this is closed but I hope it's ok to throw in my 2 cents here because this tread kept coming up while I was googling for something like this.

I had a scenario where I needed users to provide authorisation before printing, and prevent that print if the auth failed or was cancelled.

I achieved this by awaiting a promise in onBeforePrint. The promise passes it's resolve and reject functions

[2020-04-16 16:55] MatthewHerbst commented on #112
Thanks for the example @Si3rr4wow

[2020-04-18 08:41] Andersclark commented on #93
**@MatthewHerbst -Thanks for getting back to me!

I suppose we are talking about two issues:**
1. Firefox Android not supporting window.print()
2. Firefox desktop not showing preview when calling window.print() (though it has printpreview as a menu option).

I'm mostly concerned with the second one, since I bothered writing a component for printing, which is now not displayed in FF. As far as I ca

[2020-04-18 16:37] MatthewHerbst commented on #93
I'll take a look at `printPreview` tonight, thanks!

[2020-04-19 22:14] MatthewHerbst commented on #93
@Andersclark there is some really good (and really long) discussion about all of this in [**this**](https://bugzilla.mozilla.org/show_bug.cgi?id=1269300) bug report/feature request/pr, which is where the FireFox only `browser.tabs.printPreview` came into being.

It seems that Firefox opening the print dialog on `window.print` instead of the print preview dialog is intentional (why I couldn't tell

[2020-04-19 23:05] #234 closed, assigned to nobody

[2020-04-20 00:56] MatthewHerbst commented on #214
Reading [this blog post](https://medium.com/@martin_hotell/react-refs-with-typescript-a32d56c4d315), can you try doing `const componentRef<FunctionComponent> = useRef(null);` and let me know if that helps? They also recommend that same approach in `DefinitelyTyped`: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/35572#issuecomment-498242139

[2020-04-20 00:57] MatthewHerbst commented on #214
Though I remind you that officially we do _not_ support functional components right now, so I also don't know how `FunctionComponent` plays into what might be going on here.

[2020-04-20 02:27] MatthewHerbst commented on #214
I was able to get a working version using `React.Component` when doing `const componentRef<Component> = useRef(null);` However, `FunctionalComponent` through type errors. It might be possible to resolve them but I don't have the time to look at that tonight.

[2020-04-20 05:05] #210 closed, assigned to nobody

[2020-04-20 05:07] MatthewHerbst commented on #175
@ludan1107743896 sorry I never got back to you. If you are still having an issue please open a new ticket for that.

@felri if you are able to find a cross-browser solution I'm happy to look into it, but I don't think it's right for us to implement features for a single browser at a time. Going to close this for now, please re-open if you need to, or feel free to create a new issue

[2020-04-20 05:07] #175 closed, assigned to nobody

[2020-04-20 05:07] #45 closed, assigned to nobody

[2020-04-20 05:14] MatthewHerbst commented on #206
@xStorm111 sorry for taking so long to get back to you. Does `mui-datatable` do virtual rendering? I think this is the same issue as https://github.com/gregnb/react-to-print/issues/95

I'm taking another look at it. It should be fixable, but very difficult and will be hard to test it properly.

[2020-04-22 08:49] xStorm111 commented on #206
@MatthewHerbst Hello, you don't have to be sorry for it.
I made some progress about this, i manage to realize this bug only happens **IF** i have maxBodyHeight defined.

Makes sense that react-to-print reacts that way to a maxBodyHeight

[2020-04-22 09:07] saraems commented on #15
Hello,  It's still not working. I have that issue. <ComponentToPrint/> contains the img with src or the div with a background but it's not on the print. What is more it does not trigger print-system dialog while <ComponentToPrint/> contains an image.

[2020-04-22 16:49] MatthewHerbst commented on #15
hello @saraems can you please possibly make a codesandbox showing the problem?

[2020-04-22 16:58] MatthewHerbst commented on #206
@xStorm111 interesting. I wonder if a solution would be for `react-to-print` to remove that property if it exists? That seems like it could cause other problems though since we don't know anything else about the styles.

[2020-04-25 12:10] manfye opened #240 "print orientation"
How do I set for portrait or landscape mode in default?

[2020-04-25 18:32] MatthewHerbst commented on #240
I don't believe there is a way to do that. The settings in the print preview dialog are determined by your browser, and there is no standard way that I know of to set them across all browsers. If you know of such a mechanism please let me know!

[2020-04-25 18:32] #240 closed, assigned to nobody

[2020-04-28 13:33] stranzhay commented on #218
any update on this issue ? experiencing the same thing in IE in company production code. i see there is an open PR for the edge issue that seems to include a fix for IE as well.

[2020-04-29 15:02] lantanios commented on #218
Both IE 11 and Edge 42 are pulling all the img tags that exist on the page (outside of the ref div) and showing them on print screen at the top of the page.

I'm using react-to-print 2.6.3

[2020-04-29 17:34] MatthewHerbst commented on #218
I'm going to do my best to get #236 released with #239 this week, possibly this afternoon.

[2020-04-30 09:01] MatthewHerbst commented on #218
I've published a new release, `2.7.0-beta.1` Could you please try it out and see if it fixes the problems?

[2020-04-30 14:07] lantanios commented on #218
Hi. I tried the new beta and getting compilation error:

Failed to compile.

./node_modules/react-to-print/lib/index.js
Module not found: Can't resolve 'ReactDOM' in '***\node_modules\react-to-print\lib'

[2020-04-30 18:03] stranzhay commented on #218
Receiving this error as well in my build.

[2020-04-30 20:31] MatthewHerbst commented on #218
Oops, my mistake. That error is coming from [this change](https://github.com/gregnb/react-to-print/pull/239/commits/af4bbf612e54c32e0bdbae000590ef08da89c88c), which I have reverted in `1.7.0-beta.2` which is now available. Sorry for that. It doesn't impact the local experience apparently which is why I didn't catch it while developing locally.

[2020-04-30 20:31] MatthewHerbst commented on #218
Please let me know how `1.7.0-beta.2` works for you, thank you for working with me on this.

[2020-04-30 22:03] lantanios commented on #218
1.7.0-beta.2 has solved the issue in both Edge and IE.
Thank you for quick response and solution!

[2020-04-30 22:52] sunilb0575 commented on #215
Is someone working on this issue?

`
YES ? "how to track the status" : NO ? "Can I try working on this" : "would love to have this feature"
`

@MatthewHerbst

[2020-05-01 00:41] MatthewHerbst commented on #215
@sunilb0575 There was some work done in #230 to try and do this but it ended up not working out. You are more than welcome to make a PR that attempts to do this. Things to keep in mind:

- It needs to work across browsers
- If it brings in an external dependency
  - We need to be able to justify the size increase
  - The dependency should be highly used and well maintained

Considering any PDF dow

[2020-05-01 14:48] stranzhay commented on #218
Thanks for the quick solution! Pushed and tested the update and it works great.

[2020-05-01 19:50] dioscarey commented on #218
@MatthewHerbst Awesome, thanks! That works, next week  I'll do better tests, but apparently it works as expected great work!

[2020-05-01 20:28] MatthewHerbst commented on #211
@william-deckard This should be fixed in `2.7.0`, where only `img` nodes that are children of the React component being printed are loaded. Please let me know if you see any issues!

[2020-05-01 20:28] #211 closed, assigned to nobody

[2020-05-01 20:29] MatthewHerbst commented on #218
This is out of beta and published as `2.7.0`. Glad this seems to be working for everyone, and thanks for working with me to get it fixed! Going to close this for now. Please feel free to comment and/or open a new issue if you find any problems.

[2020-05-01 20:29] #218 closed, assigned to nobody

[2020-05-01 20:31] #120 closed, assigned to nobody

[2020-05-01 21:20] sunilb0575 commented on #93
I am using the latest version of firefox and still don't get the print preview and also not able to print.
I see this error  in the console: SecurityError: CSSStyleSheet.cssRules getter: Not allowed to access cross-origin stylesheet

Is this issue fixed?
@MatthewHerbst

[2020-05-02 00:05] MatthewHerbst commented on #93
Hi @sunilb0575 If you read above, you will see that, AFAIK, there is no ability to programmatically show the print preview window in Firefox for an arbitrary iframe. If you know of a way to do so, or know someone who might, please direct them here or to the linked SO question.

As for the error you are getting, can you please create a codesandbox or similar that I can use to replicate that? I just

[2020-05-02 13:16] saidybarry opened #242 "react-to-print can't resolve react-dom on nextjs project?"
I have tried installing react-dom, but no avail.

[2020-05-02 19:00] MatthewHerbst commented on #242
Hello. Can you please let me know what version of `react-to-print` you are using? Also, a working codesandbox showing the problem would be greatly appreciated.

[2020-05-02 23:28] sunilb0575 commented on #93
Thanks, @MatthewHerbst  the not-printing issue was happening because of a plugin on my local. So I am good now.

[2020-05-04 09:13] zb2oby opened #243 "default title when print to pdf."
Hello,

Actually when i try to print to pdf, it takes page's title defined in the head tag.

Is there any existing props to customize page title for print to pdf ? Anyway, it could be a great feature.

Thanks

EDIT : i've seen there was another issue about this. #122 . But there was not real solution, just workarounds. My problem is i'm using Helmet to update document title dynamically. And i don'

[2020-05-04 12:39] saidybarry commented on #242
Hi, I was using the "2.7.0 beta", but I resolved my issue by downgrading to
"2.7.0"
*Saidy Barry,*
*Lead Backend Engineer* | *2581571,*

*7-8 Madiba Mall, *
*Brufut Gardens,*
*Brufut,*

*The Gambia*

*www.assutech.gm <http://www.assutech.gm/>*

On Sat, May 2, 2020 at 7:01 PM Matthew Herbst <notifications@github.com>
wrote:

[2020-05-04 17:37] MatthewHerbst commented on #242
Hi @saidybarry moving from `2.7.0-beta.1` to `2.7.0` is an upgrade, not a downgrade :) Glad you resolved the issue

[2020-05-04 17:37] #242 closed, assigned to nobody

[2020-05-05 19:31] MatthewHerbst commented on #243
I've been thinking for a while we should probably expose a prop to easily do this. Are you interested in making a PR for it? The prop could just be called `title`. It should probably accept a string or a function (no args) that returns a string.

[2020-05-06 12:08] saidybarry commented on #242
Lol Indeed my bad.
*Saidy Barry,*
*Lead Backend Engineer* | *2581571,*

*7-8 Madiba Mall, *
*Brufut Gardens,*
*Brufut,*

*The Gambia*

*www.assutech.gm <http://www.assutech.gm/>*

On Mon, May 4, 2020 at 5:37 PM Matthew Herbst <notifications@github.com>
wrote:

[2020-05-06 12:58] 7xrobin commented on #189
I'm having a similar issue. Some properties related to background and images are not been displayed on the print even with the "Background graphics" option. Change the component to use Hooks doesn't solve my problems.

[2020-05-06 17:53] MatthewHerbst commented on #189
@robindesu can you please create a codesandbox showing the problem? Thanks

[2020-05-06 19:15] 7xrobin commented on #189
@MatthewHerbst I created the Sandbox trying to replicate my application, but the problem doesn't appear. What is different from mine is the data fetching that I add to a table imported from Ant Design lib, but this is indicated on the code:

https://codesandbox.io/s/damp-sky-ttl7f

If you have any idea what could be wrong, let me know, please.

[2020-05-08 18:51] MatthewHerbst commented on #189
@robindesu can you please update it to show the fetching code? It could be that you are trying to print before all the data is loaded.

[2020-05-08 19:08] davidjbradshaw opened #246 "Child prop"
Just wondering why the content to print is not the child of the ` < ReactToPrint>` component. It would make the syntax a lot simpler

    <ReactToPrint trigger={() => <button>Print this out!</button>} />
      <ComponentToPrint />
    </ReactToPrint >

Instead of

    <div>
      <ReactToPrint
        trigger={() => <button>Print this out!</button>}
        content={() => componentRef.current}

[2020-05-08 19:16] 7xrobin commented on #189
@MatthewHerbst I can't add the fetch, because it's private from my company, and it is necessary to have token access.
 But the data is showed on the print, in a table. Just the red color on the top of the page, as in the codesandbox, doesn't appear on the print of my application.
I tried to change the styling methods, for inline and by class but didn't work.

[2020-05-08 19:24] MatthewHerbst commented on #246
I couldn't say, it's been this way since before I got involved with the library. We could certainly talk about support using children instead of having to pass `content`.

[2020-05-08 21:35] MatthewHerbst commented on #189
I couldn't tell you why it doesn't work without having a working example showing it not working, I'm sorry.

[2020-05-10 12:35] laolaolulu opened #247 "Table header cannot wrap?"
![TIM截图20200510203342](https://user-images.githubusercontent.com/33310261/81499375-bc320f80-92fd-11ea-9610-1ed1eef0566d.png)
![TIM截图20200510203412](https://user-images.githubusercontent.com/33310261/81499391-dbc93800-92fd-11ea-8ccd-808cb6ab5dfa.png)

[2020-05-10 20:25] MatthewHerbst commented on #247
Hello. Thank you for reporting the problem. Can you please make a working demo (codesandbox for example) that shows the problem so I can debug? Thank you

[2020-05-13 21:11] laurpaik-zz opened #248 "Trigger does nothing if it returns a React component"
https://codesandbox.io/s/react-to-print-uhwxj

Heya 👋 see above sandbox
 I see you do clone a component at least shallowly https://github.com/gregnb/react-to-print/blob/master/src/index.tsx#L328 --
Is there a way to set a more complex component as the trigger without wrapping in html elements, and if not, could you please update your docs to reflect what the trigger prop supports?

[2020-05-14 10:17] MattFromGer commented on #196
Maybe this issue comes from the fact that the DOM tree gets cloned and some attributes are getting lost in the process?
The built-in browser printing mode works as expected.

Same issue here: #66 which got closed mistakenly.

[2020-05-14 17:46] dkumar431 commented on #235
@MatthewHerbst ,
I am having the exact same issue, I want to open the print window in a new tab.
Is there any option available in react-to-print library? Basically I want that when someone clicks on the print button it should open a new tab with print option.

[2020-05-14 17:55] MatthewHerbst commented on #196
@MattFromGer yes, all these issues are likely related. I don't know what's causing them. If you have any ideas, I'm happy to explore. #66 was closed because the same issue is now being tracked in #195

[2020-05-14 17:57] MatthewHerbst commented on #235
@dkumar431 This is not a thing that `react-to-print` (or any other library) can solve for you. If you want to open a new tab with the content, then you need to design a page/js that will render that content into that page when it is opened, the same way your pages work now. `react-to-print` can live in that code and print it from that page, but it's not possible for us to open a new tab for you an

[2020-05-14 18:09] dkumar431 commented on #235
Thanks, @MatthewHerbst for your quick response. Basically, as this print dialog blocking the UI thread like a default js alert box, I had a requirement to open in a new window. I got your point now.

[2020-05-15 00:26] MatthewHerbst commented on #248
Hi, thanks for the question.

You can use an arbitrarily complex component already, you just need to pass along the `onClick` that we provide in the cloned component. Something like:

[code]

Does that work? I haven't tried it, but I feel like it _should_.

Regardless, we definitely should document this better. I will work on that in the next couple of days.

[2020-05-15 21:56] BennettDixon commented on #248
Hello! I'm using this in a project and actually just came across this issue. Doing the following like @MatthewHerbst said works for me. I passed all props, but passing just the onClick probably works too although I didn't test that:

[code]

Then in the other file:
[code]

[2020-05-16 22:20] #243 closed, assigned to nobody

[2020-05-16 22:30] MatthewHerbst commented on #214
Going to close this for now. Let me know if the issue still exists and we can work to fix it. We are now supporting functional components with the new hook we have!

[2020-05-16 22:30] #214 closed, assigned to nobody

[2020-05-16 22:31] #212 closed, assigned to nobody

[2020-05-16 22:32] #135 closed, assigned to nobody

[2020-05-20 00:44] MatthewHerbst commented on #219
This is available in `2.8.0-beta.1` and will be available in `2.8.0` later tonight. Thanks fo the ideas!

[2020-05-20 00:44] #219 closed, assigned to nobody

[2020-05-27 13:35] dmajumder4292 commented on #96
If one wants to just have functional components, they can refer to the below example:

[code]

[2020-05-27 16:54] MickaelNeves commented on #159
instead of hiding the element with `{ display: 'none'; }`, try using `{ overflow: hidden; height: 0; }`

[2020-05-27 18:12] tarunpathak1996 opened #251 "ctrl+p is not working properly"
<ReactToPrint
  trigger={() => <a href="#">Print this out!</a>}
  content={() => componentRef.current}
  onBeforePrint={() => setPrintMode(true)}
  onAfterPrint={() => setPrintMode(false)}
/>
I want when I press ctrl+p on browser , my onbeforePrint execute . but it only executing when I click on link provided in trigger prop.
.

[2020-05-27 19:26] MatthewHerbst commented on #251
`ctrl+p` does not call `react-to-print`, it calls the browser's print action. `react-to-print` is a way to programmatically call the browser's print action.

[2020-05-29 10:34] SidKH commented on #11
Seems like `2.8.0` reintroduced the issue.

If I use `<ReactToPrint />` component everything works fine, but with `useReactToPrint` hook (which is amazing btw) styles are not loaded.

**Update:** seems to be related to default props. If I pass `copyStyles: true` to the hook, styles are loading.

[2020-05-29 14:05] kevfay opened #252 "Breaking table layout on Component"
I have a component that I am calling with ReactToPrint that has a table layout to contain the header and footer on each page. Does ReactToPrint add a wrapper or other code that could be breaking my page? When I print the page with the component it works perfectly, but using ReactToPrint it pushes my header to the bottom of the page. I essentially want ReactToPrint my component with nothing extra.

[2020-05-29 17:38] MatthewHerbst commented on #252
Hello. We default the `pageStyle` prop to: `"@page { size: auto;  margin: 0mm; } @media print { body { -webkit-print-color-adjust: exact; } }"` This could potentially be impacting you. You could try overriding it by passing an empty string, though I'm not sure why that would be causing the issue you have. Could you make a codesandbox or similar so your issue can be reproduced? Thanks

[2020-05-29 17:45] MatthewHerbst commented on #11
@SidKH interesting, thanks for reporting that. I wonder if the `defaultProps` from the class are not being properly used when in the hook, I'll take a look

[2020-06-02 00:39] leanesanity opened #253 "How to set default paper size ?"
Good Day,

Can you help me ?
Since there is not really much information about setting defaults for printing for this library.
I would like to ask if it's possible to set in this library?
Would appreciate if you could provide sample on setting default paper sizer and other options,

Thank you very much

[2020-06-02 15:29] JoshuaKGoldberg opened #254 "Clear onload in all browsers (not just IE)?"
Hi! This library is great, thanks so much for making it! 💖

Is there a need to  [only set `printWindow.onload = null;` in IE](https://github.com/gregnb/react-to-print/blob/a192abd07cda318b89d7eaf81198c985cde58b97/src/index.tsx#L228)? Seems like that could run regardless of browser right?

https://github.com/gregnb/react-to-print/blob/a192abd07cda318b89d7eaf81198c985cde58b97/src/index.tsx#L228

Som

[2020-06-03 01:54] MatthewHerbst commented on #253
Hello. The default paper size is determined by your printer and browser, and is not something this library has any control over. All we do is open the print preview modal from your browser with the specified content. We unfortunately have no ability to modify settings in that modal because there is no standard browser API to do that.

[2020-06-03 01:54] #253 closed, assigned to nobody

[2020-06-03 02:02] MatthewHerbst commented on #254
Hi, thanks for the report. That does seem like an interesting issue. And I agree, I don't see why we can't just always clear out the event listener. I'll get it in with some changes I'm making tonight!

[2020-06-03 02:28] MatthewHerbst commented on #254
Should be fixed in the just published `2.9.0`, let me know if you see any issues.

Also, if you ever wanted to help us move from tslint to eslint, would appreciate any support there :)

[2020-06-03 02:28] #254 closed, assigned to nobody

[2020-06-03 02:28] MatthewHerbst commented on #11
@SidKH should be fixed in `2.9.0`, thanks for the report

[2020-06-03 02:50] JoshuaKGoldberg commented on #254
Aaaaah I would love to! Expect a PR tonight! 🌹

[2020-06-05 16:42] raedbenz opened #259 "Provide practical examples using pageStyle property"
there is a lack of examples of using pageStyle e.g. how to fit component into A4 page, etc...
Please provide better description and examples !

[2020-06-05 17:37] MatthewHerbst commented on #259
You are welcome to submit a PR 😄

[2020-06-09 08:34] tugayevci commented on #196
Any update ?

[2020-06-09 16:44] #252 closed, assigned to nobody

[2020-06-09 16:44] kevfay commented on #252
Wasn't an issue with React To Print.

[2020-06-09 16:49] kevfay opened #261 "findDomNode is deprecated in StrictMode"
I am referencing a component to be printed and receiving the error below when clicking the button for the print popup:

![image](https://user-images.githubusercontent.com/26905265/84176328-35349c00-aa4f-11ea-90b6-7b3b50b18cec.png)

![image](https://user-images.githubusercontent.com/26905265/84176425-5c8b6900-aa4f-11ea-9853-59612743eb2b.png)

`<Buildsheet vin={vin} ref={componentRef} /> `
-- it's a

[2020-06-12 00:45] hope0922 commented on #213
Thanks. It works for me

[2020-06-14 18:38] MatthewHerbst commented on #261
Hello. Apologies for not responding sooner. We do use `findDOMNode`. We can't change that right now since it would be a breaking change since it would force our users to use a newer version of React.

It seems the error you are getting is actually a warning, and not something that needs to be dealt with right now, unless you are seeing something not work? When React 17 comes out we will have to re

[2020-06-16 19:18] alxmrtn opened #262 "Lazy load content for a search results page?"
I'm currently working on building a search results page that has the option to print directly from the search results page. Our current implementation loads the content for all of the search results as hidden components for printing. Is there a way to only load the content to print once the trigger has been clicked?

[2020-06-16 21:56] MatthewHerbst commented on #262
Yes! Using the `onBeforeGetContent` prop you can initiate a Promise and do whatever you need to do to the page. `react-to-print` will not gather the contents of the page until the Promise resolves:

[code]

Could also use `async`/`await`:

[code]

[2020-06-17 15:16] murilinhoPs opened #263 "Some styles not appearing on print"
When I click print on my printing button it print everything I want, but it breaks the styles from children that have the display flex on my css (display:flex).

The code:
[code]

The flex property works inside the <div className="container"> but it breaks the flex style that is inside the TodoDaily component and is children.

This is how it should looks:
![Captura de tela de 2020-06-17 12-06-19](

[2020-06-17 17:04] MatthewHerbst commented on #263
Hello. Could you by chance make a codesandbox that replicates your issue? It's hard to diagnose any problems without having all of the working code

[2020-06-17 17:15] murilinhoPs commented on #263
Okay, I'll create a codesandbox and send it to you, thanks!

[2020-06-17 17:22] murilinhoPs commented on #263
The link to sandbox:

https://codesandbox.io/s/github/murilinhoPs/MVP-Rotina-IL/tree/master/?fontsize=14&hidenavigation=1&theme=dark

https://codesandbox.io/s/github/murilinhoPs/MVP-Rotina-IL?file=/src/index.js

[2020-06-18 18:03] MatthewHerbst commented on #263
Thanks, I'll take a look when I get some free time

[2020-06-23 06:23] shashankrepo opened #264 "Multiple page print - default top and bottom margin."
When printing the component, I see there is no default margin. For the left and right margin, I have given some padding in the root component, but when the component is taking more than one page, it is continued and there is no top and bottom margin in pdf.

[2020-06-23 18:57] shashankrepo commented on #264
pageStyle:
      '@page { size: auto;  margin: 10mm; } @media print { body { -webkit-print-color-adjust: exact; } }'

[2020-06-23 18:57] #264 closed, assigned to nobody

[2020-06-24 04:26] MatthewHerbst commented on #264
Glad you got this figured out!

[2020-06-29 01:27] xgj1988 commented on #240
@manfye  Did you resolve this problem?

[2020-07-11 21:17] LucasBSC commented on #26
Hello, is this problem already solved somehow? Having same issue here

[2020-07-12 19:54] MatthewHerbst commented on #26
Hi @LucasBSC can you please create a new issue with more details if you are experiencing a problem? Thank you

[2020-07-17 16:57] hbrannan commented on #54
After playing for a while, the solution that worked for me was to treat `page-break` (`-inside`, etc.) more granularly than I had been.

I had been under the impression that my dynamically rendering react components' split would happen automatically as long as I didn't have overflow or display set incompatibly with print mode, but that wasn't what I observed.

Instead, my breaks appeared only once

[2020-07-18 19:46] MatthewHerbst commented on #54
If anyone would like to add to the README FAQ with a generic solution to this I would be happy to accept that PR!

[2020-07-24 08:28] ririshi opened #270 "React-to-print with Electron silent printing"
Our dev team is currently working on a react dashboard that receives receipts and automatically prints them. We would like this to work with Electron, but its support for silent printing differs significantly from how normal web browsers handle this.

When Google Chrome is used in Kiosk printing mode (experimental flag in Chrome, also available under other names for other browsers), `window.print(

[2020-07-24 14:30] AlexandrHovsepyan opened #271 "Footer on content in Safari."
Hello there, I am using "React-to-print" 2.9.0 package.
And I would like to have a fixed footer on each page while printing, which will contain a picture and a text. This works on every browser, except for Safari.
I have got the following issue on Safari:
when I create a fixed element, that element overlaps the file content on the first page.
I can see that fixed element on the first page only: it

[2020-07-24 19:06] MatthewHerbst commented on #271
Hello. Thanks for using the library. Could you please share an (ideally working) code sample? I can't profess to being a CSS expert, so you might want to also ask your question on StackOverflow to get a bit more help

[2020-07-24 20:05] MatthewHerbst commented on #270
Hi there. That is a very interesting use case, thanks for bringing this up. It certainly would be trivial to allow the calling user to pass a callback that is used instead of `target.contentWindow.print()`. `target` is the `HTMLIFrameElement`, so that could also easily be passed to the callback function to do with as it wishes, at which point I think the callback function should have full access t

[2020-07-26 08:18] ririshi commented on #270
Wow, thanks for the quick reply. Sorry it's taking me longer to respond. I think that callback option should work fine for us.

What kind of sample code would you like to see? Something like what we use for Electron, or just a generic example? And should I post it on this thread?

This is probably the first time I'm "contributing" to an open source project, so I'm still finding my footing.

[2020-07-26 22:12] MatthewHerbst commented on #270
No problem, and happy to walk you through it. The best way would be if you did a PR directly into my existing branch. So, follow these steps:

[code]

Then, add an example file or directory in the `example` folder. Ideally it would be complete enough to show anyone else using Electron how to do what you are doing. Maybe call the example `ElectronPrint` or something. Don't worry about adding it to

[2020-07-27 07:30] ririshi commented on #270
Thanks for running me through the steps. I think you meant `grgnb/react-to-print` instead of your own user? Will add a slimmed-down version our electron `main.js` and `electron_preloader.js` to show the Electron part of things, and make a simple React component to actually show the printing. We're not using typescript at all, though, is that okay?

Edit: I just realized I am beinga bit stupid. I c

[2020-07-27 12:02] ririshi commented on #270
Found an issue on the Electron side of things while testing the callback. When sending an IPC message to the Electron main process, it does not know how to differentiate between the main browser window and the IPC message sender. This results in the print callback always printing the whole window, instead of just the iframe. Not sure how to tackle it. Tried to find the Electron Slack to ask an exp

[2020-07-27 19:04] MatthewHerbst commented on #270
I'm glad you found a way to test it. I can't say I've ever used Electron before, so I'm not going to be of much help figuring that out. Maybe if you post a question on StackOverflow about it you could get a good answer? Then we can incorporate that into the PR I have if there is any additional information needed by the callback

[2020-07-28 07:55] longgegege opened #273 "为什么点击打印时，会提示要登录microsoft"

[2020-07-28 09:21] AlexandrHovsepyan commented on #271
Thanks for answer.

This is HTML.
[code]

And CSS
[code]

[2020-07-28 12:41] ririshi commented on #270
With some creative thinking, I made a workaround (https://github.com/Ririshi/react-to-print/commit/d3e5c66726e233626b4745740da6f0a772e5d417). It's rather ugly, but it works. Electron is not able to retrieve the `webContents` instance for iframes, so I created a new window, which sends the printing command to Electron, gets printed, and is subsequently closed.

It works fine now, but it would be ni

[2020-07-28 12:58] ririshi commented on #270
On a related note, I encountered some issues while committing my new code. Perhaps this warrants a separate issue, but while trying to add the example code to the project, the Husky pre-commit hook fails with this message:

[code]

It's peculiar that it only highlights this item, since it looks like the `tsconfig.json` file does not include any of the `example` files, so it should either be throwi

[2020-07-31 04:41] wyqydsyq commented on #271
There seems to be some issues with positioning and scaling on Safari, it seems to be related to use of `positioning: absolute` and / or `vh` / `vw` units.

This is my expected output and works consistently in FF, Chrome and the new Edge:
![image](https://user-images.githubusercontent.com/621277/89000369-946da900-d33a-11ea-81e4-b44ad6f77cc8.png)

But this is what Safari users on both macOS and iOS

[2020-07-31 07:42] MatthewHerbst commented on #271
Hmm, that is a bit strange. Do you only see the issue in the print window, or can you replicate the issue when normally on the page (assuming you applied the same styles)? I definitely feel like you should cross-post this to StackOverflow since we'll be able to find many more css/browser experts there

[2020-07-31 22:41] MatthewHerbst commented on #273
From Google translate, the title reads:

This doesn't sound like a problem with this library. If you post some code I would be happy to help verify that.

[2020-07-31 22:41] #273 closed, assigned to nobody

[2020-08-02 22:29] bashleigh commented on #240
I found a way to force the orientation. Inside my refed component I added this block

[code]

[2020-08-03 01:52] MatthewHerbst commented on #240
Thanks for posting that @bashleigh!

[2020-08-03 08:39] bashleigh commented on #240
No problem!

[2020-08-05 06:03] wyqydsyq commented on #271
I wasn't rendering normally on the page so can't confirm if the issue also appears there sorry - I was just trying to print in a button's click callback (which makes me think this could possibly be some issue of CSS not being applied to the printed document on Safari as it was wrapped in a `display: none` div).

I've ended up changing my project to generate PDFs so I can have full control over the

[2020-08-05 18:19] MatthewHerbst commented on #271
:( Yeah, unfortunately the browsers don't give us any control over that stuff via an API. Many let you enable/disable it in the print preview window itself, but that requires a user to do that. I hope one day they provide a standard API we can use to make that an option for people

[2020-08-05 18:19] #271 closed, assigned to nobody

[2020-08-08 03:02] HoaiHuynh opened #276 "Preview Load Empty and print empty"
I have an issue with my project, i have installed lib and run demo, but its empty. Any one have same issue? And how to fix that. Thank

[2020-08-10 07:34] MatthewHerbst commented on #276
Hello. Can you please walk us through the steps that you did? Also, what version of Node are you using?

[2020-08-13 08:34] #206 closed, assigned to nobody

[2020-08-19 13:14] shrikartare opened #277 "Print layout issue on overlay in Internet Explorer 11"
We are trying to print a component which is on overlay(modal) content body .
In print layout elements behind  the model and apart from  print component which we gave reference are displayed in Print layout.
We have to manually remove elements from body or apply media print queries with display none.

**This issue occurs only on Internet Explorer 11.**

[2020-08-19 18:27] MatthewHerbst commented on #277
Hello. Could you please share screenshots of the problem, and ideally a codesandbox with working code that replicates it? Thank you

[2020-08-19 18:27] #276 closed, assigned to nobody

[2020-08-20 13:02] shrikartare commented on #277
Hello , we are working in secured environment so not able to share code.
But when we use this command
[code]
in internet explorer on the iframe created by `react-to-print`  package, print works correctly.

React to Print works correctly on IE on body element, issue is there on modal(overlay).

[2020-08-20 15:34] petartonchev commented on #159
@MickaelNeves solution works perfectly. Thanks!

[2020-08-21 08:11] ririshi commented on #270
Is there a chance you could follow up on both of our PRs, @MatthewHerbst? Would love to be able to use the callback functionality in our project soon.

[2020-08-21 11:55] ghost opened #278 "cross-origin stylesheet"
I'm getting this error:

Uncaught DOMException: CSSStyleSheet.cssRules getter: Not allowed to access cross-origin stylesheet

[2020-08-24 05:00] MatthewHerbst commented on #270
Hey, apologies, I recently moved and had to take some time off from coding. I will add some error handling with `onPrintError`, that's good feedback. I'll merge it and get an RC version ready in a little bit

[2020-08-24 05:03] MatthewHerbst commented on #270
I don't think we can do anything for now about not creating the iframe. That's very fundamental to how the code currently works

[2020-08-24 05:10] MatthewHerbst commented on #278
Hello. Could you share more of the code please? Is this a CORS issue, or a CSP issue?

[2020-08-24 05:15] MatthewHerbst commented on #277
Hi. Could you share just some basic HTML that replicates the problem? I'm having a hard time understanding your use case

[2020-08-24 05:16] #270 closed, assigned to nobody

[2020-08-24 05:36] MatthewHerbst commented on #270
Should be available in `v2.10.0` let me know how it works for you!

[2020-08-24 05:37] #262 closed, assigned to nobody

[2020-08-24 05:37] #251 closed, assigned to nobody

[2020-08-24 05:39] #93 closed, assigned to nobody

[2020-08-24 05:39] #261 closed, assigned to nobody

[2020-08-24 10:52] shrikartare commented on #277
Hi,
i have added sandbox code. Please find the link below.

Steps to produce the issue
1. Go to sandbox url  (**https://codesandbox.io/s/competent-tree-rtj4c**).
2. Click open modal button.
3. Modal will open and click on print button.Print button will print the contents of the div  with text "**Print Content**"  inside the modal.
4. Check print preview layout in Internet Explorer 11.

Results:

*

[2020-08-26 07:25] iampriyaank commented on #277
Hi @MatthewHerbst ,

I am also facing similar issue. Are you planning for a fix to this issue? Any tentative deadline?

[2020-08-26 14:24] maitedev opened #280 "Need help to send component reference"
Hi, I am trying to use the react-to-print library in my application but without satisfactory results so far. I don't know how I should send the reference to the ReactToPrint component, I appreciate any suggestions. Grateful in advance.
Note: the component I want to print is the FormContent of type class .
[code]

[2020-08-26 16:08] MatthewHerbst commented on #280
Hello. Your usage looks correct. Could you please explain what's not working? Are there any errors?

[2020-08-26 18:12] maitedev commented on #280
Thank you very much for responding so quickly !! In console it shows me the following error when I click the print button:

index.js:1 For "react-to-print" to work only Class based components can be printed.

I don't understand why, because the component where ReactToPrint is mounted is of type class, just like FormContent.
I must be doing something wrong but I don't realize that.

Sometimes he sh

[2020-08-26 21:58] MatthewHerbst commented on #280
Is `FormContent` a class or functional component?

[2020-08-27 12:07] maitedev commented on #280
Yes, is a class component, which I am importing into the MainForm component.

[2020-08-27 16:38] MatthewHerbst commented on #280
Do you mind sharing the full code for `FormContent` and for the component that wraps `ReactToPrint`?

[2020-08-27 16:55] maitedev commented on #280
MainForm: component that wraps ReactToPrint.

[code]
[code]

[2020-08-27 19:06] MatthewHerbst commented on #280
Hmm. There are a few possible culprits. It's possible that `withRouter` returns a functional component instead of a class one. It's also possible that for some reason the `Fragment` is causing a problem. Could you try exporting the component without the router and/or changing the `Fragment` to a `div`?

[2020-08-27 19:49] maitedev commented on #280
I made both changes, I used a div and not Fragment and I did without the withRouter library.
When the component mount, it shows me the following error in the console:
    index.js:1 Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use
    React.forwardRef()?

When clicking on the print button, the same error continues:
   index.js: 1 For "re

[2020-08-27 19:54] MatthewHerbst commented on #280
Very strange. Do you mind creating a codesandbox or similar with a full example so I can play with the code?

[2020-08-27 20:13] maitedev commented on #280
Today I prepare it.
I'm very sorry to be stealing your time.

[2020-08-27 20:19] MatthewHerbst commented on #280
No problem at all, looking forward to solving the problem

[2020-08-28 13:20] maitedev commented on #280
Hi Matthew, here is the link of the test I did in codesandbox:  https://codesandbox.io/s/zen-nash-xgkvn?file=/src/App.js

The only difference it has with the FormContent component, which I have in my project, is the use of Redux.
I tried to comment "react-redux" in my project, and the print worked correctly.

[2020-08-29 18:10] rajat-barman-js opened #281 "Custom fonts not copying correctly"
While Printing a component.
Most of the texts in original page vanishes in chrome somehow. but doing the same thing in safari or firefox doesn't produce such behaviour

behaviour in chrome
As you can see the labels texts in the original page at the back is is spomehow vanished
<img width="1272" alt="Screenshot 2020-08-29 at 11 32 30 PM" src="https://user-images.githubusercontent.com/39688364/91643

[2020-08-29 19:55] MatthewHerbst commented on #281
Hi. That is very strange indeed! Would you mind sharing a working codesandbox or similar that replicates the problem? would love to dig deeper into this

[2020-08-29 19:56] MatthewHerbst commented on #281
Also, have to ask: did you verify that this only happens when printing with `react-to-print`, or does it also happen when just printing normally with `ctrl/cmd + p`?

[2020-08-29 19:59] rajat-barman-js commented on #281
Tried with cmd +p
 it works fine

[2020-08-29 21:17] rajat-barman-js commented on #281
We are using Gustanlp-Book in the system which might be creating problem.
Is there some existing bug related to font??

[2020-08-30 19:09] MatthewHerbst commented on #281
If you use a normal font does it work? It's possible we don't copy over fonts properly

[2020-08-30 19:20] rajat-barman-js commented on #281
it works with normal font, but doesn't work with our custom font

[2020-08-30 19:44] MatthewHerbst commented on #281
Interesting. I'll look into it. Must be a special thing we need to do to copy custom fonts over. Thanks for helping narrowing it down

[2020-08-31 07:01] MatthewHerbst commented on #281
Can you show me please how you include your custom fonts on the page?

[2020-08-31 07:03] MatthewHerbst commented on #277
Hi. I have been having a hard time trying to test this because codesandbox does not work on IE11 apparently :( I'm trying to make it work with stackblitz.com but haven't gotten it setup yet

[2020-08-31 07:04] rajat-barman-js commented on #281
[code]

[2020-08-31 07:56] MatthewHerbst commented on #281
So, the issue is that we are not waiting for the fonts to load before opening the print preview window, because we don't know that there even are fonts that are loading. We currently listen for HTML and CSS loads to finish, but font loads happen in their own world. I think I can offer a new prop that would fix this using the new [CSS Font Loading API](https://developer.mozilla.org/en-US/docs/Web/A

[2020-08-31 08:02] rajat-barman-js commented on #281
That would be great.

Thanks

[2020-09-01 12:56] mav1283 opened #282 "Warning: findDOMNode is deprecated in StrictMode - When calling from functional components with useReactToPrint"
I got this warning when calling from function components with useReactToPrint:

![find-dom-node](https://user-images.githubusercontent.com/11674969/91853934-8393b880-ec95-11ea-8d6b-8a56b06df923.PNG)

[2020-09-01 18:26] MatthewHerbst commented on #282
https://github.com/gregnb/react-to-print/issues/261

Fixing this would be a breaking change for this library, and even in [React 17](https://reactjs.org/blog/2020/08/10/react-v17-rc.html) they are not removing `findDOMNode`

This is a warning, not an error (they really should use `console.warn` instead of `console.error`). Is this causing you a problem, or just something you saw in the console?

[2020-09-02 04:55] rajat-barman-js opened #283 "Styling not added to print when the page is in iframe"
My page is in iframe, when i am printing the component in the inframe,it shows the following
react-to-print" was unable to load a linked node. It may be invalid. "react-to-print" will continue attempting to print the page. The linked node that errored was: <link href=​"./​static/​css/​main.b482d9d9.chunk.css" rel=​"stylesheet">​

[2020-09-02 06:41] mav1283 commented on #282
@MatthewHerbst  Yeah it appears in the console, should i use forwardRef here? I have this stateless class <Document ref={componentRef} /> component that just renders text data,

[2020-09-02 07:37] MatthewHerbst commented on #282
You won't be able to fix this issue unless you turn off strict mode for the places where `react-to-print` is used, because `findDOMNode` is going to be called by us. Eventually we'll switch but it's a breaking change and since it's not really a problem (that I know of) for there to be warnings in strict mode, it doesn't seem worth making the change right now

[2020-09-02 07:48] MatthewHerbst commented on #283
Not sure what I can really tell you without more information. Are you sure the link is valid and that the file has no errors in it? We attach directly to the DOM `onerror` event, so if you are getting this message there is almost certainly a problem that is unlikely to be related to `react-to-print`. Can you make a codesandbox with a working demo?

[2020-09-02 13:16] ziaulrehman40 opened #284 "Not triggering print at all (content or onBeforeGetContent neither is called)"
`content` or `onBeforeGetContent` is not being triggered at all.
We recently did some changes in which we added some new pages with lot of new JS plugins. Something from there is messing this up. Because it was working all fine before that commit got in, we tried on commits before that merge and it still works.

I know this is some dependency issue but **I am opening the issue just to get some hel

[2020-09-02 16:43] MatthewHerbst commented on #284
Hello. I don't see `onBeforeGetContent` getting called anywhere. Your use of `content` seems correct. Do you see any errors in the console? Also, what packages did you upgrade? `react-to-print` doesn't use any packages except `prop-types`, so I can't imagine how upgrading another package could change printing behavior

[2020-09-03 06:28] ziaulrehman40 commented on #284
Ok, sorry for the bother, it turns out we are using some deprecated versions of material-ui and the tooltip is coming from that, packages changes included something around material UI.
We wrapped the trigger(tooltip) in a div and everything stated working again.

[2020-09-03 06:28] #284 closed, assigned to nobody

[2020-09-03 12:28] shrikartare commented on #277
Hi  ,
If we are having problems on sandbox, and stackblitz,
Can we try to replicate the  code on local machine?

[2020-09-03 14:10] maitedev commented on #280
Hello, I wanted to know if the react-to-print library has any problem to work, if Redux is being used in the component that you want to print?

[2020-09-03 16:13] MatthewHerbst commented on #277
I don't use Windows so local machine won't work for me unfortunately. I will try again this weekend

[2020-09-07 00:30] MatthewHerbst commented on #281
Hey, checkout #285 and let me know if that works for you. If you could test it by trying to run it locally with the fonts you have that would be fantastic too

[2020-09-07 09:37] longgegege opened #286 "打印问题"
在打印是 不进行 预览 直接打印是否可以

[2020-09-07 09:39] longgegege opened #287 "Can I print without previewing?"
Can I print without previewing

[2020-09-07 19:25] MatthewHerbst commented on #286
Duplicated by https://github.com/gregnb/react-to-print/issues/287

[2020-09-07 19:25] #286 closed, assigned to nobody

[2020-09-07 19:26] MatthewHerbst commented on #287
Unfortunately this is controlled by the browser. Some browsers might let you change it locally, but there is no way to do it with JavaScript. The best you can do with JavaScript is to download a file directly, but there is no way to print directly.

[2020-09-07 19:27] MatthewHerbst commented on #283
Hello. Are you able to provide more information by chance? I would love to see you able to resolve this issue

[2020-09-07 19:32] MatthewHerbst commented on #280
Hi @maitedev not sure I follow? `react-to-print` uses no dependencies except for `prop-types`. It makes sense that `connect` from `react-redux` would be the problem. I think an easy solution would be to create a class component in the middle so that you can pass the class to `ReactToPrint`, and then the class will render the `FormContent`

[2020-09-16 05:59] wx9999 opened #288 "Img cannot be displayed"
Is there any solution

<img src="./images/offline-line-1.png" alt="" />

[2020-09-16 06:02] wx9999 commented on #288
You don't show pictures when you print them

[2020-09-16 06:16] MatthewHerbst commented on #288
Hello. We certainly do include images in the page. What browser are you using? On Chrome and some others you need to manually enabled background graphics in the print preview window (doing so once should save the setting for all future prints)
![Screen Shot 2020-09-15 at 11 15 09 PM](https://user-images.githubusercontent.com/1287375/93299151-730d3300-f7a9-11ea-828d-a23b2336fb54.png)

[2020-09-16 09:12] #288 closed, assigned to nobody

[2020-09-16 09:15] wx9999 opened #289 "Pattern，Content is not paginated"
How can I avoid automatic paging，
Do not paginate content when it is too long

[2020-09-16 11:01] MatthewHerbst commented on #289
Not sure I understand. Can you show an example please? My guess is you need to modify the CSS styles for `@media print`

[2020-09-16 20:35] maitedev commented on #280
Thank you very much Matthew, with that intermediate class that you suggested to me, I solved the problem.   Thank you!!!

https://codesandbox.io/s/interesting-cookies-k1bg9?file=/src/deliverySheet/ComponentToPrint.js

[2020-09-16 22:44] MatthewHerbst commented on #280
Glad you got it working! In the future we'll be able to support functional components, but doing so will require a breaking change so I'm trying to delay it as long as is reasonable.

[2020-09-16 22:44] #280 closed, assigned to nobody

[2020-09-17 02:02] wx9999 commented on #289
I probably don't need to paginate when I print. How do I do that。

![image](https://user-images.githubusercontent.com/42061047/93411047-dcd22d80-f8cc-11ea-968d-c4ef04d2ab87.png)

In the case of an image, make its content non-pageable

[2020-09-17 03:25] MatthewHerbst commented on #289
If it's paginating it's because your content doesn't fit on one page... you need to make your content fit on one page. If you shared a working codesandbox that would be helpful

[2020-09-18 01:58] wx9999 opened #290 "background image"
Why didn't I bring the background image with me when I first triggered the print, but the second time I clicked on it the background was displayed

[2020-09-18 01:59] #289 closed, assigned to nobody

[2020-09-18 02:20] wx9999 commented on #290
@MatthewHerbst

[2020-09-18 18:55] ekediala commented on #187
Hi. Ran into the same issue. Did you find a workaround?

Cheers.

[2020-09-18 18:58] #283 closed, assigned to nobody

[2020-09-18 18:59] #278 closed, assigned to nobody

[2020-09-18 18:59] #179 closed, assigned to nobody

[2020-09-18 19:00] #246 closed, assigned to nobody

[2020-09-18 19:00] MatthewHerbst commented on #290
Did you turn background graphics on?

[2020-09-18 19:01] #287 closed, assigned to nobody

[2020-09-18 19:03] MatthewHerbst commented on #187
@ekediala as noted above, to the best of my knowledge this is not something we can fix. If you know of a solution please let me know

[2020-09-18 19:04] ekediala commented on #187
@MatthewHerbst thank you. Will let you know if I do.

[2020-09-22 11:13] HacerBusraKILIC opened #291 "checkbox is causing a problem when i print"
![checkbox](https://user-images.githubusercontent.com/26281251/93875231-48593800-fcdd-11ea-8c98-8094b16d591a.png)
![checkbox-print](https://user-images.githubusercontent.com/26281251/93875229-47c0a180-fcdd-11ea-960e-f7cfa1102f36.png)

[2020-09-22 11:24] HacerBusraKILIC commented on #291
It's my mistake. I got it 👍

[2020-09-22 11:24] #291 closed, assigned to nobody

[2020-09-25 10:04] ErnestBrandi commented on #193
@MatthewHerbst do you plan adding support for functional components anytime soon ?

[2020-09-25 15:38] 2hands10fingers commented on #282
We'd definitely like this to be amended for our client as it's a crucial feature for our client. I love this library, and we rely on using StrictMode as a team.

[2020-09-25 18:58] MatthewHerbst commented on #282
@2hands10fingers is this issue actually preventing you from using this library and/or strict mode? It's just a deprecation warning, not an error of any kind. My plan is to drop React 15 support once React 17 is released. Dropping React 15 support will enable me to easily solve this, though even in 17 this will still be a warning, not an error

[2020-09-25 18:59] MatthewHerbst commented on #282
If this is actually breaking something in strict mode right now I'm happy to look into fixing it now, but I've been under the impression that it is just a warning, and nothing breaks from it

[2020-09-25 19:01] MatthewHerbst commented on #193
@ErnestBrandi My plan was to add such support once React 17 is stable, and then this library will support React 16 and React 17. Currently we still support React 15, and React 15 cannot handle functional components here, so to support functional components will be a major (breaking for React 15 users) change of this library.

Is the inability to use a functional component preventing you from using

[2020-09-25 19:53] ErnestBrandi commented on #193
Yes, I started using React recently and I only use functional components; so unfortunately this plugin does not fill my needs.

[2020-09-26 13:02] Biuni opened #292 "[Violation] Avoid using document.write()"
I have this situation in my NextJS project:
[code]
When I click on the button the print prompt doesn't appear and the console get me the follow warning:
[code]
In NextJS development mode work well but in production the button have this problem. Could someone explain me why?

[2020-09-26 23:22] MatthewHerbst commented on #292
Hello. Sounds like an issue with your NextJS config somehow. Would you mind making a working codesandbox that replicates the issue so I can take a look?

[2020-09-26 23:57] MatthewHerbst commented on #193
But you know that you can use a class component with functional components right? There is no difference between the two other than code style and minor differences in lifecycle methods

[2020-09-27 10:55] ErnestBrandi commented on #193
Not sure what you mean here. My website is built with functional components, I don't want to transform them in class components in order to use this plugin. Also I think I tried wrapping the components I wanted to print into a class component and I got the same error message.

[2020-09-27 17:31] MatthewHerbst commented on #193
You can freely mix class and functional components in React. There is no requirement to only use one or the other. For example:

[code]

[2020-09-28 08:00] Biuni commented on #292
Hi @MatthewHerbst , thanks for the reply. This error appear only in production mode, so if i create a codesandbox i can't replicate the problem. Could it be useful to see the NextJS configuration file?

[2020-09-28 18:49] MatthewHerbst commented on #292
Maybe though I'm not super familiar with NextJS. Why can't you create the production version in codesandbox?

[2020-10-02 08:02] alejandroyunes commented on #196
anyone came up with a solution??

[2020-10-03 20:02] alejandroyunes commented on #169
hello everyone,
can anybody help me, I am having issues with react to print.  The problem is that when the UI changes and the state updates, when I hit the print ref button it still brings the old pdf with the privious data, no matter how many times I save and the state updates.  the only work around to see the new print preview is if I reload the browser.

`content={() => this.refPrintableArea.cu

[2020-10-03 23:50] MatthewHerbst commented on #169
@alejandroyunes could you share a codesandbox showing your code please?

[2020-10-05 11:00] quadh opened #293 "print prop example"
I am trying to bypass the window.print functionality so I can process the iframe element to generate a Word document.
However I cannot get it to work; I always get Promise<any> "missing the following properties from type 'Promise<any>': then, catch, [Symbol.toStringTag], finally".

Are there any examples on the repository that would help??

[2020-10-05 17:15] MatthewHerbst commented on #293
Hello, interesting use case!

Do you mind sharing your code so I can help diagnose the issue? It sounds like the `print` method you are supplying isn't returning a `Promise` though, which is required for it to work

[2020-10-06 01:40] quadh commented on #293
This is what I have currently.

[code]
It is returning a typescript error:

TypeScript error in C:/.../ExportDoc.tsx(48,40):
Type '(exportDocIFrame: HTMLIFrameElement) => Promise<{ value: { then: string; catch: string; finally: string; }; }>' is missing the following properties from type 'Promise<any>': then, catch, [Symbol.toStringTag], finally  TS2739

package.json
-    "react-to-print": "^2.10.

[2020-10-06 10:29] chirag773 commented on #169
I want some component that should be hidden in the start and when I click on the print button it should show and can be printable how do it?

[2020-10-06 16:04] SteiniDJ commented on #292
I started noticing this after updating Google Chrome Canary to version 88.0.4284.0, while running a CRA app in development mode. I don't believe I'm doing anything unusual, just following the examples quite closely. It even appears in Chrome 88 when running the [codesandbox](https://codesandbox.io/s/rzdhd) listed in the documentation.

The full console message that I receive is as follows:

[2020-10-06 18:06] MatthewHerbst commented on #281
Hi @iamthespecial1 did you have a chance to look at that PR? I'm excited to get it merged but I'd like to make sure it actually solves your problem first

[2020-10-06 18:57] MatthewHerbst commented on #293
Hmm. You should be able to just `return Promise.resolve()` without needing to pass it a value.

If that doesn't work, try this:

[code]

[2020-10-06 18:59] MatthewHerbst commented on #169
@chirag773 see the examples in this code base, such as: https://github.com/gregnb/react-to-print/blob/28365f179aa181dd489c2d99484673eb99cf7684/example/ClassComponent/index.tsx#L26

[2020-10-06 19:01] MatthewHerbst commented on #292
@SteiniDJ thanks for that. Not sure why it's complaining for us since `document.write` for us only happens on an iframe, which they specifically say isn't impacted:

I'll look at ways to mitigate and report back

[2020-10-06 19:18] #213 closed, assigned to nobody

[2020-10-06 19:21] #107 closed, assigned to nobody

[2020-10-06 19:25] #290 closed, assigned to nobody

[2020-10-07 07:11] quadh commented on #293
Followed your corrections and it works now! Thanks for the help.

I did change exportDocIFrame to read from exportDocIFrame.contentWindow.document.body.innerHTML instead, as the htmlDocx library only parses String.

[2020-10-07 10:29] MatthewHerbst commented on #293
Great, glad you got it working!

[2020-10-07 10:29] #293 closed, assigned to nobody

[2020-10-12 11:02] Israel-oduguwa commented on #263
Then same thing is happening to me it breaks the display flex

[2020-10-14 19:23] delton1994 opened #294 "Is it possible to print onClick without print dialog popup?"
Client only uses one type of printer and a set of custom margins for project.  DYMO Label v.8. The sample framework is dated and a pain. I love using this package because its streamlined and simple. Is it possible to capture the component before the print dialog displays and send in to a printer? Or since the printer is known, can I suppress the print window while printing the persisted data?

[2020-10-14 19:54] MatthewHerbst commented on #294
Hi, and thanks for using the package 😄

We use the [`Window.print`](https://developer.mozilla.org/en-US/docs/Web/API/Window/print) method to print. What happens after we call that is decided by the browser, and unfortunately we don't have any control over what the browser decides to do. There is no way to have the browser silently print using native APIs. There are per-browser workarounds such as

[2020-10-15 05:14] seanblonien opened #295 "bodyClass property does not allow for multiple style class names"
I wanted to pass multiple CSS classes to the ReactToPrint `bodyClass` property, but it only accepts a string with one class name. The expected behaviour would be to allow for more than one class.

I believe the line of code causing this problem is from the [classList.add](https://github.com/gregnb/react-to-print/blob/28365f179aa181dd489c2d99484673eb99cf7684/src/index.tsx#L255) method.

Here's the

[2020-10-15 19:02] #295 closed, assigned to nobody

[2020-10-15 23:18] charles4221 commented on #66
@MatthewHerbst @aviklai unfortunately this isn't completely resolved. I still have this issue on React & ReactDOM 16.14.
I opened up @aviklai's CodePen example above and edited it to have the `checked` value controlled by React state, as is the case for most React-driven forms in most applications, and then you can see the issue again where checked checkboxes are appearing unchecked in the print w

[2020-10-16 11:12] aviklai commented on #66
@charles4221 Hi, can you share the edited codesandbox?
I created an example where the checkbox is controlled by the state and it looks o.k.
https://codesandbox.io/s/react-to-print-forked-7smdp

[2020-10-16 17:16] MatthewHerbst commented on #66
I am able to replicate. @aviklai in your example above, add an `onClick` to the checkbox to toggle the state. Toggle it to unchecked. Then try and print, and the print preview window still shows it as checked. Very strange

[2020-10-16 19:15] aviklai commented on #66
@MatthewHerbst - I think the above PR should fix the issue.

[2020-10-16 21:01] MatthewHerbst commented on #66
Published as v`2.10.2`, thanks 🎉

[2020-10-16 22:02] MatthewHerbst commented on #195
This should be fixed as of v`2.10.2`. Please let me know if you see otherwise. Apologies for how long it took to fix this.

[2020-10-16 22:02] #195 closed, assigned to nobody

[2020-10-16 23:13] internettrans opened #300 "react-to-print is incompatible with SystemJS (and ES modules)"
react-to-print assumes that the `React` object has `Object.prototype` as its prototype, since it calls `React.hasOwnProperty()` and the `hasOwnProperty` function only exists on the Object.prototype.

https://github.com/gregnb/react-to-print/blob/dab3e2224b526f57130615fb977c42359ff10317/src/index.tsx#L4-L5

However, this assumption is not true of ES modules, nor of SystemJS modules. The ES module s

[2020-10-17 03:00] #300 closed, assigned to nobody

[2020-10-17 03:05] MatthewHerbst commented on #300
Learn something new every day! Published as v`2.10.3`, thank you 🎉

[2020-10-17 04:33] charles4221 commented on #66
@MatthewHerbst @aviklai wow, you guys work fast! Thank you so much for looking into this so quickly. I'll be able to update and re-test on Monday morning and I'll report back!

[2020-10-19 08:49] jlongguo commented on #263
me too

[2020-10-19 09:12] lironezra opened #303 "Print iframe issue"
Hey there,
I'm trying to print component that includes <iframe> in the component I wrote proper styles and the <iframe> receives the requested width and height, but when I clicked on print button the preview print page open but with the non styles iframe.
What am I doing wrong?
Thanks!!!

[2020-10-19 09:56] lironezra commented on #303
I close this issue, the solution was give actual width and height to the iframe tag like that:
<iframe width="200px" height="200px" />.

[2020-10-19 09:56] #303 closed, assigned to nobody

[2020-10-22 14:42] xStorm111 opened #304 "For "react-to-print" to work only Class based components can be printed."
Hello,
I'm trying to print a component (in this case, a **Grid from Material-UI**) that **i don't want** show on the screen first.
I was trying to use **Hidden** component as a parent of Grid but aparently i can't fill componentRef from Grid ref if the grid is inside **Hidden**

![image](https://user-images.githubusercontent.com/22938156/96887629-ac0d8700-147c-11eb-9ed2-727edb1b567f.png)

ReactToP

[2020-10-22 14:55] SiddiquiMonis401 opened #305 "I did not find any way to pop up the component to be print on the click of Submit button.. If anyone can help, it would be great.."

[2020-10-22 15:12] xStorm111 commented on #304
🤦 i swapped Hidden to div hidden and it worked

[2020-10-22 15:12] #304 closed, assigned to nobody

[2020-10-22 17:25] MatthewHerbst commented on #305
Hello. Could you please provide the code you are using? A working codesandbox would be ideal, thank you

[2020-10-22 17:26] MatthewHerbst commented on #304
Glad you got it working!

[2020-10-26 14:48] Shubham-luv2code opened #306 "Custom pagination on printed pages required"
Using this module and wanted to know how to put custom pagination in the react-to-print module. Quick leads would be appreciated. Thanks!

[2020-10-26 17:42] MatthewHerbst commented on #306
Hi there. I'm not sure I understand what you are trying to do? What are you trying to paginate? This library only does printing, so if you want to paginate it needs to happen before printing is done. You can use the `onBeforeGetContent` method to change the page content before the print if you need to

[2020-10-27 14:44] Earle-Poole commented on #11
Hello! I'm still seeing this issue, only when performing a production build, in my app. I have tried the hook and the functional component, and explicitly set copyStyles to true in both instances, but I am still getting an error.

![image](https://user-images.githubusercontent.com/44408506/97316591-e8076a00-1837-11eb-9cc2-d5bbbe45f3d2.png)

I suspect that this may have something to do with my home

[2020-10-28 15:14] Earle-Poole commented on #11
For anyone else arriving here with the same issue I mentioned above, and you need a solution to this as soon as possible, like me..

I worked around this by using styled-components ( this was already installed in my application as a dependency for another library I use, react-select ) on the component that I was passing into the ReactToPrint component's content prop. This made the print menu have

[2020-10-29 11:28] A9074o opened #307 "When using the antd form, there is no way to display the fields that need to be displayed in the render method"
When using the antd form, there is no way to display the fields that need to be displayed in the render method

The problem is as shown below;
![image](https://user-images.githubusercontent.com/45235142/97562249-4bea8800-1a1c-11eb-92e4-08ded6e6f798.png)

![image](https://user-images.githubusercontent.com/45235142/97562538-be5b6800-1a1c-11eb-99d7-be931e065a9c.png)

![image](https://user-images.gith

[2020-10-29 13:17] Shubham-luv2code commented on #306
Basically I need to paginate at the footer section the number of pages getting printed e.g. 1/5 then second page goes like 2/5. So just wanted to know How we'll get to know that an A4 page by default has reached to end and we show footer.
I'll try onBeforeGetContent. If you've a suggestion to do.Please let me know

[2020-10-29 18:04] MatthewHerbst commented on #306
Ah, I think I understand. You want to specify where the page numbers show up instead of using the default option that the user's browser/printer provides. Unfortunately once we call `.print()` internally we lose all control. There is no standard printing API to control the settings of the Print Preview window, so we have no ability to set/change any of the settings in there. My guess is you can ac

[2020-10-29 18:09] MatthewHerbst commented on #307
Hello,

To clarify, you want to print only the fields you have put in red?

[2020-10-30 06:56] A9074o commented on #307
你好，
我的render里面写了两个字段, 但是打印的时候只打印出了我表格dataindex绑定的字段，另外一个字段没有展示出来 @MatthewHerbst

There are two fields in my render, but only the fields bound to my dataindex are printed when printing, and the other field is not displayed.

[2020-10-30 21:56] #281 closed, assigned to nobody

[2020-10-30 22:08] MatthewHerbst commented on #281
Published as v`2.11.0` 🎉

[2020-10-30 22:32] MatthewHerbst commented on #11
Hi @Earle-Poole any chance you can make a working codesandbox or similar that I can use to debug?

[2020-11-01 17:31] Earle-Poole commented on #11
Hey @MatthewHerbst, it looks like I'm not able to reproduce it in codesandbox, since the issue only occurs when the project gets built.

I then attempted to recreate the issue in a new CRA, using the same-ish code I'm using in production, but I was unable to reproduce the error. This is making me think even more that the issue we're seeing is a combination of the package.json "homepage" property b

[2020-11-02 17:17] sivarasanOensys opened #309 "page width is get large when print"
page contents are getting stretch  when print

[2020-11-02 18:40] MatthewHerbst commented on #309
Hello. This sounds like a problem with your CSS, not this library. You can control the CSS specifically when printing use an `@media print { }` query. If you want to share some working code we might be able to help you with that.

[2020-11-02 18:40] #309 closed, assigned to nobody

[2020-11-03 02:46] MatthewHerbst commented on #11
`react-to-print` does an exact copy of what exists in the DOM:

https://github.com/gregnb/react-to-print/blob/d6349a0c27e85887eddfe8b0f0e2832600b48869/src/index.tsx#L363-L378

So, the value with the double import already exists in your DOM. My guess is your import tool knows how to handle it because of the setup you have mentioned.

Can you possibly share more about the build and hosting setup of

[2020-11-03 15:54] andreenov opened #310 "how to make small size for pdf result"
hi

is it possible to make a size for pdf result smaller? or is it possible to compress the file size before downloading its file

thank you

[2020-11-04 05:56] MatthewHerbst commented on #310
Hello. The PDF generation is determined by your browser based off of what is being printed. I don't know if there is a way to use CSS to change styles only in PDFs, but you can use `@media print { ... }` to control styles during printing. The actual size of the file is based on what's being printed, so I would suggest making any images or such that you have smaller. If you post a working code exam

[2020-11-04 05:56] #310 closed, assigned to nobody

[2020-11-04 06:30] andreenov commented on #310
Hi @MatthewHerbst thank you for responding to my question.
there are more than 900 lines of code but here's some of my code. I'm using CSS style inside my component. Should I put the CSS code outside the component? like styled component

[code]

thank you

[2020-11-04 17:35] MatthewHerbst commented on #310
Doesn't really matter where the styles are so long as you have the right styles for what you need. In terms of the PDF size I really can't help there without a full working code example

[2020-11-04 18:52] andreenov commented on #310
here's the full code, I put on codesanbox [https://codesandbox.io/s/condescending-morning-s96o9?file=/src/medResPrint.js](https://codesandbox.io/s/condescending-morning-s96o9?file=/src/medResPrint.js)

[2020-11-04 19:28] MatthewHerbst commented on #310
I don't see any reason why that should produce a large file size. How big is the file you are seeing?

[2020-11-04 20:19] andreenov commented on #310
it depends on the data from the database, could be more than 5MB,

[2020-11-04 20:27] MatthewHerbst commented on #310
That doesn't strike me as too big if you are actually printing out that much from the server. What would you expect it to be?

[2020-11-04 20:43] andreenov commented on #310
it is possible for our app to generate pdf more than 45 pages and it counts for 14MB file size, it is because the user has to upload to 3rd party system and the system will reject the file more than 5MB

[2020-11-04 20:50] MatthewHerbst commented on #310
What would you like this library to do to help solve that? We don't modify any content inside the print window

[2020-11-05 01:56] andreenov commented on #310
is it possible to compress the file size just before the data is converting into pdf? or is any way to make the file size smaller?

[2020-11-05 03:02] MatthewHerbst commented on #310
We don't control that, it's all happening in the user's browser. All we do is open the print window. If the user selects to send that to a printer or to print as a PDF we don't have control over. Once the Print Preview dialog opens we lose all control unfortunately, there is no API for controlling that yet 😢  It would solve so many feature requests with this lib if there was.

If there is any data

[2020-11-05 06:47] andreenov commented on #310
it's all right @MatthewHerbst thank you for your kind response, i really appreciate that

have a good day

[2020-11-05 06:58] MatthewHerbst commented on #310
Best of luck! And thanks for using the library

[2020-11-08 21:56] nealeu opened #311 "useRef in example can be Typesafe - solves your TODO"
This line:
https://github.com/gregnb/react-to-print/blob/d6349a0c27e85887eddfe8b0f0e2832600b48869/example/FunctionalComponentWithHook/index.tsx#L9-L10

Can be:
```const onBeforeGetContentResolve = useRef<(() => void) | null>(null);```

[2020-11-08 22:53] MatthewHerbst commented on #311
🥂 Thank you! Would you like to may the PR for that?

[2020-11-11 04:33] k-jiang opened #312 "Custom fonts on Next.js"
Hi! I'm trying to use react-to-print with Next.js. But it seems that the `fonts` props introduced in #285 can not load my custom fonts in Next.js correctly.

When I try to print, the console gives me an error:
[code]

Here is my `fonts` props:
[code]

If I try to enclose the "source" with "url(...)", e.g. `source: "url(../../public/fonts/SimHei.ttf)"` it gives me some another errors:
[code]

I'm g

[2020-11-11 08:30] ckrgithub opened #313 "Electron Silent Print Bug"
![image](https://user-images.githubusercontent.com/18225851/98788018-340efd00-243b-11eb-8655-202b065a4897.png)

[2020-11-11 10:51] MatthewHerbst commented on #313
Hello. Can you please give more details? I don't understand how the screen shot has anything to do with this library

[2020-11-11 10:53] #294 closed, assigned to nobody

[2020-11-11 10:53] #305 closed, assigned to nobody

[2020-11-11 10:53] #306 closed, assigned to nobody

[2020-11-11 11:03] #215 closed, assigned to nobody

[2020-11-11 11:10] ckrgithub commented on #313
I find [the project](https://github.com/Ririshi/react-to-print/blob/print-replacer-example/example/ElectronPrint/electron/electron.js) based on #270

**This method does not have a callback causing the specified print device to not take effect**
[code]

[2020-11-12 09:43] MatthewHerbst commented on #312
Hello. Interesting indeed. Someone else is having a somewhat similar issue with webpack. I'm not a Nextjs expert though my company uses it so I'll see tomorrow if anyone has any ideas here. Just an FYI: `react-to-print` just does an exact copy of whatever is in the DOM, so we would have to change what's there probably.

[2020-11-14 00:59] kevinswartz commented on #263
me too!

[2020-11-16 18:17] mbarlescuBVdash opened #314 "return with pdf file"
Hi guys, great work. Are we able to access the generated pdf file in our FE? For example, upon generation can the file be returned to the FE in any way, instead of the user having the download the pdf themselves. Thanks!

[2020-11-16 19:53] MatthewHerbst commented on #314
Hi there. We don't actually generate a PDF, that is being done completely in the user's browser. All we do is tell the browser what to include in the Print Preview Window. What options the user selects in there, including printing to a normal printer or saving to a PDF (an option all major browsers have, but not all browsers have), is totally up to the user.

There was some attempted work a few mo

[2020-11-17 09:09] zedtux commented on #280
Thank you for this, I was in the same boat as @maitedev !

Would be great to add something on the `README.md` in order to inform about the issue with Redux :pray:

[2020-11-17 13:34] kzatin opened #315 "Api call inside content component and print data which is getting by api"
I have this button

[code]

and I want to fetch data on the basis of row.id in my content component.
But the problem is i am getting pdf popup before api call so my api data could not able to load on the screen.

[2020-11-17 18:53] MatthewHerbst commented on #315
Hello. Recall that `setState` is asynchronous and accepts a callback, and that both `onBeforePrint ` and `onBeforeGetContent` can accept a `Promise`. So what you want is:

[code]

[2020-11-17 22:30] MatthewHerbst commented on #280
@zedtux done! https://github.com/gregnb/react-to-print/pull/316

[2020-11-18 05:52] zedtux commented on #280
Awesome, thank you @MatthewHerbst !

[2020-11-18 07:09] #315 closed, assigned to nobody

[2020-11-18 09:23] AchmadWahyu commented on #54
Hi @hbrannan , may i ask you a fiddle or codepen by the example of this multiple printing page for me to play around, please?

[2020-11-22 13:40] TheRogue76 commented on #15
Hi there. I'm using Electron and React for my project and while i can show the image in the app using import or require, the second i try to print it it vanishes. It's using a relative path for the image src. Calling the absolute path (ex: http://localhost:3000/static/media/logo1.0550988b.png) will work in development and show the image in both the app and the printed file, But this can not be don

[2020-11-24 13:16] zhitomir-oreshenski-mm opened #317 "Question: How to print multiple pages"
Hi,

it seems that somehow printing multiple pages is not possible in my case.

I've tried multiple suggested solutions here, but without any luck.

Basically I am using surveyjs and try to print the content in preview mode:

https://surveyjs.io/Examples/Library/?id=survey-displaymode&platform=Reactjs#content-result

Any suggestions what can be the case?

PS: I've double checked following example:

[2020-11-24 17:13] MatthewHerbst commented on #317
Hello. Could you make a codesandbox showing your problem please? I've never used surveyjs before so seeing your actual problem will be the most useful to help debugging, thank you

[2020-11-24 17:26] zhitomir-oreshenski-mm commented on #317
Hi Matthew Herbst,

Thank you for your prompt response.

I've managed to fix it by passing following styles:

[code]

into surveyjs custom css file.

Thank you, you can close the request.

Fantastic work on this lib!

BR,
Zhi

[2020-11-24 17:33] MatthewHerbst commented on #317
Glad you got it working!

[2020-11-24 17:33] #317 closed, assigned to nobody

[2020-11-24 17:34] #314 closed, assigned to nobody

[2020-11-25 22:22] il-frans commented on #193
I relate with the pain of @hamzakhan747, I have recently started using react so all tutorials i used to learn react all used function components. Came across this thread as I was looking to find a way how to pass props to the print component. Managed to find how they are done in class based components.

Anyway, maybe it would help to add some basic examples in the read me? How to pass props to the

[2020-11-25 23:34] MatthewHerbst commented on #193
@il-frans there is an [`example`](https://github.com/gregnb/react-to-print/tree/master/example) folder that shows lots of different use cases. And you pass props to a class component the exact same way you pass props to a functional component.

[2020-11-26 07:15] MarsonShine opened #318 "Is Support trigger custom function after show print-dialog"
when call `trigger` function, and show print-dialog
then i want to call custom function when print-dialog displayed
how do it?
thk

[2020-11-26 07:57] il-frans commented on #193
@MatthewHerbst I must have missed that as I only look to the read me.

Fantastic work Matthew

[2020-11-26 15:59] fralfarom commented on #313
Hi @ckrgithub could you print a react component from electronjs with this library? I'm trying to do this but I can't ...

[2020-11-26 16:18] fralfarom opened #319 "Using library in electronjs"
Hi, I read that to use this library I had to pass the print prop in the <ReactToPrint> component ... I have tried in some ways but I still can't print a component ... the only error I get is "For" react-to- print "to work only Class based components can be printed."
Is there an example of how to use this library in electronjs? Thanks a lot.

[2020-11-26 21:15] MatthewHerbst commented on #319
Hello. Can you share some of the code please? It sounds like the problem you are having is that you are trying to print a functional component at the top-level when right now we only support class components at the top-level

[2020-11-26 21:20] MatthewHerbst commented on #313
Hello. I'm still waiting for a code sample to see how this is used with `react-to-print`, right now I only see Electron code

[2020-11-27 00:03] MatthewHerbst commented on #318
Hello. You want to show the custom dialog on top of the print-dialog, or after the print-dialog has closed?

[2020-11-27 01:23] MarsonShine commented on #318
first i description my case
1. raise `trigger` function then show print-dialog
2. then user select 'print'(not 'cancel')
3. print succeed，then i call service to increase numbers of print for data analysis

now，`onAfterPrint` is raised whenever print and cancel。so is not my needs

expect: only print succeed

finally，sorry for my english

[2020-11-27 02:06] fralfarom commented on #319
edit: I dont know why the code change its format 😥 sorry.

Hello @MatthewHerbst  my component to print is:
[code]

and Im calling :
[code]

I have this in a button onClick then when I clicked the button I just getting the error "For" react-to- print "to work only Class based components can be printed."
Im trying use "print" prop because Im in electron app...but to tell the truth... I don't know ho

[2020-11-27 09:11] MatthewHerbst commented on #318
Ah, I understand. I'm sorry, but unfortunately [it is not possible](https://github.com/gregnb/react-to-print#why-does-onafterprint-fire-even-if-the-user-cancels-printing). We listen for the [`onAfterPrint`](https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onafterprint) event to detect when the print-dialog has closed. That event is fired regardless of selecting "print" or "canc

[2020-11-27 09:20] MatthewHerbst commented on #319
Ah, yes. Take a look at #270. There is discussion and links there that might help you. Essentially though, the `print` prop gets as an argument the content to print, and must return a promise. So, it should be used like:

[code]

P.S. for formatting code on multiple lines in GitHub, use three ticks instead of one, so do

this
\```
code here
\```

instead of
\`
code here
\`

Let me know if you stil

[2020-11-27 09:21] MarsonShine commented on #318
ok，i see and thank for your reply
i close issue

[2020-11-27 09:21] #318 closed, assigned to nobody

[2020-11-27 17:42] fralfarom commented on #319
@MatthewHerbst Thank you very much for the reply! When I can Illtry this and Ill tell you.

[2020-11-27 22:07] MatthewHerbst commented on #311
Done in #320, thanks again!

[2020-11-27 22:07] #311 closed, assigned to nobody

[2020-12-01 23:20] matYang opened #321 "documentTitle doesn't seem to work"
Using react-to-print v2.11.0

[code]

when choosing to save download as PDF, the default document name is still the page title, not the one specified in documentTitle prop

also using react helmet v5.2.1 to set the page title at render, not sure if it impacts anything

[2020-12-02 00:37] MatthewHerbst commented on #321
Hello. I see it working properly when I run the examples locally (the file name changes to what is specified in `documentTitle`), however, when I run the example in codesandbox I do see the issue you are running into. I'll take a look. Any chance you could share the code you use to set the title? Thank you

[2020-12-02 00:50] MatthewHerbst commented on #321
Ok, I have a theory about the codesandbox example: they render the page within an `iframe`, and I'm willing to bet that changing the value of `document.title` within the `iframe` only changes the value within the `iframe`, and not in the parent window. I would love to see how your code works to see if that could be related, or if I'm missing something else

[2020-12-02 01:17] MatthewHerbst commented on #321
Ok, I can confirm that attempting to set `document.title` in an `iframe` only effects the `iframe`, not the main `document`. Interestingly, setting the `title` attribute on an `iframe` does not set its `document.title`.

For same-origin `iframe`s we can change the parent title from within the `iframe` by doing `window.parent.document.title = 'Some New Title`. The problem with this is that `react-t

[2020-12-02 01:19] MatthewHerbst commented on #321
Related: https://stackoverflow.com/questions/42014507/how-can-i-set-the-default-filename-for-the-chrome-print-dialog-from-within-an-if

[2020-12-02 04:34] MatthewHerbst commented on #321
A naive solution to this is to allow `documentTitle` to accept a function that would return the reference to `document.title` at the top layer, and simply leave it to the user to figure out how that should be determined/retrieved. Ex:

[code]

Another solution is for the user to manually control this using the existing callbacks:

[code]

Neither are amazing but I'm not sure of another solution. I

[2020-12-02 05:47] rabbittheory opened #322 "Page numbers"
Hello,
Is there a way to understand or even predict how many pages the print is going to be before kicking off the job. My content height is dynamic and I need to include the page numbers inside the component before render somehow. Thank you.

[2020-12-02 06:49] MatthewHerbst commented on #322
Hi there. There is no way to do this with JavaScript unfortunately. There may be a solution using CSS though.

See [this SO question](https://stackoverflow.com/questions/20050939/print-page-numbers-on-pages-when-printing-html) for more details. I think you should be able to do what you want. Please let me know if you run into issues with that.

[2020-12-02 09:46] Fatdrfrog opened #323 "print multiple components in .map"
Hi!

I'm trying to print multiple barcodes in map. If I will print them by passing an array inside ComponentToPrint as a prop, and then map inside, it's going to work well and display in the browser all needed elements. But I want to map before, by not sending it inside as a prop. like  `array.map((e) =>{ComponentToPrint})`.
Here is sandbox that doesn't work as I am expecting: https://codesandbox.

[2020-12-02 19:57] MatthewHerbst commented on #323
Hello! So, you would need to create a new ref for each component. Right now you create a single ref, and then in every iteration of the map it gets overwritten, meaning when the loop is finished the ref just points to the last element in the loop. You could solve this by moving the loop to the parent component.

I will say that having multiple `react-to-print` components firing from a single event

[2020-12-03 03:45] Fatdrfrog commented on #323
Thank you @MatthewHerbst! I think I will just leave it as map through each element inside `ComponentToPrint`.

[2020-12-03 03:45] #323 closed, assigned to nobody

[2020-12-04 02:31] TobyLiu-max commented on #180
@MatthewHerbst   Click twice in a row, and "Uncaught TypeError: Cannot read property'focus' of null" will appear. In your examples, click continuously and appear "react_devtools_backend.js:2430 Printing failed because the `contentWindow` of the print iframe did not load. This is possibly an error with `react-to-print`. Please file an issue: https://github.com/gregnb/react-to-print/issues/"

[2020-12-05 08:07] AchmadWahyu opened #324 "How to force page break to a new page"
Hi,

Im trying to use useReactToPrint() hook to pass the ref into my class-based child component.

In my child component, i've tried to use page-breaking dynamic react content as written on your document, but the element still didn't force to break onto the new page. I'm using module css here to refer styles in my childComponent. Can someone please help me find where the mistakes was? Thank you

C

[2020-12-07 19:17] MatthewHerbst commented on #324
Hi there. I'm not a CSS expert but happy to try and help. I wonder if something with the `Grid` is preventing it from breaking? How is `Grid` defined?

[2020-12-08 07:47] AchmadWahyu commented on #324
Thank you very much! turns out i was caused by 2 things :
1. The ```<Grid/>``` tag (here im using MaterialUI as my lib, so it was defined as ```import { Grid } from "@material-ui/core"```)
    solution : im using original ```<div/>``` tag as alternative for layouting the document

2. The ```auto``` value for ```page-break-before``` property.
    solution : Refer to [https://stackoverflow.com/quest

[2020-12-08 10:39] pyjun01 opened #325 "Page size is not correct"
Hi,

page and element are the same size, but the bottom has padding bottom, so the bottom part of the element is on the next page.
please check this

Page css
[code]

Element css
[code]

result
![image](https://user-images.githubusercontent.com/32596517/101472782-5f2e3300-398c-11eb-9692-adbf94114b90.png)

https://codesandbox.io/s/print-break-page-reactclicktoprint-forked-ivies?file=/src/styles.css

[2020-12-09 00:45] MatthewHerbst commented on #325
We copy the styles exactly as they are on the page, so this is some CSS issue you are having. I have made it almost perfect with the below CSS. Not sure why there is still a little on the bottom of the second page. Will try more tonight, but you might get more help asking on StackOverflow

[code]

[2020-12-09 00:49] MatthewHerbst commented on #324
@AchmadWahyu glad you got it working! Please let us know if you run into any other issues. If there is something above that you think might be worth adding to the README please feel free to make PR!

[2020-12-09 00:49] #324 closed, assigned to nobody

[2020-12-09 13:12] miguelmich commented on #180
@xxxliuzhifu the same thing is happening to me (Chrome), I get this error when I double click the component, is there a way to avoid a second click @MatthewHerbst? thank you!

[2020-12-09 18:34] taynancid opened #326 "Page Template"
Hello,
Is it possible to have a template for each page that will result when printing (like the same header for each page)?

[2020-12-09 19:26] MatthewHerbst commented on #180
@miguelmich any chance you could make a code sandbox showing the issue? I think an easy fix on your end would be to disable the button while printing:

[code]

[2020-12-09 19:29] MatthewHerbst commented on #326
You can use CSS to style the pages however you want, such as by hiding a header component when not printing and then when printing show the component:

[code]

[2020-12-09 19:30] MatthewHerbst commented on #326
You could also get very fancy by changing the content completely using the `onBeforeGetContent` prop

[2020-12-09 20:03] govardhan5 opened #327 "Printing uses mobile viewport instead of desktop"
Hi ,

In my application I applied styling for the content based on the view port. For example for the desktop I am using col-lg-3 , for ipad i am using col-md-3 and for mobile- col-sm-6 and col-xs-6. But on the print preview it is taking only mobile version styling sm and xs even on when the user is clicking on print from desktop. Is there any fix for this issue where it supports lg and md as well

[2020-12-09 20:18] MatthewHerbst commented on #327
Hello.

Any chance you could make a working codesandbox to show the problem please?

[2020-12-10 00:09] matYang commented on #321
Sorry for the late response, we are not rendering the page in iframe, it's standard HTML.

The page in question is an admin download page, its title is set during a componentDidMount event in a parent element by

`document.title = `${applicationName} | Admin`;`

checking the HTML, the title is properly set in the head, and when saving the PDF, the default name is the page title

[2020-12-10 00:21] matYang commented on #321
adding

[code]

successfully set the exported PDF default name to Test1, documentTitle prop still not working for me tho

[2020-12-10 16:16] avargas-clorian opened #328 "Build fails in 2.12"
There is a build error when trying to use v2.12
And an error when trying to install the library

` npm i -S react-to-print`

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/react-to-date - Not found
npm ERR! 404
npm ERR! 404  'react-to-date@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
np

[2020-12-10 20:39] MatthewHerbst commented on #328
Hello. This is the repo for the [`react-to-print`](https://www.npmjs.com/package/react-to-print)  library.

[2020-12-11 07:16] avargas-clorian commented on #328
Yes, sorry misstype. I want to say react-to-print.

Install is ok.

 My builds with mui-datatables is failing due to react-to-print.

Creating an optimized production build...
Failed to compile.

Failed to minify the code from this file:

        ./node_modules/react-to-print/lib/index.js:2:358

[2020-12-11 18:50] MatthewHerbst commented on #328
Can you provide the full build process please? I just created an empty npm project locally and was able to install `mui-datatables` without issue

[2020-12-11 20:04] avargas-clorian commented on #328
Maybe it's a problem with an old version of react-scripts (v1.1.4)
Look at the dependencies in my package.json. It starts to fail since v2.12

[code]

I think it's time to upgrade my project. Thank you anyway

[2020-12-11 20:41] MatthewHerbst commented on #328
Please let me know if upgrading fixes the problem

[2020-12-14 05:10] charles4221 commented on #328
I am having this same issue. The problem is because after switching your minifier from Uglify to Terser in v2.12.0, the new minified bundle still contains untranspiled arrow functions which were previously transpiled to ES5 in the npm distributable for this library. Apps using create-react-app prior to v2.0.3 are unable to build because they cannot transpile node_modules.

[2020-12-14 05:24] Farnis commented on #96
I got the correct answer with the following solution and bypassed this error

[code]

[2020-12-14 07:21] avargas-clorian commented on #328
After react-scripts upgrade the build is working fine.
Installing react-to-print with v2.11 also works. Even if react-scripts has version 1 it builds.

Thanks

[2020-12-14 07:59] mojtaba-hajishah commented on #312
I have the same issue.
I'm using webpack to bundle my assets and no matter how I reference my font file, I get an error from react-to-print.

[2020-12-14 09:10] MatthewHerbst commented on #328
@charles4221 that doesn't exactly add up: the minifier doesn't transform code, that's what we use Typescript for. I did recently upgrade the Typescript version from 3 -> 4 though, so that could be the issue.. Investigating, thanks for letting me know the arrow functions are in the build, they for sure shouldn't be

[2020-12-14 18:21] MatthewHerbst commented on #328
Problem found, it's an issue with the Webpack upgrade: https://webpack.js.org/blog/2020-10-10-webpack-5-release/#improved-code-generation

Pushing a fix in a few minutes

[2020-12-14 18:35] #328 closed, assigned to nobody

[2020-12-14 18:37] MatthewHerbst commented on #328
Published as `2.12.1`. Please let me know if you run in any additional problems, and thank you greatly for reporting the issue!

[2020-12-15 07:37] Nicolerobinn opened #330 "Print without background and font color and style"
Background images and font styles are not displayed when printing
![image](https://user-images.githubusercontent.com/48322373/102185036-6654c400-3eeb-11eb-914a-1def11e97e84.png)
![image](https://user-images.githubusercontent.com/48322373/102185169-9734f900-3eeb-11eb-9ca4-b08847db13fc.png)

This is how I use React -to-print in the components

![image](https://user-images.githubusercontent.com/48322

[2020-12-15 07:51] MatthewHerbst commented on #330
Most browsers do not print background images by default, and instead require the user to select "Background graphics" as an option in the print dialog. Unfortunately, it is not possible for `react-to-print` to select this setting for the user.

This is what that looks like on Chrome (see bottom right of image):

<img width="1209" alt="Screen Shot 2020-12-15 at 2 47 35 AM" src="https://user-images.

[2020-12-15 08:13] Nicolerobinn commented on #330
I know and  the font style is not displayed, so why not

[2020-12-15 08:31] MatthewHerbst commented on #330
Are you using a custom font? If so you need to pass the fonts into the `fonts` prop

[2020-12-15 08:33] patrick-duque commented on #11
Hi any fix for this problem? Im using electron with react-js (CRA). Works perfectly on development but still not reading the css file when built.
![1](https://user-images.githubusercontent.com/57241652/102190626-3b6e6e00-3ef3-11eb-9490-6a187206aa66.jpg)

Using `react-to-print: ^2.9.0`

Update: used styled components and it works but still having error in console

[2020-12-15 08:37] Nicolerobinn commented on #330
It's not the font, it's the style of the font like color font-weight that doesn't appear when you print it

[2020-12-15 09:33] Nicolerobinn opened #331 "Are you using a custom font? If so you need to pass the fonts into the `fonts` prop"
Are you using a custom font? If so you need to pass the fonts into the `fonts` prop

_Originally posted by @MatthewHerbst in https://github.com/gregnb/react-to-print/issues/330#issuecomment-745136222_

[2020-12-15 09:34] Nicolerobinn commented on #331
It's not the font, it's the style of the font like color font-weight that doesn't appear when you print it

[2020-12-15 16:05] #331 closed, assigned to nobody

[2020-12-15 16:06] MatthewHerbst commented on #330
Can you share your styles and how you apply them please? Ideally make a working [codesandbox](http://codesandbox.io/)

[2020-12-15 16:17] MatthewHerbst commented on #11
@patrickJasonDuque does the file specified in that `href` actually exist at that location, or is it somewhere else? Can you share more about your build setup/process?

[2020-12-16 01:04] patrick-duque commented on #11
@MatthewHerbst Hi, thanks for your response. Yes it exist and It actually shows the the styles in the preview, for I am showing an editable preview which you can add contents. But when it is printed, it can't detect the styles

[2020-12-16 03:20] MatthewHerbst commented on #11
@patrickJasonDuque any chance you can replicate the issue in a codesandbox? I've been having a hard time debugging this since I don't know how to replicate it locally

[2020-12-16 10:11] isninja opened #332 "Remove or Skip the Dialog"
I am using the React-To-Print package on my Electron.js project.
When I click the Print button, App shows a dialog. I'd like to print without this dialog.
How can I remove this dialog?

Thanks

![image](https://user-images.githubusercontent.com/59780816/102334769-727d6780-3f65-11eb-828b-da86cf43d6b3.png)

[2020-12-16 17:20] MatthewHerbst commented on #332
Hello. See the docs for the `print` prop which lets you specify how printing should happen. There is a partial example of how to use that here: https://github.com/Ririshi/react-to-print/blob/print-replacer-example/example/ElectronPrint/electron/electron.js

[2020-12-17 12:35] thebinarybrain commented on #110
please help i am also having same issue as @avni-logistic

[2020-12-18 00:39] MatthewHerbst commented on #110
Hi @thebinarybrain as mentioned above, the only option you have is to add/remove content to the page before/after print. You can use the `onBeforeGetContent` prop to do this, or you can hide/show elements using CSS with the `@media print { ... }` query. There is no print API that browsers expose to allow settings headers/footers unfortunately.

[2020-12-21 17:12] ChristopherHauschild opened #333 "page-break-inside does not work as expected"
The page-break-inside rule does not work as expected in some components. Even defining the display as table or inline-block, some components continue to break its internal content between pages. The curious thing is that in a more extensive list, the same component has different behaviors, working correctly in some cases and breaking the internal content between pages in others, in addition to def

[2020-12-21 18:09] MatthewHerbst commented on #333
Hello. I can't say I'm a CSS expert, but if you could post a working copy of your code (such as in a codesandbox) that would be very helpful for debugging

[2020-12-21 18:11] MatthewHerbst commented on #326
Hi @taynancid were you able to solve your issue?

[2020-12-21 18:12] #322 closed, assigned to nobody

[2020-12-21 18:38] ChristopherHauschild commented on #333
Hello Matthew. Thank you for your attention. I created a sandbox with a sample code that is breaking in print. We used the Antd library in the layout, so the use of Row and Col. I have already tested inserting the code to not allow page breaks in both Row and Col. In the application we have a listing of this Item component. In the first pages the rule works accordingly, but in the last pages, the

[2020-12-22 03:00] pradeepippaguntaspv opened #334 "Uncaught TypeError: Cannot read property 'findDOMNode' of undefined at t.handlePrint (index.js?3a62:2) at t.handleClick"
Uncaught TypeError: Cannot read property 'findDOMNode' of undefined
    at t.handlePrint (index.js?3a62:2)
    at t.handleClick

Getting error when I am trying to use in functional component that is wrapped with one higher-order component and redux.

I can able to print the current ref.

but getting an error "TypeError: undefined is not an object (evaluating 'i.findDOMNode')"

<img width="818" alt

[2020-12-22 04:58] adenta commented on #159
Is this still the recommended solution? Can't say it's working in chrome on OSX for me

EDIT: Just kidding. For future viewers, I was having an issue with my `ref`s being passed down the component tree.

[2020-12-22 16:24] MatthewHerbst commented on #334
Hello. Could you please share an example (or ideally a working codesandbox) of your code?

[2020-12-28 17:40] fizzvr commented on #54
The FAQ is clear [Page Breaks](https://github.com/gregnb/react-to-print#page-breaks) 🍻

[2020-12-28 19:13] ChristopherHauschild commented on #333
@MatthewHerbst

[2020-12-31 20:59] MatthewHerbst commented on #333
Hi @ChristopherHauschild sorry for the delayed response I've been pretty heads-down at work the last few days. I'm looking at your example but I don't see a print button anywhere? I don't even see `react-to-print` in the dependencies of that codesandbox project?

[2020-12-31 21:36] MatthewHerbst commented on #334
We import `findDOMNode` from `react-dom` (which is listed as a `peerDependency`). Only reason I can think that this error would show up is if your `react-dom` import has an issue.

[2020-12-31 21:36] #334 closed, assigned to nobody

[2020-12-31 21:36] #330 closed, assigned to nobody

[2020-12-31 22:16] MatthewHerbst commented on #325
I haven't been able to remove the seemingly 1-2px white at the bottom of each page. Have you tried cross posting this to StackOverflow? I think you would get much better responses there. Going to close for now since I'm fairly confident this is not a problem with `react-to-print`. I just re-checked that we do not add any wrapper divs or anything around the content. If you think otherwise please fe

[2020-12-31 22:16] #325 closed, assigned to nobody

[2020-12-31 22:17] #332 closed, assigned to nobody

[2020-12-31 22:20] #248 closed, assigned to nobody

[2020-12-31 22:27] MatthewHerbst commented on #259
A small example of this will be added in the next release. Happy new year

[2020-12-31 22:27] #259 closed, assigned to nobody

[2020-12-31 23:44] MatthewHerbst commented on #196
Apologies for the delay on fixing this. Turns out it was very similar to the previous issue with fixing checkbox values. Will push a new version shortly with the fix. Happy new years!

[2021-01-01 03:42] #247 closed, assigned to nobody

[2021-01-01 03:44] MatthewHerbst commented on #90
Is this error still occurring? I'll try and take another stab at it if it's still a problem

[2021-01-01 03:44] #326 closed, assigned to nobody

[2021-01-01 03:51] MatthewHerbst commented on #307
Sorry for not replying sooner. Can you make an example I can use to debug please? You can use a website such as [codesandbox](https://codesandbox.io/s/rzdhd)

[2021-01-01 06:40] #196 closed, assigned to nobody

[2021-01-01 06:40] #292 closed, assigned to nobody

[2021-01-01 06:50] MatthewHerbst commented on #196
Should be fixed in v2.12.2, along with ensuring all inputs work. Please let me know if you see any issues. Thanks!

[2021-01-01 06:50] MatthewHerbst commented on #292
Removed `document.write` in v2.12.2. Please let me know if you see any additional issues, thanks!

[2021-01-04 13:02] ChristopherHauschild commented on #333
Hi @MatthewHerbst ! Okay, thanks again for your attention. I apologize for the misunderstanding, I had created just one example of one of the components used in printing and which presents the problem of breakage. I updated by inserting the library `react-to-print` in the project. I created a file with false data to simulate component looping in the document. However, I was unable to find the corr

[2021-01-04 13:03] ChristopherHauschild commented on #333
Here is the link: https://codesandbox.io/s/to-print-rgob2?file=/src/example/index.js

[2021-01-05 06:25] MatthewHerbst commented on #333
The issue is your `item-container` style. `display: flex` needs to be overwritten.

If you add the following to your `@media print{}` query I'm able to put each item on its own page no problem:

[code]

[2021-01-05 13:08] ChristopherHauschild commented on #333
Thanks again for your attention. This worked, but it is not what I need. I apologize if I have not been clear. The problem is this: in the system, the user will be able to select the information he wants to print for each profile. One option is to select a list with relationship components, just like the example I sent. If the user selects only to print this list, everything happens accordingly, `

[2021-01-05 17:14] MatthewHerbst commented on #333
So, it sounds like you just have more data than can fit on the page, and the browser has to break? Have you tried changing the format/font-size/line-size during printing to see if you can fit more information on the page? There's no way to completely stop page breaks if the information gets too long, the printer knows how long the physical piece of paper is that you will be printing to (or the PDF

[2021-01-06 01:23] ljrodriguez1 opened #337 "When printing no download appears"
Hi, i am using this to print components. mu problem is that when i am printing no download appears on the navigation, it goes directly to the folder, this means that when printing from a cellphone no share option appers. is there any way to do something eith the file after printing?

[2021-01-06 01:53] MatthewHerbst commented on #337
That's because a print is not a download 😄

If you know the name of the file generated from the print (I assume you are saving as a PDF on a mobile device) then you could use `onAfterPrint` to then issue some command, though not sure what that could be since the browser won't let you issue a command directly to the OS.

I'll look into seeing if there's a way I can tell mobile browsers to treat the

[2021-01-06 02:02] ljrodriguez1 commented on #337
That was what i thought, do you know any way of downloading a component to a pdf?.

Your solution is the only one that takes the css correctly

[2021-01-06 19:17] MatthewHerbst commented on #337
If you could find a library that converts HTML to a PDF (such as [`html-pdf`](https://www.npmjs.com/package/html-pdf), though it's old), then you could probably write your own print method and do that:

[code]

[2021-01-09 19:53] jenridunn commented on #312
Loading Fonts is not working even in your DEMO code sandbox, I've tried to load from [{family:"..." ,source: "url(...)"}] ttf files, woff files, cdn urls like this: http://fonts.cdnfonts.com/css/sf-hallucination-2; and nothing is working. I don't receive any errors on console but the font remains the same.

[2021-01-09 20:07] jenridunn opened #338 "Custom Fonts Not loading in Reactjs"
I've been testing this issue in your code sandbox changing only this part of your code:

[code]

When I click "print this out" the font remains the same. I've been trying also with woff files and cdn links like this:
url('http://fonts.cdnfonts.com/css/sf-hallucination-2') *using single quotes inside the url(...)

And the font remains unchanged. What am I doing wrong?  Thanks!

[2021-01-10 18:13] MatthewHerbst commented on #338
I am able to reproduce. Investigating, thanks for reporting

[2021-01-11 22:18] adenta commented on #251
What is the intended solution, in your mind? I see a previous discussion here: https://github.com/gregnb/react-to-print/issues/17.

My content I'm printing does not exist on the page, unless we are clicking the react print button.

[2021-01-11 22:34] MatthewHerbst commented on #251
There is no possible way we can connect to `ctrl+p`. While we could listen for the combination of the two in keydown listeners, it's possible to have multiple `ReactToPrint` components on a single page, and we would have no idea which component to print. Further, we would likely run into a race condition with the browser where we are trying to open a print window and so is the browser, and I'm wil

[2021-01-11 22:37] adenta commented on #251
I'd say I'm looking for more of a workaround than library support. It
sounds like the best thing to do is set up an event listener myself for
`ctrl+p`, and fire the react-to-print click event.

On Mon, Jan 11, 2021 at 4:35 PM Matthew Herbst <notifications@github.com>
wrote:

[2021-01-11 22:44] MatthewHerbst commented on #251
Certainly something you could do, though I caution to check browser compatibility with trying to override the default `ctrl + p` print action. I do again also caution that changing behavior users are used to can be a jarring user experience, and could even be frustrating if for some reason a user wants to print out your entire page as-in but isn't able to.

[2021-01-11 22:46] adenta commented on #251
Should be pretty safe-ish. Printing out a calendar, so you get all the same
data you are looking at, it just looks nicer.

On Mon, Jan 11, 2021 at 4:44 PM Matthew Herbst <notifications@github.com>
wrote:

[2021-01-11 22:57] MatthewHerbst commented on #251
Why not just put a `Print` button above the calendar for the user to click on? I guess if the calendar takes up the entire page then users won't expect anything different. I do also encourage you to consider using those props to change the content during print rather than keeping an entire render tree off to the side which could impact performance if the calendar is heavy

[2021-01-11 23:00] adenta commented on #251
on?
Yeah, that button exists, I just want Carl+p support

On Mon, Jan 11, 2021 at 4:57 PM Matthew Herbst <notifications@github.com>
wrote:

[2021-01-19 11:32] tikthanawat opened #339 "Can not image tag <img onError={} />"
The problem arises in the **chome browser**.

<img src = {imgSrc} **onError = {handleErrorImage}** alt = "product-img" />

prop onError cannot display images in response to print
** Note it works normally in html web page 1st image.
But does not display the image when printing the 2nd image.

![1](https://user-images.githubusercontent.com/67634370/105029075-729ce580-5a84-11eb-8852-f61375b4b29b.jpg

[2021-01-19 17:00] MatthewHerbst commented on #339
Hello. Any chance you could make a codesandbox showing the issue? It's hard to debug otherwise. Thank you

[2021-01-21 10:17] DubstepKnight commented on #276
Hello, I have a similar problem. I am trying to print a component inside a modal overlay, (ant-design modal component). But it does not show anything in print preview.
![image](https://user-images.githubusercontent.com/19612144/105337002-970ed400-5be2-11eb-9408-74014143d789.png)

I also see a warning from the library:
![image](https://user-images.githubusercontent.com/19612144/105337082-a8f07700-5

[2021-01-21 16:29] MatthewHerbst commented on #276
@DubstepKnight any chance you can make a working codesandbox showing the problem? It's all but impossible to debug otherwise

[2021-01-22 10:49] DubstepKnight commented on #276
@MatthewHerbst yes, I will try, wait for a while

[2021-01-22 14:47] DubstepKnight commented on #276
@MatthewHerbst Unfortunately,  I could not replicate it on CodeSandbox. I decided to use **react-pdf** library for now. Because it seems to satisfy the current requirements. Thanks for the quick response.

[2021-01-26 15:21] davedbase opened #340 "Safari print action doesn't hide itself on render"
I'm having an issue on mobile Safari that's proving to be a bit cumbersome to track down. Here is a video of the issue in action: https://www.loom.com/share/eac34e5f9d6342ec98d3e996d738f9e1

To see the issue directly in Safari visit: https://www.ethanallen.com/on/demandware.store/Sites-ethanallen-us-Site/en_US/RomaV2-Start?locale=en_US&start_item=1130516 (click a size option ie small > click Next:

[2021-01-26 17:34] MatthewHerbst commented on #340
Hi there. Thanks for the detailed report. It's really cool to see the library being used on such a major website.

I'm looking into the issue now. My initial guess is that it has something to do with newer versions of Safari not always treating [`Window.print`](https://developer.mozilla.org/en-US/docs/Web/API/Window/print) as blocking.

Can you please try setting the `removeAfterPrint` prop on `us

[2021-01-26 17:43] davedbase commented on #340
Thanks for the really fast response! This app is actually part of a larger product called Framezee. It's an embeddable library that a few major brands are using. It solved a problem nicely for us, so kudos for the good work!

I added removeAfterPrint as a property with true inside the useReactToPrint object and nothing changed unfortunately. The weirder part is that it ONLY displays when another s

[2021-01-26 18:07] MatthewHerbst commented on #340
Very strange. I'll play around with it a bit and get back to you in a couple hours.

[2021-01-26 23:02] MatthewHerbst commented on #340
Can you tell me more about what your `printItem` method does? I modified the hook example in the repo to have a button that changes state but wasn't able to replicate the issue as I see it on the ethanallen site. I'm also curious how `printComponentRef` is defined.

The thing I'm looking at is that after the print (I can replicate the issue by cancelling or doing the print), and then clicking shar

[2021-01-27 14:37] davedbase commented on #340
@MatthewHerbst I spent an hour reviewing our implementation and reading through the docs very closely. Believe it or not it was quite a silly mistake. We didn't wrap the component to print in a style: none div! I suppose we never really caught the issue or thought to read that closely because the component worked without the style none inclusion. Only until you click share (which is the only state

[2021-01-27 14:37] #340 closed, assigned to nobody

[2021-01-27 16:41] MatthewHerbst commented on #340
Glad you were able to figure it out! If there's anything I can do to make the docs simpler please don't hesitate to let me know

[2021-01-27 21:51] Carrasqueira-Creator opened #341 "Print not working in IE11 ("
Hi, first of all, thank you for this amazing library!
I was using it for IE11 and i'm currently having an issue related with the print functionality.
I'm using the hook useReactToPrint and i get the following error when the hook resolves:

"Object doesn't support property or method 'append'".

From looking at the library code, this method is being called from the body of an iframe, so i'm not bein

[2021-01-28 02:14] MatthewHerbst commented on #341
Hello, thanks for reporting this. Not sure why `append` was used instead of `appendChild`. I'll test out converting it to `appendChild` and will make that change if everything works. In the meantime, you should be able to polyfill `append` in IE 9+: https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/append#polyfill

[2021-01-28 10:04] Carrasqueira-Creator commented on #341
Hi @MatthewHerbst. Thank you for your quick reply!
Yes, i've tried that polyfill, but unfortunately, the iframe element is different from an html element as described here:
https://developer.mozilla.org/en-US/docs/Web/API/HTMLIFrameElement
The polyfill doesn't work because the append method was used from the body of the contentWindow/contentDocument, and both of them are read only properties. Pass

[2021-01-30 19:47] meghaMS opened #342 "Issue in printing more than 10 pdf papers"

[2021-01-30 19:49] meghaMS commented on #342
I want to print material ui paper, when more than 10 papers are there, pdf is getting squeezed inside a pdf, for less pages, it is working fine. Can you help me with this

[2021-02-02 23:08] heduardo1989 opened #343 "Page Styles not Printing at all"
Hi, I'm using React.Bootstrap for styling my custom component.
Then, when printing such component from clicking a button, I'm getting the page to print without most of styles applied(Ex. rows, columns...).

Pleasee help me with this, I really need to make this work and I have already tried multiple approaches (without success) until I found this library.

Below a quick summary of my implementation

[2021-02-02 23:25] MatthewHerbst commented on #343
Hello. Any chance you could provide a working codesandbox or similar that shows the problem? It's very hard to debug given the limited amount of code you have shared above

[2021-02-02 23:55] heduardo1989 commented on #343
Ok sure, please try to access this sandbox: https://hlvcn.csb.app/
this is just a small example of the issue.

[2021-02-03 00:20] MatthewHerbst commented on #343
In the sandbox if I remove the `style={{ display: "none" }}` what I see before print is the same thing I see during print. This means you aren't importing the Bootstrap styles correctly. If you read the `react-bootstrap` [Getting Started docs](https://react-bootstrap.github.io/getting-started/introduction) you'll notice under the [CSS](https://react-bootstrap.github.io/getting-started/introduction

[2021-02-03 03:56] heduardo1989 commented on #343
Thanks for your feedback but I think it seems like I could reproduce the issue successfully so, below I provide more details:
In sandbox, I can't add the style import you recommended due to the following issue:
![image](https://user-images.githubusercontent.com/47254200/106695090-e6241400-65a7-11eb-824c-98ce13d41393.png)

Anyway, I'm following all these instructions in my code as you can see below

[2021-02-03 04:28] heduardo1989 commented on #343
This is an updated sandbox that reproduces the issue: https://nu3iy.csb.app
Please note I've modified the sizes pf each of the elements on my component and still the results are the same.

Please let me know what can I be missing.
Thanks again

[2021-02-03 05:52] MatthewHerbst commented on #342
Hello. Can you please provide a working codesandbox or similar so that I can see the code? Thank you

[2021-02-03 06:37] MatthewHerbst commented on #343
Thanks for the update. I'm looking at it now

[2021-02-04 09:39] Carrasqueira-Creator commented on #341
Hi @MatthewHerbst.
Do you have any updates on this issue?

[2021-02-04 18:55] heduardo1989 commented on #343
Hi @MatthewHerbst, any chances you can provide some workaround to implement these printing features while this issue is resolved? Thanks in advance

[2021-02-04 18:57] MatthewHerbst commented on #343
@heduardo1989 I'm still not sure what the issue is honestly. I see the styles on the page, and I can't figure out any reason why `react-to-print` wouldn't copy them over. I'll try and do some more in-depth analysis tonight

[2021-02-04 19:01] heduardo1989 commented on #343
Thanks a lot for that. I really appreciate it!!

[2021-02-05 18:40] MatthewHerbst commented on #341
@Carrasqueira-Creator I've been doing extensive testing locally to ensure everything will work with `appendChild`. `append` and `appendChild` have slightly different behaviors and I want to ensure that changing to `appendChild` will not be a breaking change for any users. I think React saves us a bit here and it won't be a problem, but I want to be 100% sure. I'll have an update/release out later

[2021-02-06 04:09] #341 closed, assigned to nobody

[2021-02-06 04:19] MatthewHerbst commented on #341
Published as v2.12.3, please let me know if you run into any additional issues, and thank you for reporting this!

[2021-02-07 11:43] Carrasqueira-Creator commented on #341
@MatthewHerbst it is working correctly in IE11 so far, many thanks for your hard work!

[2021-02-08 11:38] WoodenPC opened #346 "documentTitle not working in safari"
"react-to-print": "2.9.0"
documentTitle not working in safari
if i call window.print from console in browser, document title is visible in print mode

[2021-02-08 12:50] WoodenPC commented on #346
as i workaround i use custom print callback and change frame.contentWindow.document.title property, and its working in both safari and chrome

[2021-02-08 17:57] MatthewHerbst commented on #346
Hello. This issue is being tracked in #321 thank you

[2021-02-08 17:57] #346 closed, assigned to nobody

[2021-02-12 17:12] lunadis commented on #337
Did not work for me
not exists "print" props on ReactToPrint.

It's possible to get file before or after printing? 

[2021-02-12 18:53] MatthewHerbst commented on #337
@lunadis what version of `react-to-print` are you using? `react-to-print` doesn't generate a PDF, so there is no file available to give, just the iframe with all the print content

[2021-02-12 19:21] lunadis commented on #337
@MatthewHerbst  Oh, ok! I can use the same solution with any htlm converter if I get the iframe. I am using `"react-to-print": "^2.5.1"`

[2021-02-12 19:29] ljrodriguez1 commented on #337
@lunadis  Could you post your solution?

[2021-02-12 19:36] MatthewHerbst commented on #337
@lunadis the `print` prop was introduced in version `2.10.0`, though I recommend updating to the most recent version available, especially since we have had a bunch of big bug fixes in the last few months

[2021-02-13 13:54] lunadis commented on #337
@joeldenning Of course! I thought to do in this way

[code]

@MatthewHerbst Ok, now its available, but I try with this solution and is not working yet.
My function is not called, I am using a class component this is important?

[2021-02-13 19:37] asaldivar opened #347 "create-react-app: PDF text is reversed when rendered / copying"
First of all, thank you for this GREAT library which is saving me so much time!

When I copy the example from the [demo](https://codesandbox.io/s/rzdhd?file=/example/index.js) within my app and my app is running `"react-to-print": "^2.12.3"` the pdf is generated seemingly perfectly. However, when I attempt to search for text within the PDF I'm unable to. After some digging I realized I'm unable to

[2021-02-13 19:49] MatthewHerbst commented on #347
Hello. I just printed from the demo and saved as PDF, and when I open the PDF I am able to search for text without issue. I used Chrome 88 to print on MacOS 11.12.1, using MacOS's default Preview app to view the PDF. What browser/OS are you on, and what tool are you using to view the PDF? (I think you are on MacOS and using Viewer as well from your pics, right?)

![Screen Shot 2021-02-13 at 11 48

[2021-02-13 19:56] asaldivar commented on #347
Thanks for the fast reply @MatthewHerbst ! Yes, when I print from the demo example (not within my own app) the searching for text also works perfectly. It's only from within my own app that the text becomes reversed in the PDF.

I am on Chrome version 88, macOS Big Sur 11.2, and using MacOS default Preview app to view the PDF.

My app is a simple Create React App. Is it possible there is some kind

[2021-02-13 20:03] MatthewHerbst commented on #337
Hi @lunadis from what I can see in your code snippet above, the `resolve` needs to be _inside_ the `.then` block, right after the `pdf.save` call. What's happening right now is that your `html2canvas(iframeElement)` call fires, and then `resolve` is called before the `.then` is called since the `html2canvas(iframeElement)` might take some time

[2021-02-13 20:17] MatthewHerbst commented on #347
This is very strange. I am able to replicate the issue when using Create React App: https://codesandbox.io/s/create-react-app-forked-h4omm?file=/src/App.js

I'll do some digging here. It's clearly an issue with something `create-react-app` is doing, but not sure what. I'll get back to you, thanks for reporting

[2021-02-13 20:19] asaldivar commented on #347
Thank you **so much** @MatthewHerbst . Really appreciate your efforts and looking forward to hearing from you. I'll keep digging as well and if I find anything out I'll report back ASAP!

[2021-02-13 20:30] asaldivar commented on #347
@MatthewHerbst For further context, I found this [CRA app](https://github.com/lyhd/reactjs/tree/react-pdf) where the searching for text does work as expected. Note it's running [version](https://github.com/lyhd/reactjs/blob/react-pdf/package.json#L15) `"react-scripts": "3.4.1"`. I just tried fixing my app's CRA version from `^3.4.0` to `3.4.1` like in that repo but still faced the same issue. The

[2021-02-15 04:51] asaldivar commented on #347
@MatthewHerbst Please note that for the working example I linked, [CRA app](https://github.com/lyhd/reactjs/tree/react-pdf), you must be using the code from the `react-pdf` branch.

[2021-02-15 06:43] asaldivar commented on #347
@MatthewHerbst, aha! I haven't quite figured out the _why_ but I have figured out the _what_. For some reason `react-to-print`'s functionality doesn't seem to like global styles. I forked your example and simply commenting out the `index.css` import fixes the text selectability within the PDF. [Here is that fork](https://codesandbox.io/s/create-react-app-forked-b70xp?file=/src/index.js:61-85).

I'

[2021-02-16 05:13] MatthewHerbst commented on #347
@asaldivar thanks so much for investigating! I'm not sure exactly how global styles could be causing an issue. I'll keep playing around with it. I'll have more time tomorrow to look at it. Please let me know if you discover anything else, thank you!

[2021-02-17 13:50] yoshifumi4423 opened #348 "Can not print new content after changing its values."
Hello.
Thank you for developing great package!
I recently started to use this, and I got stuck with problem about title.
Could you help me to find solution.

**Expected result**
Component can print  `<ChartToPrint />` with updated `reportHeader` props.

**Current result**
After passing new props, component can not print `<ChartToPrint />` with updated `reportHeader` props but old `reportHeader` pr

[2021-02-17 18:51] MatthewHerbst commented on #348
Hi @yoshifumi4423 could you share please how `ChartToPrint` works, or ideally make a working codesandbox with an example showing the problem? Thank you.

One thing I did notice, the dependency array for `reactToPrintTrigger` callback seems wrong. I think it should be `[disablePrint , loading]`, not `[useState(loading)]`

[2021-02-18 01:45] yoshifumi4423 commented on #348
@MatthewHerbst
Thank you for your advise.
I solved this problem.
This was caused by my code, not `react-to-print`.

I checked below things.
1. I fixed `useCallback` as you mentioned.
2. I fixed `<ChartToPrint />`. In this component, re-render process didn't work. After fixing re-render process, it prints updated `reportHeader` props.

[2021-02-18 01:45] #348 closed, assigned to nobody

[2021-02-18 18:27] MatthewHerbst commented on #347
Hi @asaldivar my friend and I were looking at this and we believe it comes down to a mix of Chrome and the `BlinkMacSystemFont` font. When the page is printed via Firefox there is no issue. On Chrome, if you remove the `BlinkMacSystemFont` font there is no issue.

It _might_ be related to [this Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1018581), but not sure. I'll keep re

[2021-02-18 21:27] asaldivar commented on #347
@MatthewHerbst Thanks so much!!!! Will try out your suggestion and if it doesn't go as expected will report back to you. Thanks again for your effort and kudos on such a great package!

[2021-02-18 21:27] #347 closed, assigned to nobody

[2021-02-22 02:07] MatthewHerbst commented on #338
Hi @jenridunn apologies for taking so long on this, it's been tricky to figure out. So, the `fonts` prop was originally added due to a bug report in #281. Taking a closer look at that issue, it seems it may have been a Chrome-specific bug that may have since been fixed. I have updated the example for `react-to-print` on [codesandbox](https://codesandbox.io/s/rzdhd) to use an imported font and it s

[2021-02-22 02:14] #339 closed, assigned to nobody

[2021-02-22 02:14] #342 closed, assigned to nobody

[2021-02-22 02:14] #333 closed, assigned to nobody

[2021-02-22 02:17] MatthewHerbst commented on #312
Revisiting this: could you share the CSS where you use the fonts please? As noted in #338 I'm not exactly sure if `fonts` is even needed at all

[2021-02-22 02:18] #307 closed, assigned to nobody

[2021-02-22 02:23] MatthewHerbst commented on #263
Trying to re-visit this, could someone please provide me with a working codesandbox showing the issue? The above ones no longer seem to work. Also, to be clear: the print is based on the size of a piece of paper (a size you can change in CSS). If you are trying to print a page that is wider or taller than the page size of the paper there is no possible way it is ever going to look right for you. Y

[2021-02-22 02:24] #282 closed, assigned to nobody

[2021-02-22 02:25] MatthewHerbst commented on #68
We have had the ability to `useReactToPrint` for some time now 😄

[2021-02-22 02:25] #68 closed, assigned to nobody

[2021-02-22 02:39] MatthewHerbst commented on #95
Not sure when it became available (maybe it always has been), but you can add the [`suppressColumnVirtualisation` grid prop](https://www.ag-grid.com/documentation/react/dom-virtualisation/#column-virtualisation) which fixes this issue. Note that this can cause performance issues if you have a massive number of columns.

[2021-02-22 02:39] #95 closed, assigned to nobody

[2021-02-22 03:06] MatthewHerbst commented on #337
@lunadis did that resolve your issue?

[2021-02-22 18:17] jenridunn commented on #338
Hi @MatthewHerbst ! Exactly as you stated, the prop "fonts" should be deprecated. With the last update, if you want to change the font you have to include the class that makes reference to the font-face you want to display. It's so much better this way. Thank you so much Matthew. The issue is now solved.

[2021-02-22 18:21] jenridunn commented on #312
@k-jiang and @MatthewHerbst  I can confirm that the prop fonts is not needed anymore. You just have to apply the style (font-face) and it will be printed as it is displayed in your monitor. Thanks! @MatthewHerbst

[2021-02-22 18:21] #338 closed, assigned to nobody

[2021-02-23 22:21] #312 closed, assigned to nobody

[2021-02-24 19:16] lunadis commented on #337
@MatthewHerbst sorry for delay! Yes, this solved the problem only thing I did after is using clone prop of htm2canvas and resizing the image

[2021-02-24 20:16] #337 closed, assigned to nobody

[2021-02-26 23:51] clevermatem opened #349 "Images fetched are not showing in function components"
Hello sir,
thank you for this awesome library.
My issue is: I am trying to print a function component that contains 3  images 1 is local and shown correctly, 2 fetched from my s3 aws, they don't appear when I try to print them:
this is my toPrintComponent :

[code]

and this is the component containing the CAT button:

[code]

What is causing the issue? and is there a solution?
Cordially,

[2021-02-27 01:58] MatthewHerbst commented on #349
Hi there, thanks for using the library and for writing in. Any chance you could share a codesandbox showing the issue, or just give the me the urls of the images so I can test them? We should be waiting for all images to load before printing

[2021-02-27 22:56] clevermatem commented on #349
Hello sir,
thank you for your response,
this is a sandbox showing the issue,
https://codesandbox.io/s/strange-leavitt-772fr?file=/src/FMRPage01.js

if you don't scroll to the image and click print the images won't be fetched  the first time, but they are fetched when you click close and print again,
everything is fixed by removing lazy loading, but I prefer keeping it because the report I want to

[2021-02-28 07:59] MatthewHerbst commented on #349
We can't print what's not on the page 😄

Take a look at the `onBeforeGetContent` prop. You should be able to use that to perform a full render of the page before printing occurs.

[2021-02-28 14:36] clevermatem commented on #349
Ah ok my bad,
Closing the issue 😅

[2021-02-28 14:36] #349 closed, assigned to nobody

[2021-03-02 22:41] cubby-alexander opened #350 "Over-riding pageStyle default strips print formatting that removes date/time"
I just want to add a margin to my print document, so I'm passing the default string to the pageStyle prop with a modified margin value -- everything else the same. Problem is, this strips the formatting that removes the print date/time from the top of the document, which is not an effect I want.

For ease of reference I'm pulling this from the [index](https://github.com/gregnb/react-to-print/blob/

[2021-03-03 08:08] MatthewHerbst commented on #350
Heh, the `margin: 0mm` is our very hacky way of removing that stuff since there is no browser API to do so unfortunately.

I would suggest just adding a div to your print component that only has the margin during print

[code]
In your CSS:
[code]
I haven't run that exact code but I think it should work. Please let me knowHeh, the `margin: 0mm` is our very hacky way of removing that stuff since the

[2021-03-11 04:04] vikmehta opened #351 "The links are expanded and display the attributes next to it in a pair of parenthesis (like mark down format). The styles are not applied in the print preview."
I am using this package to print one of my React component.
Everything works fine except the links in the printed document (or in the print preview) is not styled (Colors are not getting applied). Also links instead of appearing like normal links, it appears more like a text with its href attribute next to it in a pair of parenthesis (like mark down format).

I tried searching for a similar issue

[2021-03-15 06:54] MatthewHerbst commented on #351
Hi, sorry for the delayed response. Will look into this more soon

[2021-03-24 15:42] louidorjp commented on #54
it's work for me
![Screenshot from 2021-03-24 11-43-47](https://user-images.githubusercontent.com/56307966/112339844-699fde80-8c96-11eb-98c5-8a8e95184b63.png)

[2021-03-25 09:10] nonoumasy opened #352 "Question: Changing the style of the Document"
I have a React app which has pages like this:
<img width="629" alt="Screen Shot 2021-03-25 at 2 09 01 AM" src="https://user-images.githubusercontent.com/6312676/112447965-22096900-8d0f-11eb-890a-28ab180db889.png">

I would like to keep some of the elements on the page, leave some out and restyle it.
What would be the best way to achieve this with this library?
Would I need to create a different ve

[2021-03-25 15:48] MatthewHerbst commented on #352
Hi @nonoumasy you have two options. The first is to just create a second version of the page in React, and then use `onBeforeGetContent` to render that component for printing. The second option would be to use CSS to achieve what you want, using a mix of `@media print {}` and `display` styles. Inside of the `@media print {}` query you would modify the CSS as needed to hide things you don't want to

[2021-03-26 18:04] BossBele commented on #193
@hamzakhan747  @il-frans @ErnestBrandi  @MatthewHerbst
Some kind of trick: To use an external functional component, add a ref prop with another name to the component.

Code in Print.js file:

[code]
Code in showprint.js file:

[code]

WORKS LIKE MAGIC

[2021-03-26 18:08] BossBele commented on #181
To add on @vjsingh 's answer.
Another trick is to pass a prop with the ref to the imported component.

Example:
Code in Print.js file:

[code]

Code in showprint.js file:

[code]

WORKS LIKE MAGIC

[2021-03-26 18:29] nonoumasy commented on #352
@MatthewHerbst Thanks for replying.
I tried the second option and got it to almost to a point where its good enough. However, I've reached my limits as far as print css styling. I can't seem to get rid of the page breaks . I've tried every combination I can think of in @media print. Also, I am using MUI styles and I was able to hide some components. I just can't seem to get rid of the blank spaces

[2021-03-26 22:22] MatthewHerbst commented on #352
Does [this section from the README](https://github.com/gregnb/react-to-print#page-breaks) help at all? It's hard for me to help debug without seeing the code unfortunately, though I do see the page breaks in the PDF

[2021-03-26 23:21] nonoumasy commented on #352
@MatthewHerbst thanks again for replying. I used the code from the README however I still get those darn page breaks.  :)
The following is what I added to my index.css.

[code]

[2021-03-28 22:54] hussenIbrahim opened #353 "Print multi pages with header and footer"
I am trying to print multi pages with header and footer  , I found this [example ](https://plnkr.co/edit/lWk6Yd?preview)  it works fine until change the header height to 450px , the first page is fine , but the content  of  next pages is covered by the header

[2021-03-28 23:42] MatthewHerbst commented on #353
Hi @hussenIbrahim could you share an example of your code, possibly as a codesandbox? It's very hard to help debug otherwise, thanks

[2021-03-29 07:56] hussenIbrahim commented on #353
https://codesandbox.io/s/immutable-morning-gy81p

[2021-03-30 12:08] opinyinRob commented on #96
I followed the examples given and still get the error message. Could it be because the wrapped component has some stateless components in it?

[2021-04-06 00:55] MatthewHerbst commented on #352
Hi @nonoumasy sorry for the delayed response. Any chance you can make a minimal reproduction on codesandbox or something where I can play with the code? Extremely difficult to help debug otherwise. It might also be good to cross-post this question to StackOverflow since it's almost certainly CSS related

[2021-04-06 17:38] rivaslive commented on #181
Although @BossBele's solution seems to be good It seems only works with HTML elements and not react components, when you have a complex component or styled-component it is not able to pass the alert, my solution is to simply create a class-based HOC that renders a functional component

[code]

Styled HOC component, the component is hidden until print is launched in the browser

[code]

the way it

[2021-04-06 23:50] mehmetakify commented on #90
Hi, I got the same problem not only Edge but also Opera. Firefox and Safari works well but Chrome may not render all iframes if the number is huge, and IE is the best. It crashes.

Also, there is a hacky solution for opera and chrome and probably edge. It is old but maybe works.
https://stackoverflow.com/questions/1648594/print-iframe-content-in-opera-and-chrome

[2021-04-07 01:42] MatthewHerbst commented on #90
We only render/print a single iframe thankfully. Thanks for that link!

[2021-04-08 14:41] harsha-jay opened #354 "[Chrome] [Adobe Acrobat] Garbage values printed for the pdf encoded on Chrome"
This is a pdf saved using print option on Chrome. It has garbage values only when viewed on Acrobat reader. However Firefox generated pdfs do not seem to have this issue.

![image](https://user-images.githubusercontent.com/54434451/114046641-a3800000-98a6-11eb-85e6-5384a5b56bcf.png)

[2021-04-08 15:43] MatthewHerbst commented on #354
Hi there. This is almost certainly a font/browser specific issue. Can you share the code you are using to generate the PDF so I can take a closer look? A working codesandbox or similar would be greatly appreciated

[2021-04-08 16:31] harsha-jay commented on #354
Hi Matthew, You are correct. I did more testing and extracted a pdf from a normal page and the issue is in that as well. The font is heebo. I have to look into it.

Closing the tickets. Thanks!

[2021-04-08 16:31] #354 closed, assigned to nobody

[2021-04-08 18:21] vikmehta commented on #351
Thank you for your response. Sorry for the late reply. Did you get a chance to look into the issue. Thanks :)

[2021-04-09 13:05] Gaibhne commented on #83
Google has this result pretty high up for what the original poster wanted, which I believe was to have a component that is visible when printing, but not visible while looking at the page in a web browser. I find the scattered comments above very confusing, but I ended up finding the solution from the inspiration they gave. For future googlers, this is how you do it:

In your app (from the example

[2021-04-10 18:46] MatthewHerbst commented on #351
Played around with this more. I don't see it in the CSS you have, but my guess is that in one of the libraries you use (Twitter Bootstrap from the looks of it) they have CSS that looks something like: `a[href]:after { content: " (" attr(href) ")" }`. Many frameworks do this since of course anyone who actually prints the page won't be able to see the link value otherwise.

To fix, you just need to

[2021-04-12 11:07] makhesko opened #359 "How can I use window.print as my trigger ?"
Hi, I am currently using a custom button to trigger the print  and it is working as expected. But I also want that default print method to trigger ReactToPrint and work as same.

[2021-04-12 16:12] MatthewHerbst commented on #359
Hi there. It's not fully possible to do what you want unfortunately. The browser controls what happens when you default print through it, and no major browser that I am aware of gives developers any way of interacting with that via JS on a webpage (it could be done via browser extension). In addition, it's possible for multiple `ReactToPrint` instances to exist on a single page (imagine having a p

[2021-04-13 15:59] Azarians opened #360 "No text when printing"
sometimes there is no text when I printing my calendar.
[issue.pdf](https://github.com/gregnb/react-to-print/files/6305095/issue.pdf)

[2021-04-13 16:03] MatthewHerbst commented on #360
Hello. Could you post a code sample please, or ideally a working codesandbox so I can see the problem?

[2021-04-14 03:20] MatthewHerbst commented on #343
@heduardo1989 apologies for taking so long on this. I've come back to it, and realized that the styles are printing correctly. It's the page width that is changing. If you make the browser smaller you will see that the page actually becomes exactly what it shown in the print window. I was able to correct the issue by adding `xs` breakpoints into your columns, in addition to the `sm` breakpoints.

[2021-04-14 03:20] #343 closed, assigned to nobody

[2021-04-14 03:25] #351 closed, assigned to nobody

[2021-04-14 07:47] Azarians commented on #360
you can see live demo at https://boomteamcalendar.wixsite.com/for-test
in some cases window.print() works better than react-to-print ( I mean window.print() prints styles better )

[2021-04-14 10:36] makhesko commented on #359
Ok, thank you for your reply. But I thought that `print` prop may be for that. I am not getting how to use the `print` prop, do you have any example for that?

[2021-04-14 15:17] MatthewHerbst commented on #360
This is what I see when I go to print the calendar (I'm on Chrome 89)
![Screen Shot 2021-04-14 at 11 15 39 AM](https://user-images.githubusercontent.com/1287375/114735194-f0cef800-9d12-11eb-82a0-91791aa8105c.png)

[2021-04-14 15:19] MatthewHerbst commented on #359
The `print` prop is meant to be used in non-browser environments, such as Electron. When passed, `ReactToPrint` will call that function instead of `window.print` (note that `window` doesn't refer to the global `window` of your page, but instead to a hidden `iframe` that `ReactToPrint` creates to print only the content you want printed)

[2021-04-15 09:00] #360 closed, assigned to nobody

[2021-04-20 14:25] nate-vukovich commented on #187
Any news on this one?

Also ran into this when building a GatsbyJS website and I found the package perfect for the job.

Will also do some digging if there is something doable here ;)

[2021-04-21 21:17] yousefshakoury opened #361 "Can not print RTL table columns"
![prob](https://user-images.githubusercontent.com/13915152/115621979-81f23000-a30c-11eb-9bae-87b1c2de6d94.png)
I can not print RTL table columns !!! (the columns orders is changed in print)

[2021-04-21 22:23] MatthewHerbst commented on #361
Hi there. Can you please share a working code example of your code that you used to make the page RTL? Thanks

[2021-04-22 17:44] masiafrest commented on #83
i don't know is this is useful, but is you use material ui u can import box component and wrap what u want to print, and pass props `displayPrint='block'` to show on print screen

[2021-04-27 07:15] dsc-jerome-dc commented on #120
Putting margin/padding on container does not put margin to the top/bottom of next page (each page)
@page { margin: 10mm; } not seems to work tho

[2021-04-28 11:56] ninosaurus opened #362 "Issue with styled-components and Safari"
Hello guys,
We have founded an issue which is mobile Safari browser specific and here is how to reproduce it:
1. Trigger print action
2. Close print modal
3. Put the Safari in background (open another app)
4. Open Safari from background
5. Styles are not applied

Here's the [codesandbox](https://codesandbox.io/s/react-to-print-forked-v6iyc) demo where you can reproduce it. And here's the video of

[2021-04-28 16:38] MatthewHerbst commented on #362
Well that's pretty strange! Thanks for reporting, and for the video and codesandbox. I'll have to find a way to test this since I don't how a iOS device myself, though maybe I can reproduce in the emulator on MacOS.

Just to be sure, can you please verify that this doesn't happen when doing a "normal" (without react-to-print) print of the page?

Will be researching this tonight. Love browser diffe

[2021-04-29 07:22] ninosaurus commented on #362
Yup, it's working fine, our insane QA team found this, don't ask me how :)

😅  I did a little debugging and it looks like none of styles (from styled-components) exists on the page, like they are deleted or sth like that.

[2021-04-29 15:32] MatthewHerbst commented on #362
Ok, in good news, I can replicate this on the iOS simulator on my Mac, so I can start debugging. I didn't come across anything in research last night that was an obvious answer. I do know 100% for sure `react-to-print` does not delete any styles from the page. Will ping back what I discover.

[2021-04-30 08:02] truelet opened #363 "Can I use it without ref in functional components"
If is it possible, Can I have any example by doing this.

[2021-04-30 08:54] MatthewHerbst commented on #363
Hello. What is the problem you are facing with refs?

[2021-04-30 12:05] truelet commented on #363
I am facing bellow error.

[code]

[2021-04-30 12:27] truelet commented on #363
I wanted to print a material UI table which open dynamically with data and then I want to print that table.
![react-to-print](https://user-images.githubusercontent.com/26105266/116694010-5510dd80-a9dc-11eb-9ec1-194725c21a27.png)

[2021-04-30 16:49] MatthewHerbst commented on #363
Could you please share some of your code, or ideally a code sandbox replicating the problem? The error is correct though. There may be some workarounds. See this #96 and #181 for solutions others have come up with

[2021-05-01 07:40] truelet commented on #363
This is main component:
[code]
This is Printable component which is also functional based:
[code]
All the parent components are functional components.

So, How can I use with my components.

[2021-05-03 01:19] MatthewHerbst commented on #363
Two options, as noted in #96: you can wrap the entire component to print in a native dom element such as a `div`, or you can wrap the entire component to print in the `React.forwardRef` HOC

[2021-05-04 09:55] truelet commented on #363
I have converted print component into forward ref like component. And now I am facing below issue when click on print button.
`For "react-to-print" to work only Class based components can be printed.`

[2021-05-04 14:25] GeorgePasquali opened #364 "My browsers don't allow the iframe to be printed"
Hello, I have no idea if this is the place, but I have no idea how to resolve this issue.

 I created a working example with the using the useReactToPrint hook and in a local environment everything works as expected.
 Once I deployed the application though, I get the following error inside my browser console:
[code]
 This is the error message from chrome, but Firefox and Edge both throw a similar

[2021-05-04 14:52] MatthewHerbst commented on #364
Hi there. That's very interesting. It makes me wonder if your entire web app is possibly being run inside an iframe when deployed?

Any chance you could share the DOM structure of your page?

Also, so I can mimic your environment, what version of Chrome are you using?

[2021-05-04 15:01] GeorgePasquali commented on #364
Sure, Here is a screen of my DOM tree:
![image](https://user-images.githubusercontent.com/23388713/117023939-3b380900-ad02-11eb-8153-b6b238c6531b.png)

I have tested this with Firefox(v 88.0) and Chrome (90.0.4430.93 (Official Build) (64-bit))

And I am relatively sure there are no other iframes in my app. I am using a pretty standard next.js setup.

[2021-05-04 15:53] GeorgePasquali commented on #364
Okay, I feel a little dumb, but I found what caused the issue.
I noticed that my nginx was serving the page with a security header, which looked like this:
![image](https://user-images.githubusercontent.com/23388713/117031671-7db11400-ad09-11eb-8ef7-51fba8cbb950.png)

I added the allow-modals property to the content-security-policy security header and now it all works:
![image](https://user-images

[2021-05-04 17:52] MatthewHerbst commented on #364
Glad you were able to figure it out! Always good to have documented errors so when the next person comes looking they will hopefully find this. 😄

[2021-05-04 17:52] #364 closed, assigned to nobody

[2021-05-05 05:38] truelet commented on #363
At the end I have converted my print component into class component and now the print is working.
I want to open print dialog on component open, not on button click, for this what should i have to do?

[2021-05-05 07:19] MatthewHerbst commented on #363
I'm glad you were able to get it working using a class component. I hope to have better support for functional components in the next major version of the package.

I'm not sure I understand. Do you mean when the component renders?

[2021-05-05 18:51] jcsouz10 opened #365 "Can I export more than 1 page ?"
Hi guys..

I liked the library but I need to export more than 1 page.

For example:

I have two components in different places and they are not on the same page.

Is there any way to do that?