[2018-01-08 10:58] vjrngn opened #1 "Error : Cannot read property 'outerHTML' of null"
Hey gregnb,

I like the API your component offers but there seems to be a bug. Here's the codesandbox link : https://codesandbox.io/s/23o6n6n1xp

[2018-01-08 14:01] gregnb commented on #1
Hey @vjrngn, Thanks for the feedback. It appears you have just a slight mistake in your code. Change

[code]
to
[code]

[2018-01-08 20:37] #1 closed, assigned to nobody

[2018-01-18 11:57] 404sand808s opened #2 "Margin on top of printed page"
First and foremost thank you very much for this repo, it's by far the easiest React printer to use/implement that I've tested.

I had one question though: when I print the same component multiple times (i.e. the same component several times within a div, and the ref is to the div), there is a small 8px margin on top of only the first printed component (each is printing to a different page by the w

[2018-01-19 11:11] gregnb commented on #2
Thanks for the feedback! I'm not entirely sure about the issue can you provide a codesandbox to this example? I'll look into it

[2018-01-20 02:02] 404sand808s commented on #2
Sure, I'm not sure it's even necessarily related to my implementation or even react-to-print. But here it is:

[code]

It's pretty simple. The label itself is a simple component that doesn't have any special margins. Actually, what I've tested is putting multiple <Label /> components within the targeted div and it prints them each out on a separate page perfectly. Only the first has a top margin o

[2018-01-20 21:24] gregnb commented on #2
Ok I'll try to look into this. Thanks!

[2018-02-07 17:40] lanhnguyen2010 opened #3 "Cannot print image"
I have One html with avatar and use example to print but the avatar become blank
HTML:
![image](https://user-images.githubusercontent.com/13290861/35931839-916166b6-0c68-11e8-8a7b-2cee2d2f38a7.png)

Preview:
![image](https://user-images.githubusercontent.com/13290861/35931875-a96c72c8-0c68-11e8-9b42-89bb7f958e53.png)

[2018-02-07 18:06] gregnb commented on #3
Could you paste the exact code you used?

[2018-02-08 15:31] lanhnguyen2010 commented on #3
I follow exactly your example.
[code]

[2018-02-08 15:47] gregnb commented on #3
Ok thank you. I will look into this

[2018-02-08 15:49] lanhnguyen2010 commented on #3
Thank you.
 Btw, Can you share an example in that we can preview image so that I can follow it.

Thanks

[2018-02-08 15:57] gregnb commented on #3
Sure I'll work on that. Thanks for the feedback

[2018-02-09 14:22] gregnb commented on #3
Try the latest version 1.0.5 this should be addressed

[2018-02-09 18:20] lanhnguyen2010 commented on #3
thanks, I tried that. New problem:
The app open and print homepage instead of the current page when clicking on the link?

[2018-02-09 20:14] gregnb commented on #3
Ah boy, alright I'll take a look at that too. Sorry!

[2018-02-10 15:33] gregnb commented on #3
@lanhnguyen2010 Can you please try 1.0.6 ? Just made another update. My tests so far are stable but noticing some inconsistencies in Chrome sometimes. Would love your feedback

[2018-02-14 03:09] gregnb commented on #3
@lanhnguyen2010 did that help?

[2018-02-14 04:01] lanhnguyen2010 commented on #3
I already did it by myself using css, @media print. I will try your component later. Thanks a lot.

[2018-02-14 11:38] gregnb commented on #3
No problem

[2018-02-14 11:38] #3 closed, assigned to nobody

[2018-02-20 09:43] pbpraveen1988 opened #4 "Not working on Edge."
Hello @gregnb ,

Really I like the library and its working fine on chrome but not working on Microsoft Edge and also in safari new window is getting open but not initializing the print.

Can you please look into that.

Thanks

[2018-02-20 09:58] gregnb commented on #4
Sure I'll look into it.  Which version are you running ?

[2018-02-20 11:39] pbpraveen1988 commented on #4
@gregnb right now i am using the version  1.0.6 of your library.

[2018-02-20 11:52] gregnb commented on #4
@pbpraveen1988 Ok, you are right it is not working properly in EDGE.  I'll look into it shortly. Thank you

[2018-02-21 07:11] pbpraveen1988 commented on #4
@gregnb  any update on Edge issue ?

[2018-02-21 11:31] gregnb commented on #4
@pbpraveen1988 Sorry for the delay. So I fixed Safari but I'm still working on EDGE but I'm pretty busy at the moment. I will try to look into it tonight. Once I fix edge I'll release both fixes in 1.0.7

[2018-02-21 11:38] pbpraveen1988 commented on #4
okay thanks @gregnb

[2018-02-21 13:40] pbpraveen1988 commented on #4
@gregnb  can you first release the Safari issue , so i can move , I am stuck actually ?

[2018-02-21 13:45] gregnb commented on #4
@pbpraveen1988 Just published 1.0.7 try that for Safari

[2018-02-21 13:46] pbpraveen1988 commented on #4
okay thanks @gregnb

[2018-02-22 22:04] TheRohitSharma opened #5 "Only runs window.print if img tag is present"
The browser's print dialog does not seem to trigger unless an img tag is present. It can even be an img tag with no actual image (e.g. <img src="" />) From the code, I can see that it assumes the content contains an image and then waits for the image(s) to load before firing window.print.

I can try my hand at a PR if needed.

[2018-02-22 22:55] gregnb commented on #5
Ah boy, you know this is sloppy work on my part. I tried to solve another ticket related to images and missed this. Fixing it right now. Thank you

[2018-02-22 23:09] TheRohitSharma commented on #5
No problem! Thanks for making this.

[2018-02-22 23:35] gregnb commented on #5
No problem. Thanks for the feedback and bug report!

Just published 1.0.8 please try that

[2018-02-22 23:35] gregnb commented on #4
This should be resolved with the latest version

[2018-02-22 23:35] #4 closed, assigned to nobody

[2018-02-23 00:22] #5 closed, assigned to nobody

[2018-03-29 08:27] MikeSha opened #7 "Sometimes a printable area is sent to print before styles have loaded."
It happens when copyStyles set to true. I have an idea how to fix it. I'll try it when I have a free time and I'll make a merge request.
I think loading styles should be "promisified". When all styles is loaded, then `target.print()` should be called. Sorry for my English, I hope you understand what I mean :)

[2018-03-29 09:17] gregnb commented on #7
Mike, your English is fine. I understand. It's weird that not all the styles are coming over considering that it's copying style sheets from a parent window that should have already downloaded them and been cached in the browser. Do you maybe have caching disabled?

Could you walk me though the steps you take to trigger the bug? Is it consistent?

[2018-03-29 09:22] MikeSha commented on #7
Sure. I'll do it a little bit later.

[2018-03-30 09:20] MikeSha commented on #7
Sorry for the delay, a lot of work :) Yes, I have caching enabled and I do everything like in the documentation. On my localhost it works fine. But when I'm trying to print on server, I get this issue. I know, it's a little bit weird :) It could be fixed by increasing timeout. But I think it's better to wait all styles loading.

[2018-03-30 09:41] MikeSha opened #8 "add onBeforePrint callback"
I don't know if it is in the scope of this library, but I think it could be very nice to have such callback. For example, I have some collection of data and. For each item I have a button "Print Invoice". It would be very nice to update "Printable" component data instead of render it for each item.

Something like this:

static propTypes = {
    /** Copy styles over into print window. default: tru

[2018-03-30 10:25] gregnb commented on #8
I think this is a great idea but let's also add one after printing so:

onBeforePrint
onAfterPrint

[2018-03-30 10:27] gregnb commented on #7
Yeah it's still an odd issue I haven't had time myself to test this out more. I'll try to get around to it. It can't hurt to see an implementation with it being promisfied if you still want to complete that

[2018-03-30 10:33] MikeSha commented on #7
Sure!

[2018-03-30 11:08] gregnb commented on #8
I'm going to take this one up because the afterPrint is a little bit of work but I'm interested in this one :)

[2018-03-31 00:41] gregnb commented on #8
Ok this is now complete in 1.1.12

[2018-03-31 00:41] #8 closed, assigned to gregnb

[2018-04-01 01:14] gregnb commented on #7
I think I have an easier way to solve this problem. In the latest version I added onload/onerror callbacks on copied stylesheets so once they're triggered we will know that they are loaded in the print window and only then do we trigger print.

If that doesn't solve the issue I'll reopen this

[2018-04-01 01:14] #7 closed, assigned to nobody

[2018-04-06 15:14] fstepien commented on #8
I am wondering if the onBeforePrint function can be used to run print if it returns true, and stop printing if it returns false? Thank you.

[2018-04-09 05:49] rrsilaya opened #11 "Styles not included in print"
I'm using create-react-app and CSS classes. The styles are not loaded on the print media.

[2018-04-10 09:01] gregnb commented on #11
Hey @rrsilaya would you mind sharing your repo so I could take a look?

[2018-04-10 11:12] Erandakuruneru opened #12 "Only first page is printing on Firefox web browser"
An only first page is printing on Firefox web browser. Did not print the second page.
if we set the copyStyles as false.then only print all the pages, but that time paging styles disappeared.

[2018-04-10 11:34] gregnb commented on #12
Thank you for reporting the issue. Would you be able to share your repo so I could download and look at this issue myself? Is it available on Github?

[2018-04-10 11:48] Erandakuruneru commented on #12
Sorry, it's not available on Github, I have modified the code,
in my print.css file added following code line.
div {
    overflow: visible !important;
  }
After that, I was able to print two pages, but this time I got the empty page as the first page and two, three pages had all the data.

[2018-04-10 11:53] gregnb commented on #12
Yeah it will be hard for me to see what is going on for you exactly.  If you can provide some sort of stripped down simple version online I would be more than happy to look into the issue for you

[2018-04-10 21:00] ShawnKoga commented on #11
Hey @gregnb this is working great for me on a project in a development environment, but when we do a production webpack build the styles seem to be missing.

[2018-04-10 21:02] gregnb commented on #11
Hey @ShawnKoga would love to nail down the source of issues anyway you can provide a simple repo to look at?

[2018-04-10 21:05] ShawnKoga commented on #11
I'm checking the source map files for the production files real quick to see if I can find out what is going on.

[2018-04-10 21:08] gregnb commented on #11
Ok, sounds good. If you don't see an obvious error any other items you can list to paint a picture of what your environment looks like would be helpful.  It's my fault for not filling out the ISSUE template and it's on my todo list

[2018-04-10 21:42] dereksweet commented on #11
I'm having some issues with this as well, currently. I wish I could send you my code but it's in a fairly complicated App and copying and pasting code wouldn't be very feasible. I am using React Native for Web, not sure if that makes a difference.

I can say that I have discovered if I use inline styles then they seem to get passed through to the printed content, but if I use a styles constant the

[2018-04-10 21:44] gregnb commented on #11
@dereksweet Understood. To be honest I've never tested this using React Native for web so I don't know if that could cause any issues

[2018-04-10 21:47] dereksweet commented on #11
Will keep mucking around and let you know if I get it working. Is a great tool, exactly what I'm looking for as I'd rather not make an entirely new endpoint just for the printed version of a "frame" on my page. Would be amazing if I could just throw a ref into the component and then make the print button use your tool.

[2018-04-10 21:49] gregnb commented on #11
Yep, exactly why I wanted to make it. I saw a solution but it relied on an iframe. Where there's smoke there's fire and there's some uncovered bug I have to nail down.  Need more info so hopefully this thread will point us in the right direction.

I'm going to try to play around some more tonight and see if I can trigger this issue.

[2018-04-10 22:01] gregnb commented on #12
I've started to use this package to support another one I've created and if you visit:

https://wy2rl1nyzl.codesandbox.io/

and click on the print icon in the upper right hand toolbar you shouldn't experience any issues. In the popped up window this is extracting dynamic styles generated from material-ui

<img width="1427" alt="screen shot 2018-04-10 at 6 01 03 pm" src="https://user-images.githubu

[2018-04-10 22:09] dereksweet commented on #11
I just took a look at your code and saw that it selects any elements that match `style` and `link[rel="stylesheet"]` so I was like "OK, I'll just go see what kind of element these React Native fr Web stylesheets make and then I can add that selector to the list".. After 15 minutes I still cannot see where the heck this style is being defined in the actual generated HTML, so I'm gonna not blame you

[2018-04-11 06:37] Erandakuruneru commented on #12
that's something related to my styling if I remove styles it will work fine. there is no issue with the print package.
Thanks for your comments and supports.

[2018-04-11 06:37] #12 closed, assigned to nobody

[2018-04-11 13:00] gregnb commented on #11
@dereksweet Bummer! If you find anything useful let me know :)

[2018-04-11 17:39] dereksweet commented on #11
Brought it up with our frontend guy this morning and even he does not know how React Native for Web stylesheets end up getting rendered in the HTML, so just made a new endpoint for the printed content. Oh well, thanks for writing the component though, I'm sure it will come in handy one day. If you ever get it working for RN for Web let me know!

[2018-04-23 23:26] thamjieying commented on #7
Hi, I have been using the library to try to generate some pdf. It's a great and easy way to use the library by only using html and css to style the invoice, and it works great on localhost. However, when i use it on production, the style always fails to load on the first attempt to print the file. The print window still pops up before the style loads, or rather the style does not load at all. If i

[2018-04-23 23:29] gregnb commented on #7
@thamjieying could you share your environment details with us? OS, node version, etc

[2018-04-23 23:32] thamjieying commented on #7
I am using this library on the client side using react, and nodejs v8.7.0 as the server. I am developing using macOS. Does these affect the performance?

[2018-04-23 23:34] gregnb commented on #7
No, just trying to understand what your environment is.  Which browser are you using? If you try different browsers do you still have issues?

[2018-04-23 23:42] thamjieying commented on #7
I have tried on mac with chrome, firefox, Opera and safari,
and windows on chrome firefox, Opera and edge.

the browser on mac always fails on the first attempt to download, as i have described,
on pc, chrome has the same problem, firefox rendered correctly on screen but style is never transferred to the downloaded pdf. Only opera and edge works fine on windows.

[2018-04-23 23:55] gregnb commented on #7
I'm not seeing an issue @thamjieying look at this example here where I pull in a completely foreign CSS file from w3c schools: https://3vqww5xo0m.codesandbox.io/#

Do you see the styling come over?

[2018-04-24 00:26] thamjieying commented on #7
@gregnb I tried yours and it worked fine. I don't know what's wrong with mine. maybe the style fine is too big? Thanks for the prompt reply. I might try another library if the problem still persist.

[2018-04-25 19:29] ghost commented on #11
Hi, if you need a repo to look at I made this one:

https://github.com/ishraqiyun77/print-issue

Well, this at least reflects my use case.

If you change the `className='printtest'` to `style={{ color: 'red' }}` the color is retained in printing. Also note, this example does use `bootstrap.css` and I have removed anything related to `@media print` from `boostrap.css`.

The probably is the same no

[2018-04-25 19:45] gregnb commented on #11
Ok, thanks for supplying the repo. I'll take a look into it!

[2018-04-27 21:45] gregnb commented on #11
@ishraqiyun77 thanks for providing this repo. The issue appears to be from the fact that if someone is providing CSS with a relative path it is not setting up the proper relative link in the print window. I will address this tonight.

I will make a change where if a relative path is detected we will provide the proper qualified path into the print window for that given stylesheet

[2018-04-27 23:18] gregnb commented on #11
I've published a new version (1.0.15) that should resolve @ishraqiyun77 issues and maybe some others on this thread

[2018-04-29 13:47] muriukim opened #14 "Unable to print child components"
[code]

The components QRCode and Footer doesnt appear in the print.

[2018-04-30 00:04] gregnb commented on #14
If you look at this example here: https://codesandbox.io/s/x3jx2kpq6w

There is no issue with child components

[2018-04-30 06:43] muriukim commented on #14
What could be the issue with my child components. Ofnotes is the the QRCode component actually renders a canvas

[2018-04-30 06:59] muriukim commented on #14
In the sandbox, the QRCode doesnt print. Seems your library cant canvas. I think you should add that as a feature

[2018-04-30 07:04] muriukim commented on #14
But just noticed that the QRCode library allows you to render as svg using the renderAs prop. Thanks for the help and nice library.

[2018-04-30 09:55] #14 closed, assigned to nobody

[2018-04-30 17:17] novembrea commented on #11
@gregnb any change to get it published on npm? I'm experiencing the same issue as OP.
[code]
Also very useful component, thanks for your work.

[2018-04-30 17:19] gregnb commented on #11
@nvma Should be up there as 1.0.15. I screwed up and meant to say 1.0.15

[2018-04-30 17:33] novembrea commented on #11
@gregnb Aww, too bad for me. So I've poked around and indeed `<link href="main.css" rel="stylesheet">` doesn't work, but `<link href="/main.css" rel="stylesheet">` works.

[2018-04-30 17:37] novembrea commented on #11
So just to make sure,
[code]
This kind of solves it, but I think it could be easily fixed by prepending slash when reading link for the DOM.

[2018-04-30 22:23] gregnb commented on #11
@nvma Just published 1.0.16 that should resolve the missing slash issue

[2018-05-01 15:12] harrybruce commented on #11
Hi,
I still can't get this to copy styles over. Is that confirmed working for anyone else?

[2018-05-01 15:45] ghost commented on #11
Actually, it is working in the repo I made, but not in my actual app. I'm thinking that might be due to the .scss import being on the parent component... but wouldn't think that should matter since all of the SCSS is converted to CSS which is read in from the `index.html`. Going to test it out some more...

[2018-05-09 23:02] ShawnKoga commented on #2
@gregnb The repo seems to be working fairly well for me, but I have a component that gets split to multiple pages when I go to print. I am having an issue with the margins on the pages, when printed, cut off some information. Is there a way to account for this in my code to make sure everything is printed correctly? I think the sides can be accounted for easily enough by adding padding, but the re

[2018-05-14 03:04] zhayes opened #15 "can't print image"
![image](https://user-images.githubusercontent.com/17758062/39976464-7da83ed0-5766-11e8-9354-7116970bb392.png)

![image](https://user-images.githubusercontent.com/17758062/39976390-13432668-5766-11e8-887e-95744c5db10c.png)

![image](https://user-images.githubusercontent.com/17758062/39976413-32e23d74-5766-11e8-948e-812fb90fc78f.png)

[2018-05-14 09:06] codeslayer1 commented on #7
@thamjieying Hey. Were you able to solve the issue. I am also facing the same issue. The styles are not loaded the first time print window opens. On subsequent opens, the styles get loaded.

[2018-05-14 12:56] vademyanchik commented on #15
The same problem

[2018-05-14 13:08] gregnb commented on #15
What path is provided for the image? is it absolute? Or relative?

My guess is that it is a relative path and I need to fix the package to handle relative paths for images. That was a recent bug in the stylesheets that I should address here regardless

[2018-05-14 14:53] zhayes commented on #15
absolute path @gregnb

[2018-05-16 01:59] woramit opened #16 "can't print with custom @font-face css"
Source component load correctly but when click to print, font not load

[2018-05-16 09:03] woramit commented on #16
use "Absolute path" for font can fix that problem.

[2018-05-16 09:03] #16 closed, assigned to nobody

[2018-05-18 16:50] chrisl8888 commented on #11
Had this issue too. To have it working in chrome:

The issue is this line: https://github.com/gregnb/react-to-print/blob/d79b7fcb6f0644ee6ce4547e5454abdfcf7975a1/src/index.js#L94

Before:
[code]
After:
[code]

[2018-05-18 16:52] chrisl8888 commented on #11
Also, if you are using webpack if you have a blob it won't append that file: so i had to add logic to line:

Before:

https://github.com/gregnb/react-to-print/blob/master/src/index.js#L106

After:

[code]

[2018-05-18 17:09] gregnb commented on #11
@chrisjlee thanks for finding these flaws. Would you like to send in a PR?

[2018-05-18 19:03] chrisl8888 commented on #11
Sure i'll try to put in a MR this weekend.

[2018-05-22 16:07] mezzab commented on #15
same problem

[2018-05-23 09:15] putnap opened #17 "No trigger if CTRL+P clicked"
Hey,

I'm working with React in TS, I wrote my own type definitions, everything works as expected on normal trigger of a button, but I can't get the component to trigger when CTRL+P is pushed.

What am I missing or is this a missing feature?

[2018-05-23 09:55] gregnb commented on #17
Right, because as it stands today this is only triggered by a click event.  I'm not sure if this package should be setting up an event listener for CTRL+P.  Let me think about it. Maybe it could be an option turned on/off, but off by default

[2018-05-23 14:22] putnap commented on #17
Well,
I understand why you might feel hesitant, but it defeats the purpose of this control if it can't be triggered when user selects CTRL+P or even Print icon in the toolbar of browser. Means my whole print logic goes out the window...

[2018-05-24 20:48] vavdav opened #18 "Print dialog is not displayed when using <img src="file.svg" />"
Thanks for great tool. Just one thing that I found, when I was using

    <img src="file.svg" />

then print dialog is not displayed. It just displays popup. I solved it for me by using direct <svg...

Another thing is when onBeforePrint callback is called and I call setState (to hide some elements) in this callback, it is not handled.
I had to do some hack:

Helper function

    handlePrint = ()

[2018-05-25 01:04] gregnb commented on #17
Right, but think about this for a moment. What about people who have multiple instances of this component on a single page? When a user selects CTRL+P which instance of the component should it print? I can see that becoming a tricky situation

Maybe adding a option that is turned off by default could be a compromise

[2018-05-25 05:29] putnap commented on #17
You are right... I believe an option is a must to make this control complete solution to printing needs. I'm pretty new to web development in general, I couldn't find a workaround for this. I tried using media matching and then calling the controls trigger, but it didn't work... Any ideas?

[2018-05-25 05:36] thamjieying commented on #17
if you want to trigger print page, maybe you should consider [react-print](https://github.com/captray-zz/react-print) instead, or use print media

[2018-05-26 23:40] gregnb commented on #11
@chrisjlee I went ahead and added those changes myself in hopes that it will help some others here. They are now published. Thanks for sharing that information!

[2018-05-27 05:15] downup2u commented on #11
I upgraded react-to-print to 1.0.17 .this issue still exists.
npm start is ok. but after npm run build,open index.html cannot print css.
I used css like this:
'import './index_info.css';' on the head of js code.

[2018-05-28 16:05] gregnb commented on #11
@downup2u can you share a repo to download and see your issue?

[2018-06-05 12:51] rafael-cineis commented on #15
Any update? I'm having the same issue when trying to print an image using Edge. Using Chrome, Firefox and IE it works fine. Pressing CTRL+P works fine in Edge.

[2018-06-06 00:08] gregnb commented on #15
I just published 1.0.18 and I've added a debug mode. To turn it on add the debug={true} prop like so:

[code]

What this will do is when you click to print it'll open the print window but it will NOT print and it will NOT close.  What I would like is if anyone experiencing issues could open up console and then look for any issues? Also, if they could paste the contents HTML elements like so below:

[2018-06-09 02:57] fonty422 commented on #11
I'm in the same boat, although i note that some of the CSS is coming through.
Fonts - everything works -> colour, weight, size
Borders - everything works -> colour, weight
background colour -> nothing
div sizes -> width appears to be ok, but height is all wrong.

So the css is getting through, but is just not interpreted fully.

--UPDATE--
If I set `closeAfterPrint = {false}`, I can see that it do

[2018-06-11 19:12] ssxv commented on #15
I have an `<img src="url" />`
url is an Amazon S3 url.
When triggered, and the Print dialog opens,
I see the network tab, it doesn't request for this image, first time.
then I close the dialog.
And open again
this time it fetches the url.

[2018-06-11 22:44] ssxv commented on #15
my observations are, on trigger, it does not fetch the image first time.
on second trigger it fetches the image as 'octet-stream' and renders it in print dialog.
on further triggers, the image is not fetched, but is seen in the print dialog.

Hope this helps @gregnb

[2018-06-13 14:52] asliwinski opened #21 "Canvas not being printed"
As mentioned in https://github.com/gregnb/react-to-print/issues/14 the canvas elements are not being printed.

[2018-06-13 15:48] mossjm commented on #11
I'm having a similar issue on 1.0.19,

Webpack (ExtractTextPlugin) is generating my link tags in this format:
`<link href="/app.bundle.48f0c92bd8ec03b6a1ff.css?13f2c6b6b37708020514" rel="stylesheet">`

But ReactToPrint brings them in as:
`<link href="https://mydomain.com//app.bundle.48f0c92bd8ec03b6a1ff.css?13f2c6b6b37708020514" rel="stylesheet">`

If I remove the extra slash from this ReactToPrin

[2018-06-14 05:53] zhayes opened #22 "cant't print as i add loading style"
[code]

if the code ``` <div id="app">...</div>``` ,the inner is empty, the component of print is running ok.
ps: my app component is appended in the element which  id is 'app'.

[2018-06-15 13:09] gregnb commented on #22
Sorry @zhayes I am trying to understand better so apologies on my end. Are you saying you're trying to print something as data comes in and is not ready yet?

[2018-06-15 13:10] gregnb commented on #21
I am trying to complete a rewrite of this library using iframes to solve cross origin issues. Along with that will be canvas fix. Bear with me and apologies for any issues in the mean time

[2018-06-15 14:03] zhayes commented on #22
@gregnb
sorry ,my english is poor.

if i write If I write it this way， can print.
[code]

if i write If I write it this way， can't print.

[code]

I don't understand why ?  The ```<div id="app"></div>``` is the root element which my App mounted.
[code]

[2018-06-15 17:50] gorjan-mishevski commented on #11
Not working for me. Using 1.0.19 version. Interesting is it works perfectly on development while on production all styles are missing. I am using create-react-app. I have not ejected.

[2018-06-24 12:01] shyam2794 opened #26 "Getting a Blank Page along with the component to be printed"
Hi ,

I am trying to print the bill . And am facing some issues in handling it . I am able to get the bill component to be printed but am getting another blank page .

![screenshot from 2018-06-24 17-13-19](https://user-images.githubusercontent.com/30238125/41818808-7c9e5870-77d3-11e8-837d-a4cf73c248f3.png)

By Default it takes two pages . Am not sure how to resolve this .

[2018-06-25 21:15] BrittMcDanel commented on #2
I am having the same issue as ShawnKoga, components will split in an ugly way over multiple pages. Is there a way to determine a page break. Even manually setting one would be good. Something like:

[code]

I realize this is probably hard to do. Overall react-to-print is very good and is working well for me also.

[2018-06-27 13:29] mossjm commented on #11
1.0.20 fixed my issue, thanks guys!

[2018-06-28 00:31] gregnb commented on #22
[code]

and let me know the feedback if this solves issues

[2018-06-28 00:31] gregnb commented on #15
I would encourage anyone having issues to try the new beta version which is going to rely on an iframe to solve the cross origin issues some people are experiencing.

[code]

and let me know the feedback if this solves issues

[2018-06-28 01:18] zhayes commented on #15
i have used [https://www.npmjs.com/package/rc-print](url)

[2018-06-28 01:19] #22 closed, assigned to nobody

[2018-06-28 08:56] codesignist opened #28 "Explained documentation needed"
More examples and detailed documentation needed.
There are very few questions in stackoverflow. Because of that different kind of usage and examples needed.

[2018-06-29 10:30] simonschllng opened #29 "Let user define margin"
A printer usually cannot print to the very edge of the paper. This library however sets the page margins to 0 here:

https://github.com/gregnb/react-to-print/blob/725e060ed02a6077420f5be2897990b60f9ee46a/src/index.js#L162

What is the reason for that? It causes my page to look ugly and cuts away some part of the text. Can we make this style optional or over-writable by a prop?

[2018-06-29 10:32] simonschllng commented on #2
One can control page breaks with CSS: https://www.w3schools.com/cssref/pr_print_pageba.asp

[2018-06-30 21:23] BrittMcDanel commented on #2
Thanks simon I was not aware of this.

[2018-07-03 13:35] codesignist commented on #29
As you might notice margin 0 removes the date/time from top.
https://github.com/gregnb/react-to-print/blob/725e060ed02a6077420f5be2897990b60f9ee46a/src/index.js#L160
Need an another solution.

[2018-07-03 13:53] simonschllng commented on #29
For me this is more a hack than a solution. The browser adds those headings and should give the user a way to remove them. My browser (google chrome 67) offers this option:
![image](https://user-images.githubusercontent.com/5861026/42223845-073f1026-7ed9-11e8-8fda-a6e2e9290380.png)

Could you at least make this optional? Like if you set property `pageStyle="@page { size: auto;  margin: 25mm; } }"`

[2018-07-03 14:15] gregnb commented on #29
@simonschllng Sorry for the delayed response. So you're proposing two different solutions:

1) Adding a prop called 'pageStyle' where a user can specify styles for the page itself
2) A prop to turn the default pageStyle off/on

If you want to submit a PR for solution 1 I would accept it. That way you can style it however you see fit. As pointed out it was added to remove the time, but I would be w

[2018-07-04 10:24] codesignist commented on #29
First option is more appropriate.

[2018-07-05 07:00] marta312 opened #31 "How to print as the page open?"
Hallo,
Than you for sharing, I found the lib really usefull!

I would like to let the printing process start as the page open, but I do not know how to set the trigger function.
Do you think is there a way to manage this?

Thank you
Marta

[2018-07-06 02:13] gregnb commented on #31
Hi @marta312, I am going to say that is probably out of scope for this package. This package is meant to be a action based and not on a page load. There might be some other solutions out there that will work better for you

[2018-07-06 02:13] #31 closed, assigned to nobody

[2018-07-06 02:13] gregnb commented on #29
Anyone want to take this work on up on the first option?

[2018-07-06 02:14] gregnb commented on #28
Would you like to help with that? I don't know how many different examples I could come up with since the API is small but if you wanted to submit something or have ideas I'm more than happy to hear them

[2018-07-06 13:24] rujsga opened #32 "not showing content in electron"

[2018-07-07 01:26] gregnb commented on #32
Can you paste some screenshots? Maybe a link to an example app?

[2018-07-07 05:35] rujsga commented on #32
This is react png works fine but in electron content is not displaying.
![react](https://user-images.githubusercontent.com/40892723/42407198-55f26dfe-81d5-11e8-9668-78a3a83d831b.png)

 I am attaching the electron screenshot.
![electron](https://user-images.githubusercontent.com/40892723/42407235-9c7f5dcc-81d5-11e8-8c05-be40a56b9eae.png)

[2018-07-07 11:22] gregnb commented on #32
Try the new beta version which is going to rely on an iframe to solve the cross origin issues some people are experiencing.

[code]

and let me know the feedback if this solves issues

[2018-07-10 00:45] gregnb commented on #32
@rujsga Can you update me if that worked?

[2018-07-10 01:10] gregnb commented on #29
I've taken care of this issue by adding a prop called `pageStyle` which you can then override everything and provide whatever styles you wish.

If you want nothing to be there simply:
[code]

[2018-07-10 01:10] #29 closed, assigned to gregnb

[2018-07-10 01:11] gregnb commented on #26
Hi @shyam2794 sorry for the delay. Try the new beta version which is going to rely on an iframe to solve the cross origin issues some people are experiencing.

[code]

and let me know the feedback if this solves issues

[2018-07-11 07:20] shridharbennisur opened #33 "print window is not opening on Firefox."
print window is not opening on Firefox.

[2018-07-13 22:18] dillon opened #34 "Low quality images upon saving PDF"
Images are high quality and working fine until I view them in the print pdf.

[images here ](https://imgur.com/a/HGhX0Xv)

Here is the ReactToPrint section of my code:

[code]

[2018-07-13 22:18] dillon commented on #34
By the way, I tried the beta but it wouldn't work at all for me.

[2018-07-14 02:39] gregnb commented on #34
What happens when you try the beta? does anything pop up or any console errors?

[2018-07-14 04:38] dillon commented on #34
Each time I press my print trigger with react-to-print@2.0.0-beta-1 installed
with debug mode on with chrome devtools

[(screenshot)](https://i.imgur.com/UpNSXyj.png)
[code]

[2018-07-14 15:55] gregnb commented on #34
Can you give me more details? OS, Browser Version, React/React-dom Version etc

Here's a simple example using v1-beta https://codesandbox.io/s/l7oq61y65q it seems to work perfectly. It should solve a lot of people's CORS issues but I'm reluctant to release it until it's been tested. Let's try to figure out what is going on here with your issue

[2018-07-14 15:59] gregnb commented on #33
Try the new beta version which is going to rely on an iframe to solve the cross origin issues some people are experiencing.

[code]

and let me know the feedback if this solves issues

[2018-07-14 16:16] dillon commented on #34
OS: `macOS High Sierra 10.13.6`
Browser Version: `Chrome Version 67.0.3396.99 (Official Build) (64-bit)`

package.json file:
[code]

To be totally fair, I'm fairly new to React and React Router and loading images in there confuses me a bit so it's possible that I'm messing something up. Here's how I'm loading images:
I'm initializing images like this at the top of the file:
`const portrait001 = re

[2018-07-14 16:59] gregnb commented on #34
I would probably start but just keeping references to the file locations and not importing the actual images into the project. Can you do that?

Keeping an object reference is fine and smart but have it be just the file names perhaps and then prefix the base url where the files will be hosted. Then you can remove the eval and just list the web url

[2018-07-14 18:03] dillon commented on #34
I'm a bit confused.

So the dictionary object would have
`img: "./portraits/Portrait_001.jpg"`
and then they would be mapped as
`<img src={require(x.img)} alt={x.name} />`

is that correct?

Also, I doubt that this is causing the issue with the beta, as the print popup doesn't even show up at all.

[2018-07-14 18:07] gregnb commented on #34
I've never done it that way. What even comes into the markup if you require() and imagefile and src value to that? What I'm saying is do this:

[code]

[2018-07-14 18:17] gregnb commented on #34
I've modified an example using the beta to follow what you're doing and it still works:

https://codesandbox.io/s/l7oq61y65q

[2018-07-14 18:37] dillon commented on #34
But I'm using webpack and react router, so http://yourwebsite.com/${x.name} doesn't actually refer to an image file. I'll work on it and get back to you when I handle the images properly

[2018-07-14 18:41] gregnb commented on #34
Sure @dpett I don't think it matters though. I did follow the way you outlined by require() image files and it works still. You can click on the link I provided in my last post and see. Let me know if that link works for you if you print?

[2018-07-14 18:51] dillon commented on #34
That link works, however mine still doesn't open the popup. The non-beta did, but had the image quality issue, but this one does not open the popup at all.

again, here is the debug={true} console output:
[code]
I *did* just notice, however, that an iframe does get injected each time I click the print trigger, it's just that I'm not seeing it appear.

<img width="586" alt="screen shot 2018-07-14 a

[2018-07-14 18:52] dillon commented on #34
Is it possible that it's not playing nicely with react router?

[2018-07-14 18:55] dillon commented on #34
The same happens exact console outputs and html behavior occur in firefox 61.0.1

For what it's worth, I'm just testing with yarn start on localhost with create-react-app

[2018-07-14 21:33] gregnb commented on #34
Can you isolate the code related to print into a simple repo I can look at and clone? That’ll help getting down to the issue a lot faster

[2018-07-15 03:30] dillon commented on #34
https://github.com/dpett/publictest

i was able to reproduce the error by cloning the repository, `yarn install` and `yarn start` and navigating to `/d4d-map/State/FL` i.e. `http://localhost:3000/d4d-map/State/FL` and pressing the print icon

[2018-07-15 12:25] gregnb commented on #34
great thanks i'll work on it today

[2018-07-15 15:25] jmpolitzer commented on #11
I'm using `create-react-app`, `styled-components`, and `react-to-print@2.0.0-beta-1`. In development, the styles appear perfectly in the print window, however, in production, they are completely lost.

Any ideas?

[2018-07-15 15:50] gregnb commented on #11
@jmpolitzer Can you share your package.json? I'm going to recreate some apps with create-react-app seems like a lot of issues stem from it. I want to dive deeper in what is going on.  When you mean production do you mean NODE_ENV=production or literally pushing out to your production server?

[2018-07-15 16:40] jmpolitzer commented on #11
@gregnb Thanks for quick reply! By production, I'm referring to building the `create-react-app` and deploying out into the wild. In my case, I'm using Github Pages. Here's my `package.json`:

[code]

[2018-07-15 16:43] gregnb commented on #11
@jmpolitzer Can you first try taking debug={false} off and pushing to prod? let me know. I see an issue around that I need to take care of on my end since this no longer will pop up a window in beta when turning debug on it will stop printing entirely

[2018-07-15 16:53] gregnb commented on #34
@dpett Try upgrading to beta-2 and remove the debug={true} prop

[2018-07-15 16:56] gregnb commented on #11
Sorry @jmpolitzer confusing this with another person's create-react-app issue. You probably didn't have debug={true} turned on anyway. Since it's a public page would you mind sharing the source repo with me? I could clone it then run a build and push it up to my own github.io page and see if I can find this issue

[2018-07-15 18:45] jmpolitzer commented on #11
Sure thing! Here's the repo:

https://github.com/jmpolitzer/jmpolitzer.github.io/tree/source-print-to-react

And instructions for deploying to Github Pages:

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#github-pages

Appreciate the help.

[2018-07-15 21:05] dillon commented on #34
@gregnb That didn't solve the problem in either my own project or the isolated project in the repository I linked.
removed `debug={true}`
`    "react-to-print": "^2.0.0-beta-2",`

[2018-07-15 21:59] gregnb commented on #34
@dpett is it at least printing with beta-2 in production?

[2018-07-15 22:08] gregnb commented on #34
https://drive.google.com/file/d/1VIkD3j6Lq7kaQzzqywwXL0J65_ZT5O-7/view

That's me running it locally with beta-2. The only reason I see low quality image is well the width is 32px but yea

[2018-07-15 23:42] gregnb commented on #11
I think I have finally solved the styles not working in production issue thanks for @jmpolitzer example repo.  A lot of CSS-in-JS packages (styled-components, emotion, etc) are now using speedy CSSOM insertRule for production builds.  What happens is the innerText content is empty so this package would never work in production.  I've made a change to extract the CSS correctly and you can test with

[2018-07-15 23:44] gregnb commented on #34
Also give this latest beta a try i've done some more work to it for styled-components and other issues faced from CSS-in-JS libs

[code]

[2018-07-16 00:33] dillon commented on #34
I deployed a production build with beta-3 and it's printing now, but with the exact same image quality error as before. The full app is here if you'd like to look for now. Just click a state to get to the page with the print button. [deleted](). I tried this on two different Macbooks. See if it works on your computer.

[2018-07-16 00:35] gregnb commented on #34
Yeah, very nice app man! I'm clicking and when I click to print it's working as it should. The only issue I see is the image is tiny. Can you adjust the CSS so the image size is larger? I can see the constraint of 35px

Other than that I don't follow what the issue is? The size of the image is tiny

[2018-07-16 00:53] dillon commented on #34
Thanks! And thank you for your help. Here's the problem I'm describing:
[deleted]()

[2018-07-16 00:58] gregnb commented on #34
Hey @dpett I think if you even took away my package and created a static template with a couple images at that size (considering their natural sizes are like 400+px width if I remember?) you're going to have images that don't look right when printing.

My suggestion, if you truly need images at that small size if to properly crop them to that size. Trying to force and image down to that I think yo

[2018-07-16 03:24] dillon commented on #34
@gregnb after doing some tests it looks like you're right. In that case, I'm really sorry to have bothered you with all of this, and thank you for helping me out. To be honest, it's my first app (beyond ones from classes, etc), so these kinds of issues completely stump me. Thanks again, I really appreciate you working through it with me.

[2018-07-16 03:24] #34 closed, assigned to nobody

[2018-07-16 11:05] gregnb commented on #34
No problem good luck to you!

[2018-07-16 15:55] konstantinkreft commented on #32
@rujsga Try to use chrome's `window.open()` implementation for electron. Worked fine for me with electron and `nativeWindowOpen: true`.

With the default electron `window.open()` implementation you are not able to update the `document` of the created window. But since the `window.print()` API is available you are able to see the print dialog without any content.

Here you can find out more about c

[2018-07-16 15:59] jmpolitzer commented on #11
It works! Thanks for digging into this, @gregnb. As far as I'm concerned, this issue can be closed.

[2018-07-16 16:06] gregnb commented on #32
Great news this is the positive feedback I was hoping for so if there is continued feedback I will merge this into master

[2018-07-16 16:07] gregnb commented on #11
I will monitor the progress further if the positive feedback continues I will merge the beta into master

[2018-07-17 03:48] #15 closed, assigned to nobody

[2018-07-18 10:07] LazarLidia commented on #33
Hello, I have the same problem on Firefox and I installed react-to-print@2.0.0-beta-3. It still doesn't work.

[2018-07-18 10:24] gregnb commented on #33
Which version and OS?

[2018-07-18 11:18] LazarLidia commented on #33
I tested on Linux, Ubuntu 16.04.3 LTS distribution;

[2018-07-18 12:30] gregnb commented on #33
Which version of Firefox?

[2018-07-19 08:40] LazarLidia commented on #33
Firefox Quantum version: 61.0.1 (64-bit), tested on Linux and on Windows also.

[2018-07-19 18:12] suthanbala opened #36 "Icon fonts are not rendering the icons"
I have a component rendering icons using fonts. When the print on that component is triggered, it doesn't load the fonts, all the other styles are there, but not the icons

[2018-07-19 19:23] gregnb commented on #36
Could you put up a small example repo to look at? I would love to solve this for everyone. Thank you

[2018-07-20 03:04] gregnb commented on #33
try installing:

[code]

[2018-07-20 08:52] LazarLidia commented on #33
I'm sorry but your suggestion didn't help me. The print file doesn't open on Mozilla. I don't have any error but it just doesn't work. (with the last version of react-to-print@2.0.0-beta-4 I tested only on Linux, I didn't try on Windows but probably will be the same behavior) Thanks for you trying.

[2018-07-20 13:36] gregnb commented on #33
This is me testing the lastest Firefox with this link here: https://codesandbox.io/s/vj843ljyk3

I'm on a Mac. I'll give different OS a shot later. Can you let me know the results of that link for you?

![screen shot 2018-07-20 at 9 35 23 am](https://user-images.githubusercontent.com/19170080/43005256-533440e4-8c00-11e8-9123-47b72da4ba7a.jpg)

[2018-07-20 14:13] LazarLidia commented on #33
Hey, indeed your example works. I tested on Linux / Mozilla. There are some issues, you can see them in the first screenshot, but after a few seconds the print dialog appears well. So.. I don't know why my print button doesn't work on Mozilla. I see there a react version difference but I don't think is that.. I'm using "react": "^15.5.4";

![mozillapdf1](https://user-images.githubusercontent.com/1

[2018-07-20 14:57] codesignist opened #37 "Controlling window properties (fullscreen, toolbar etc.)"
Can we control all of the window parameters? I think this will be useful.
Actually I only need fullscreen property but controlling the other properties could be good.

https://github.com/gregnb/react-to-print/blob/f03aa02caf9a871b9cbf90e9a3c5d1a09fa4f144/src/index.js#L59

I think we could make an object property **(windowParams)** and override it.

[code]
And we could convert this object to string

[2018-07-21 17:02] gregnb commented on #37
@codesignist It sounds reasonable but I am hoping to get away from the older implementation done via a window popup and rely on the iframe one i created in the beta release. A lot of people have cross origin issues I would love to resolve with that

[2018-07-24 01:19] gregnb commented on #36
@suthanbala ?

[2018-07-24 01:20] gregnb commented on #33
@LazarLidia Have you been able to figure it out? i can't trigger your error

[2018-07-25 02:27] gregnb commented on #21
This issue has been solved with 2.0.0-alpha-1

[code]

[2018-07-25 02:27] #21 closed, assigned to nobody

[2018-07-25 02:28] gregnb commented on #11
The alpha has been released along with a fix for canvas issues.

[code]

I will soon look to close this thread as I believe the issue is now solved

[2018-07-25 02:29] gregnb commented on #32
I believe the issue has been solved and you can upgrade

[code]

[2018-07-25 02:29] #32 closed, assigned to nobody

[2018-07-25 02:30] gregnb commented on #26
There has been a rewrite pivoting away from popup windows.

[code]

[2018-07-25 02:30] #26 closed, assigned to nobody

[2018-07-25 02:30] gregnb commented on #18
Try:
[code]

[2018-07-25 02:30] #18 closed, assigned to nobody

[2018-07-25 02:31] #37 closed, assigned to nobody

[2018-07-25 11:35] Okami92 commented on #33
@gregnb Hello. for some reason, after build I am having this error: http://prntscr.com/kaszq7

Do you know what it could be?

[2018-07-25 12:00] Okami92 opened #39 "Having an error after creating production build of a project"
in dev mode, everything works fine, but when making production build, I am having this error:

http://prntscr.com/katck3

is there a reason why this can happen? I am using 2.0.0-beta-3 of react-to-print and webpack 4.6.0

[2018-07-25 12:40] gregnb commented on #39
Hey @Okami92 sorry to hear that. Can you try visiting: https://kmmw7l39y7.codesandbox.io/#

Does that work for you?

[2018-07-25 12:44] Okami92 commented on #39
@gregnb yes, this works. could you please help me with my issue? do you have any ideas how this is possible?

http://prntscr.com/kau111

not sure what is wrong here

[2018-07-25 13:04] gregnb commented on #39
Could you paste me your package.json and also is there any chance you could share the portion of your app that does the printing into a separate repo so we could look into it? more than happy to help

[2018-07-25 13:07] Okami92 commented on #39
@gregnb sure, thanks a lot! I'll prepare separate repo for you in a moment

[code]

[2018-07-25 13:09] gregnb commented on #39
Great sounds good!

[2018-07-25 13:19] Okami92 commented on #39
@gregnb  done: https://github.com/Okami92/print-error

npm i, npm run build - you'll see an error.

when npm run dev, it works fine.

[2018-07-25 14:30] gregnb commented on #39
Ok I will try to look at this when I get some time today. Thank you

[2018-07-25 14:38] suthanbala commented on #36
@gregnb Sorry been occupied with something urgent. I will prepare a repo or a fiddle as soon as I can.

[2018-07-26 02:52] gregnb commented on #39
Ok, so this issue comes from the fact that stateless components do not have refs:
https://github.com/facebook/react/issues/4936

If you were to change your Printable component to a stateful component (ie: class Printable extends React.component) then this library will be able to attach to that ref.

I will look to add a warning into the library if the component to print happens to be stateless

[2018-07-26 08:07] Okami92 commented on #39
Yes, it works! Thanks a lot man! I wouldn't think about it without you 👍

[2018-07-26 11:20] gregnb commented on #39
No problem!

[2018-07-26 11:20] #39 closed, assigned to nobody

[2018-07-26 14:45] suthanbala commented on #36
Actually I was using the older version. Updated to the latest version, it seems to be working good. Thanks

[2018-07-26 14:45] #36 closed, assigned to nobody

[2018-07-28 06:58] rujsga commented on #32
Hey, Sorry for not replying earlier. My Issue has been solved by
npm install react-to-print@2.0.0-alpha-1 --save.

Thank you for solving my issue.
@gregnb

[2018-07-30 09:36] maloun96 commented on #33
that's because the print button is above the trigger button.
Please add a` ref="print"` and than when user click print add  `this.refs['print'].triggerRef.click();`
[code]

And in this.print() method add this code
`
if(this.refs['print'])
      this.refs['print'].triggerRef.click();
`

[2018-07-31 19:12] suthanbala opened #40 "Print specific styles are not being taken into effect"
When I wrap the styles by the `@media print{}` those styles are not taking effect.

[2018-08-01 17:13] gregnb commented on #40
Can you share an example repo?

[2018-08-02 14:00] suthanbala commented on #40
Once again, it seems to be working when I try to bring it up on the codesandbox. Btw great library mate 👍

[2018-08-02 14:00] #40 closed, assigned to nobody

[2018-08-02 14:41] gregnb commented on #40
Awesome man glad it's working for you

[2018-08-06 21:03] dsdavis4 commented on #26
I am facing the same issue with firefox, and neither of those versions fix the issue. Also tried using pageStyle to set the overflow property with no success. Works great on chrome

[2018-08-07 05:43] kwayebopp commented on #12
@Erandakuruneru what did you change to solve your problem? I believe I am experiencing the same bug.

I have a long div (specifically as QuillJS text editor), and I want to print the content. Only the first page gets stuff printed onto it, and the text runs off the bottom of the first page instead starting the next page.

[2018-08-07 06:18] Erandakuruneru commented on #12
Actually that was css styling issue, Our UI developer changed the styling,then it works fine.

[2018-08-08 15:48] kwayebopp commented on #12
Can you say exactly what the fix was, or post some sample code for the fix?

[2018-08-30 16:57] anudeep1426 opened #41 "The latest version 2.0.0-alpha-2 is not working with IE."
Hello @gregnb ,

Its working great in chrome, firefox, Edge.
When I try to print using IE browser its giving me error as below.

![image](https://user-images.githubusercontent.com/16793358/44866700-965cf800-ac4b-11e8-8e63-601d9d55c7db.png)

please take a look.

thanks,

[2018-08-30 17:02] gregnb commented on #41
Which version of IE and can you provide a code sandbox of your sample

[2018-08-31 17:14] julioxavierr opened #42 "Don't work with Flexbox"

[2018-08-31 17:26] gregnb commented on #42
Please share a sandbox or working example to replicate the issue

[2018-08-31 17:52] SDShooter opened #43 "2.0.0-alpha-2 fails for IPhone+Safari/Chrome and Windows 10 + IE11"
Thanks for the library, but in it's current state it doesn't seem like it's ready for widespread use.  I guess the alpha version tag means you may already be aware there are issues.

Steps to reproduce:
1) Try to print using the provided react-to-print test page: https://kmmw7l39y7.codesandbox.io/#

IPhone + Safari Results: Safari shows blank page in print preview
IPhone + Chrome Results: Nothing

[2018-08-31 17:58] gregnb commented on #43
I'll look into the iOS Safari issues but I regret to inform this library is not going to support IE11. There is support for EDGE

[2018-08-31 18:00] gregnb commented on #41
@anudeep1426 Care to share an example? Again, I probably should put in the README this library isn't intended to support IE11

[2018-08-31 18:53] SDShooter commented on #43
As a developer myself, I totally understand not supporting ie11.  I can't
wait for ie to be a distant memory.

As someone with corporate overlords to answer to, unfortunately I can't
personally drop support for ie11 until there are no longer a significant
number of people using microsoft operating systems that lack Edge (so
use ie11 because they don't know any better).

On Fri, Aug 31, 2018, 10:58

[2018-08-31 18:56] gregnb commented on #43
I understand your pain as someone in your position. Unfortunately I only have so much time to invest. If you happen to find any clues in solving the issues or a PR to offer up I'd be more than happy to accept

[2018-08-31 19:04] SDShooter commented on #43
For sure, I understand time constraints and having to draw a line in the sand somewhere.

If I find something useful for IE11, I'll let you know and/or submit a pull request.  However, I think the path of least resistance on my end is going to be to make a screen visible page that is formatted for print (all site specific headers and footers removed) so that the native browser printing works.

[2018-08-31 19:17] anudeep1426 commented on #41
@gregnb , Yeah, I'm using the IE 11 version. but the lower version of library(1.0.21) is working fine with IE 11.

[2018-08-31 23:52] SDShooter commented on #43
Good news, I found a fix.  Will send a PR later today for your review.  Thanks again for the cool project. :-)

[2018-09-01 02:00] SDShooter commented on #43
I tried pushing a /bugfix/v2-ie11 branch, but received a permission error.  I think I need permission to do so.

[2018-09-01 12:57] gregnb commented on #43
@SDShooter You will first need to fork the repo. Make the changes there and then submit a PR to this repo

[2018-09-04 00:26] gregnb commented on #43
Published your fix in the latest version. If you have any other solutions I'd be happy to accept them

[2018-09-04 00:27] gregnb commented on #41
Try the latest version. Just merged a PR that might help

[2018-09-04 02:16] SDShooter commented on #43
Cool, thanks.  I'll see if I can get around the IOS issue, but early signs pointed at an underlying issue with @media print selector not being applied properly on IOS.  Will see if I can track down more info or a workaround.

[2018-09-04 14:00] anudeep1426 commented on #41
Hey that works great!! Thanks.

[2018-09-05 03:22] hoangdoan267 opened #45 "pageStyle - size not works?"
I add pageStyle prop to my PrintComponent but it doesn't work with specific size like "A4 portrait" or "A4 landscape".

[code]

[2018-09-05 14:15] anudeep1426 commented on #41
As it is working fine with IE11. I'm closing this issue. Thanks

[2018-09-05 14:15] #41 closed, assigned to nobody

[2018-09-08 03:16] lidaof opened #46 "save component to a pdf file"
Hi,

Can we save component to a pdf file instead of open print dialog?
Thanks.

[2018-09-08 21:38] julioxavierr commented on #42
Hi, @gregnb! Thanks for the response and sorry for the late reply.

I am using `styled components` plus `react-to-print`. Haven't tested without `styled` yet, but will give it a try.

Here follows the render example, with comments:

[code]

In this example, I have styled `div` called `Row` that should render childrens side by side. It works on my layout correctly, but not on react-to-print, he jus

[2018-09-09 02:21] julioxavierr commented on #42
Made a simpler example on CodeSandbox and it appear to work correctly. Will close this for now.

https://codesandbox.io/s/rrq34wq6lp

[2018-09-09 02:21] #42 closed, assigned to nobody

[2018-09-11 21:49] lidaof commented on #45
I have this issue too, any solutions? Can I specify a much big width?

[2018-09-13 16:46] AJTJ opened #47 "Responsive design printed"
Hi, I'm building a project using reactstrap/bootstrap and I have my inner components set to be full-width at certain browser widths `<Col xs={12} sm={12} md={6} lg={6}>...`

Unfortunately, react-to-print is choosing to print the components at full-width, which I do not want, since they fit nicely at half-width.

How do you compensate for responsive components? Can I request it print as if the brow

[2018-09-17 08:53] ghost commented on #45
Some problem here, `width `and `height `doesn't work, even with an `!important`

[2018-09-22 07:24] UKRx opened #48 "Can't print table on Google Chrome"
when i click button to print data in data in tbody can't display on print mode but show in non-print mode

Google Chrome
Version 69.0.3497.100 (Official Build) (64-bit)

[2018-09-26 07:01] Cedware commented on #43
Hello,
I'm still having Problems on IE11 with 2.0.0-alpha-3.
I'm receiving the error message.

@SDShooter did you have the same Exception or is it a different problem?
Maybe I'll have a look at this problem later.

[2018-09-28 22:28] davegw opened #49 "Unable to render in IE11 using React 15"
Hi there,

Thanks for the library, very useful!

While doing some browser testing, I was unable to render the react-to-print component in IE11. I saw there was a similar issue (#41) that appeared to be resolved in 2.0.0-alpha-3 (the version I'm using). I am using react 15 in my project (package specifies react ^16.2), but I don't see anything specific in the code that would require use of react 16

[2018-09-29 22:55] SDShooter commented on #43
Hi @Cedware,

The issue I experienced in IE11 was a stack overflow that hung/crashed the browser due to an event handling issue.

[2018-10-04 12:43] brittonjg commented on #49
I may have run into the same issue as @davegw. If it helps, I can see the following entry reported in Sentry ```Object doesn't support property or method 'includes'```.

I am using React `16.5.2` and `2.0.0-alpha-3` of react-to-print.

Really appreciate your work, let me know if you need any further information.

Edit.

It looks like the issue is when the UserAgent is checked for whether IE 11 is

[2018-10-04 13:04] brittonjg commented on #43
@SDShooter thanks for your IE 11 support (I have the similar corporate overlords), but I am still having an issue with IE 11.

I have commented on this issue #49 as I came across it first. Is it related to the issue you're having?

[2018-10-04 18:09] MatthewHerbst commented on #46
Directly saving a file is very, very different than just opening the print prompt. It's arguably the work for a totally different library since the logic would be almost completely different. Also, most browsers let you save a PDF from the print prompt.

https://stackoverflow.com/questions/44989119/generating-a-pdf-file-from-react-components

[2018-10-04 18:23] MatthewHerbst opened #52 "Could React be moved to a peerDependency, allowing "official" React 15 support?"
The package currently lists `"react": "^16.2.0"` in it's `dependencies`. Could this be relaxed to a `peerDependency`?

Further, as far as I can tell, there is nothing special about [React `16.2.0`](https://github.com/facebook/react/blob/master/CHANGELOG.md#1620-november-28-2017) that this library uses. It does not use `<Fragment>` and it does not care about the `setState` callback.

Actually, as f

[2018-10-07 01:12] gregnb commented on #52
Sure, seems fair. Feel free to send in a PR

[2018-10-07 01:13] gregnb commented on #49
react-to-print@2.0.0-alpha-4 should solve this thanks to @MatthewHerbst

[2018-10-07 01:13] #49 closed, assigned to nobody

[2018-10-08 16:47] brittonjg commented on #43
@Cedware after moving to `2.0.0-alpha-4` (thanks @MatthewHerbst) it seems that our users can print, but I am now seeing your `Member not found` issue.

Did you manage to investigate further? Seems like the issue for me is around the stylesheet although it's difficult to replicate as I can only use Browser stack to emulate IE 11. I am hoping to get some time to look into this soon, so was intereste

[2018-10-09 07:43] zzq0324 opened #54 "have you tried print multiple pages?"
@gregnb have you tried print multiple pages? I have print one page with more than one page, but it only print first page. Can you tell me what should I do? Thank you!

[2018-10-09 13:56] shawnco commented on #54
Complete shot in the dark here but try adding this CSS somewhere:

`@media print {
    html, body {
        height: initial !important;
        overflow: initial !important;
}}`

[2018-10-15 01:05] #52 closed, assigned to nobody

[2018-10-15 19:55] brognilucas opened #55 "Scale on print"
Hello @gregnb !
Can I pass a scale to resize my print ?

Something like this
[code]

[2018-10-15 20:40] joshkoo commented on #55
@brognilucas You can pass the styles you want to your print content and shape it however you like.
What reactToPrint does is, it goes over every css in html and copy all of them to your print window.

[code]
Hope it helps!

[2018-10-16 11:56] brognilucas commented on #55
@joshkoo I do it. But the result is not the same if I pass the style on css or on a Print page.

If I pass scale 0.6 on bodyClass I got these result.
![captura de tela 2018-10-16 as 08 49 39](https://user-images.githubusercontent.com/20867062/47014398-8aa49280-d120-11e8-865c-7be0c59775e9.png)

And if I pass the scale on print configuration the result is another one.
![captura de tela 2018-10-16 as

[2018-10-16 12:57] joshkoo commented on #55
It is possible to add this feature but giving option to everyone to style page as they like is a better option and it is already there.

Just try to create a wrapper for your print content and style it however you like with css

[2018-10-16 14:53] #55 closed, assigned to nobody

[2018-10-18 23:35] OmgBrown commented on #43
I got the `Member not found` issue too. Somehow, if one of your STYLE has an animation "transform" property, you get the message. e.g. Using create-react-app + react-to-print + babel-polyfill the included app.css has this
`@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}`
the part where cssRules[x].cssText is copied to cssStyles abend

[2018-10-19 08:07] Batistleman opened #57 "Can we get a 2.0.0-beta-5?"
Seems like some 'bodyClass' fixes were made on the v2-iframe branch. :-)

[2018-10-19 13:29] gregnb commented on #57
the only thing added since the last release to master has been moving the packages down to react 15

[2018-10-19 13:50] Batistleman commented on #57
I meant this one: https://github.com/gregnb/react-to-print/commit/0fa79c94470097ce3de6ef51e1b555a7fd974b5b

Is it already merged to master?

[2018-10-21 18:34] gregnb commented on #57
Yep https://github.com/gregnb/react-to-print/blob/master/src/index.js

[2018-10-21 18:34] #57 closed, assigned to nobody

[2018-10-21 18:37] gregnb commented on #46
Agree with @MatthewHerbst this is something out of scope for this library and as pointed out you can most of the time by default save to PDF

[2018-10-21 18:37] #46 closed, assigned to nobody

[2018-10-21 18:37] gregnb commented on #45
Anyone else having issues?

[2018-10-21 18:42] #17 closed, assigned to nobody

[2018-10-21 18:42] gregnb commented on #11
Looks like this is no longer an issue. Closing

[2018-10-21 18:42] #11 closed, assigned to nobody

[2018-10-23 21:16] tnrich opened #58 "Fails to load print window when a malformed(?) link is on page"
@gregnb
I hit this error because I have a browser extension that adds the following css to every page of mine:
[code]

Here's a codesandbox where I manually add that css to the sandbox page and as you can see it fails to load the print window: :  https://codesandbox.io/s/4jn3y155z7

I've tracked down what's happening:
Ideally the link's onload or onerror would be triggered which would call `markLo

[2018-10-26 15:22] Ryan-Hancock commented on #47
I am currently having to create my own flex boxed components as the same issue is occurring for me.

[2018-10-29 05:26] SaravananAnbu opened #60 "Can't Load all print settings"
`<div>
                                                    <div className="text-center">
                                                        <ReactToPrint
                                                            copystyles={true}
                                                            trigger={() => <a href="#">Print this out!</a>}

[2018-10-29 19:36] #58 closed, assigned to nobody

[2018-10-29 20:14] tnrich opened #62 "Is there some way we could make a previewModo for react-to-print?"
Hey there @gregnb,

I was thinking it might be cool to add a way to preview what exactly is going to be printed before actually getting to the print dialog. I was playing around with this a little bit on my own here: https://codesandbox.io/s/k28lq14z7o

I am not sure if this is really a good idea or not but I found it hard to mess around with how things looked jumping back and forth between the re

[2018-10-30 16:30] eric-burel commented on #54
Hi, I've managed to print multiple pages but the cut is disgraceful, there is no bottom padding. I've played with `page-break-inside`, it does not work as expected (it tries to avoid the page break but cut the paragraph in 2).

[2018-10-30 23:23] SkylarThames opened #63 "Color styles not showing in the print window."
Trigger:
[code]
Content:
[code]

My main problem is that no matter what I do it will not allow me to give the print view color styles, of any sort. No text color and no background color.

[2018-10-30 23:29] SkylarThames commented on #63
I added slashes to make it not load the page. Sorry!

[2018-10-31 11:03] kapssoni opened #64 "Print dialogue only open once in safari on Mac"
Please help with following issue.

On safari, first time print dialogue opens up and everything works fine.
When trying to print again, A dialogue coming up asking to print or not(That is safari may be)
But after i click on "Print" then print dialogue is not showing up.

I also tried the same thing on the example provided in repo. same thing.

Please guide if you faced such issue or help fixing it

[2018-11-01 08:31] MatthewHerbst commented on #62
What's wrong with the preview dialog the browser gives you?

[2018-11-01 08:32] MatthewHerbst commented on #60
Can you be more specific about what your issue is please? Also, did you try clicking the "Background graphics" option in that dialog to see if that fixed your problem?

[2018-11-01 08:36] MatthewHerbst commented on #64
I was able to print twice using the demo app in Safari v12, MacOS 10.14 (Mojave).

Can you please me more specific about how to reproduce your issue, or even upload a video if possible?

Also, what version of Safari are you on?

[2018-11-01 08:37] MatthewHerbst commented on #48
@UKRx did you get it to work? If not, can you post an MVP example of the code to reproduce the problem please?

[2018-11-01 08:42] MatthewHerbst commented on #63
@PNDOSKO could you make a [plunker](https://plnkr.co/) or [codepen](https://codepen.io/) or something else that demonstrates the problem please? The code above is impossible to read in its current formatting.

[2018-11-01 16:09] tnrich commented on #62
@MatthewHerbst thanks for getting back to me and for the nice work on the malformed links ;)

I don't think it is possible to change the css of the stuff being printed once you're in the browser dialog. Say you're trying to size an svg to fit nicely on the print window, it would be nicer to do that in a fake preview mode where you can play with the css in the devtools as opposed to opening and clo

[2018-11-01 19:28] MatthewHerbst commented on #62
Ah, got it. Hmm. Seems like this would be a good chance to investigate using [React Portals](https://reactjs.org/docs/portals.html), though that would require us forcing newer React 16 versions which I personally wouldn't love since my company is still on 15 😢 but maybe we could make it in a way where it just does a noop if you're still on a version that doesn't have portals?

[2018-11-01 19:35] tnrich commented on #62
@MatthewHerbst or we could just continue using the iframe approach? I think my codesandbox illustrates how that approach could work. It definitely needs some work to make it nicer.

[2018-11-01 19:53] MatthewHerbst commented on #62
That works too! Just been reading about all the shiny things in React 16, and, they are shiny! Once concern: assuming the iframe should work and not just be static content, will app JS continue to function normally in iframes in all scenarios? I think there are ways to set it up properly, just have to be careful. Here's an example on SO: https://stackoverflow.com/questions/34743264/how-to-set-ifra

[2018-11-02 01:17] jsbhakta opened #66 "Print with check box checked"
I have been using this library and found an issue not sure if some one has noticed it or if i am missing something to print checkbox. but it seems when the print command executed it removed the checked sign out of checkbox.

__page with checkbox__
<img width="1435" alt="screen shot 2018-11-01 at 6 19 24 pm" src="https://user-images.githubusercontent.com/19602461/47888634-c9b23380-de02-11e8-9073-b4

[2018-11-02 05:14] dsbhakta commented on #66
Yes very good finding. I thought i was doing something wrong. good examples.

[2018-11-02 16:48] ktulchinsky commented on #66
Super awesome, it should support checbox checked print

[2018-11-02 16:53] purevsurenm commented on #66
I also see this issue. Not sure why. It is confusing when you fill up a form and print it, but the checkboxes you checked are unchecked.

[2018-11-04 23:20] MatthewHerbst commented on #66
This is a very strange bug. Does anyone know of any other circumstances where similar behavior is seen? I'm trying to narrow down where I should be looking to solve this. Thanks for the reports!

[2018-11-05 11:17] mirwaleed opened #67 "Fails to print table if no of rows is greater than a specific limit"
Hello!!
I want to print the table but it seems that if no of rows is greater than a specific limit then only the outer body appears, Is the something am I missing or its issue related to the library?

[2018-11-05 11:19] mirwaleed commented on #67
![image](https://user-images.githubusercontent.com/8684488/47995254-7bf53e00-e116-11e8-94fc-3b32c8234799.png)
![image](https://user-images.githubusercontent.com/8684488/47995287-9c24fd00-e116-11e8-99a3-f70db46e7e5a.png)

[2018-11-05 20:25] MatthewHerbst commented on #67
Hi @mirwaleed. Do you mind providing a code example that we can use to replicate and test the issue? Thanks

[2018-11-06 11:53] mirwaleed commented on #67
thanks for quick response,
sorry it's my mistake not related to this module

[2018-11-06 11:53] #67 closed, assigned to nobody

[2018-11-09 09:04] leeseean opened #68 "Export a method to trigger print"
I want to print by Api instead of click,
just like ``` target.print() ```

[2018-11-09 11:02] Richi2293 opened #69 "it's possible to add some code before the content?"
I need to add an image at the beginning of the page to be printed, but only for the print page.
It's possibile?
I tried but I did not succeed.

Thanks,
Riccardo

[2018-11-09 12:20] loverdeveloper commented on #45
@gregnb
is this fix?

[2018-11-09 12:30] loverdeveloper opened #70 "How Can i Print?"
BAD DOCS BAD DOCS BAD DOCS BAD DOCS
What is componentRef?

[2018-11-09 12:33] xnart commented on #70
Check the React docs : https://reactjs.org/docs/refs-and-the-dom.html

[2018-11-09 12:42] loverdeveloper commented on #70
How Can i Pass a function that return a div and h2 to print it?

[2018-11-09 13:04] loverdeveloper commented on #70
is ComponentToPrint  must be an Class?

[2018-11-09 18:54] MatthewHerbst commented on #69
To be clear, you mean add an image to the printed output that isn't on the page normally?

[2018-11-09 19:02] Richi2293 commented on #69
exactly

[2018-11-09 19:04] MatthewHerbst commented on #68
Do you mean without using the React component at all? Right now you can do:

[code]

I'd be interested in moving the print API outside of the component itself. How do you imagine setting up `target` in your example?

[2018-11-09 19:08] MatthewHerbst commented on #70
@ikosar yes. The library requires the use of refs to work, and functional components do not have refs.

From the [React docs](https://reactjs.org/docs/refs-and-the-dom.html#accessing-refs):

If you know of a better way to write this library that without refs we'd be happy to hear it. Thanks!

[2018-11-09 21:44] loverdeveloper commented on #70
Dear MatthewHerbst
Many thanks to your complete answer

[2018-11-10 22:49] MatthewHerbst commented on #69
Do you mind showing how you previously tried? I think I have an idea for how to do it but I want to make sure it's not what you already tried first. Thanks

[2018-11-11 08:22] leeseean commented on #68
target is a ref or domNode

[2018-11-11 11:36] Richi2293 commented on #69
Okok, like this:

[code]

And this is the method 'createContentPrint':

[code]

The componentRef is like this in a div in the page:
`<div ref={el => (this.componentRef = el)}>`

[2018-11-12 07:08] MatthewHerbst commented on #69
I think your issue is that you're not returning a ref - you're returning actual content. You need to return a ref in the `content` prop.

So, something along the lines of:

[code]

I haven't tested if that works exactly, but that's the jist of what you need to do.

[2018-11-12 09:12] Richi2293 commented on #69
perfect thanks, I used a logic following your example and it worked

[2018-11-12 19:33] MatthewHerbst commented on #69
Glad it worked out! If you wouldn't mind, could you please close this issue if all of your question has been addressed? Thanks!

[2018-11-13 09:02] #69 closed, assigned to nobody

[2018-11-16 10:02] Richi2293 commented on #47
Yes it doesn't work well also for me with bootstrap components.

-----

I solved by transforming the components, example:

`<Col md="4">    --->    <div className="col" md="4">`

[2018-11-21 15:53] jermsam opened #71 "Kindly Update to use latest node, npm and yarn version(s)"
On trying to install dependency, I get:

error tav-r@1.0.0: The engine "yarn" is incompatible with this module. Expected version "1.10.1". Got "1.12.3"
error Found incompatible module`

[2018-11-21 21:38] MatthewHerbst commented on #71
Hi @jermsam. This library does not use any [`engines`](https://docs.npmjs.com/files/package.json#engines) directives in its `package.json`, so those errors are not coming from here. Further, this library does not use Yarn. Are you sure the error you are getting is when you are installing _this_ library? If so, can you please show the install command you are running and the entire error log? Thanks

[2018-11-22 18:08] jermsam commented on #71
Hi @MatthewHerbst, Yes. Installing the library generates the error log highlighted above. I had to downgrade my node and yarn to the suggested to have it working. I needed to use the library ASAP so i did not wait for the issue to be resolved. Reason I downgraded, ... After downgrading it worked awesomely, however I think it would be better off being compatible with any node versions.

[2018-11-22 19:01] MatthewHerbst commented on #71
@jermsam as far as I am aware, we are compatible with all node and npm/yarn versions. There's nothing in this library's `package.json` that I know about that could impact not working with node or npm/yarn versions. In fact, the package that your error message shows as throwing on, `tav-r`, doesn't even exist in our `package-lock.json` file, which shows everything that will get installed when you i

[2018-11-22 23:31] MatthewHerbst commented on #71
I just created a branch new test library and installed this package without issue.

[code]

I think there must be something else you are doing. As I previously mentioned, there is absolutely nothing in this library that would cause an `engines` failure like you described.

Can you please `rm -rf node_modules` and then try installing it? Also, please show your full command line like I have done abo

[2018-11-23 07:32] jermsam commented on #71
Thanks a lot. And again... am sorry. Just noticed it was my own package.json with engines directives that do not support the latest versions just as you mentioned before. I am closing this issue for that reason.

[2018-11-23 07:32] #71 closed, assigned to nobody

[2018-11-23 07:42] AhmadiRamin commented on #70
I read the document but I still can not understand how I can define the componentRef.
and I have another question, I'm using FabricUI Dialog component, can I print the content of the dialog?

[2018-11-23 17:49] MatthewHerbst commented on #71
@jermsam glad you were able to figure it out!

[2018-11-23 23:57] MatthewHerbst commented on #70
@AhmadiRamin what don't you understand? It's just any React [ref](https://reactjs.org/docs/refs-and-the-dom.html).

[2018-11-24 05:47] AhmadiRamin commented on #70
@MatthewHerbst Thanks Matthew, I figured it out and it's working now.

[2018-11-24 07:33] MatthewHerbst commented on #70
@ikosar are you still having problems?

[2018-11-26 06:23] NguyenTheSon commented on #29
pageStyle not working! I want custom margin top, bottom.
[code]

[2018-11-26 18:39] MatthewHerbst commented on #29
@NguyenTheSon does it not work in general, or does it just not work with media/other queries?

[2018-11-27 10:32] NguyenTheSon commented on #29
@MatthewHerbst all not working! can you help me!

[2018-11-28 02:26] mengbimao commented on #68
东西是好东西,但是貌似我这个项目用不了,我照着上面来做了,但是样式貌似没有打印出来,无论怎么说还是辛苦啦,点一个星,不成敬意

[2018-11-28 02:28] mengbimao commented on #68
![image](https://user-images.githubusercontent.com/29363520/49124648-2d435a00-f2f8-11e8-8887-f3456fc1b26f.png)
![image](https://user-images.githubusercontent.com/29363520/49124668-3fbd9380-f2f8-11e8-9a21-6ec2499baec2.png)
![image](https://user-images.githubusercontent.com/29363520/49124687-54019080-f2f8-11e8-9314-e45142689e56.png)

[2018-12-05 13:19] simon-baehler opened #74 "Priniting on Ipad"
Hi

Firstly , thanks you for this usefull tool, it works perferctly... on desktop ;( And that my issue... The printing works when I'm using my app on a desktop, but when I'm using it with Safari on an Ipad, it opens a blank printing page and with Chrome it even do nothing, and the fact is the app I did is manly for mobile users is quite annoying.

See yeaaa

[2018-12-05 19:37] MatthewHerbst commented on #74
Are you able to see if there are any errors being reported to the console? It should be noted that Chrome on iPad/iPhone uses WebKit, not Chromium, meaning Chrome on iPad/iPhone is really just a wrapper around Safari.

[2018-12-10 02:43] Eli-Black-Work commented on #68
Thanks for the info :)  It would be great if this were documented, though.

Also, any chance of making the trigger() function optional? :)

[2018-12-11 20:31] kriyazhao opened #75 "Script Error "Member Not Found" in IE11"
I am using the latest version of react-to-print, and I couldn't make it to show the print dialog in IE 11 browser. It has the following error in the console `SCRIPT3: Member not found.` Clicking inside for details, it points to the line

[code]
It works fine in Chrome and Firefox, I am not sure how to proceed now, does anyone have the same issue? Thanks in advance!

[2018-12-11 20:35] brittonjg commented on #75
A few of us have encountered the Member not found issue, but haven't been able to resolve it https://github.com/gregnb/react-to-print/issues/43

[2018-12-13 09:43] NguyenTheSon commented on #45
same issues

[2018-12-14 19:12] steeevio opened #76 "using ref from inside a sibling component"
I have a component containing several controls in to which I want to put the` <ReactToPrint>` button. This <Controls> component is a sibling to the actual `<ComponentToPrint>`. Is there a way to reference the component from child of a sibling?

I tried using `this.printRef = React.createRef();` and passing it as a prop the controls component and using it from there. But then I get an error "Uncaug

[2018-12-20 14:28] cmckni3 opened #79 "Typescript definitions"
It would be nice to have TypeScript definitions

[2018-12-20 19:15] MatthewHerbst commented on #79
@cmckni3 pull requests are welcome :)

[2018-12-20 19:18] #70 closed, assigned to nobody

[2018-12-20 19:19] MatthewHerbst commented on #54
Is this a bug or is there functionality that needs to be added?

[2018-12-20 19:21] MatthewHerbst commented on #76
Hi @steeevio sorry for the delayed response. Could you post your code please so we can see exactly what you are trying to do? Thanks

[2018-12-20 19:21] MatthewHerbst commented on #74
@simon-baehler any chance you could give us an update on this please?

[2018-12-20 19:23] MatthewHerbst commented on #64
@kapsonic any updates on this by chance please?

[2018-12-20 19:30] MatthewHerbst commented on #63
@PNDOSKO I just looked through and formatted your code. How are you loading the Bootstrap stylesheets?

[2018-12-20 19:32] MatthewHerbst commented on #60
@SaravananAnbu any update on this please?

[2018-12-20 19:32] MatthewHerbst commented on #48
@UKRx any update on this please?

[2018-12-20 19:35] MatthewHerbst commented on #47
Have you looked into the CSS `@page` property? You might be able to solve your issues with that

[2018-12-20 19:39] #33 closed, assigned to nobody

[2018-12-20 19:40] #2 closed, assigned to nobody

[2018-12-20 20:05] steeevio commented on #76
Hi Matt,
This is the issue I submitted a pull request for #77 The solution I put in is working well enough for me for now. I get that it's probably not the right solution for the project though. Thanks

[2018-12-20 20:23] MatthewHerbst commented on #76
Cool. I'm going to close this and let's keep the discussion in that PR. I'm going to try and take a good look at things this weekend :)

[2018-12-20 20:23] #76 closed, assigned to nobody

[2018-12-21 00:24] cmckni3 commented on #79
![Incoming](https://hillariousfun.files.wordpress.com/2012/05/incoming.jpg)

[2018-12-21 04:07] kapssoni commented on #64
To make this work I had to make few changes the way iframe is appended to the body and removed.

There us confirmation on safari to print and by the time user confirm to print the iframe is removed from dom. That is why this was happening. I changed and it worked.

[2018-12-21 05:59] MatthewHerbst commented on #64
@kapsonic Great that you got it working! Could you please show us what you changed so that we can help others with this issue in the future?

[2018-12-21 12:59] simon-baehler commented on #74
Hi, sorry of the delay, we are working on another project nowadays and are quite busy with it. No, I have no errors and no warnings.

[2018-12-22 00:30] #79 closed, assigned to nobody

[2018-12-29 10:32] tnduc opened #83 "How to hidden content ComponentToPrint?"
[code]
`<ComponentToPrint ref={el => (this.componentRef = el)} />` display its content, I want to hide it, the user clicks `Print this out!` will show up on the printer page

[2018-12-29 17:43] MatthewHerbst commented on #83
Hello. Can you please clarify exactly what you are trying to do? Not sure I understand from the above

[2018-12-30 02:54] tnduc commented on #83
![screenshot from 2018-12-30 09-38-18](https://user-images.githubusercontent.com/26267956/50543931-af38e280-0c18-11e9-9c0a-88af87f2d5fb.png)
`ComponentToPrint` component not show, when click `Print this out!` start printing. Sorry about the expression

[2018-12-30 03:39] MatthewHerbst commented on #83
So, if I understand correctly: the area labelled "Hide" isn't printing when you click it. Can you post a link to the code please?

[2018-12-30 03:48] tnduc commented on #83
Page only show `Print this out!`, When clicking on it, will print the content that I circled in red, meaning that the content in the normal red circle will not be displayed, but only displayed in the printed page, I am trying with @media print

[2018-12-30 03:52] MatthewHerbst commented on #83
Alright - so what exactly is the problem?

[2018-12-30 03:57] tnduc commented on #83
The content in component `ComponentToPrint` is always displayed, and I want it to be hidden, the problem is just that! You can look at your demo, and understand the problem.

[2018-12-30 03:58] tnduc commented on #83
Perhaps your idea is to open a new tab, and print it from there, but I don't want to, I want to put the print button on a page with a lot of items, and when printing, just print the content in component `ComponentToPrint `, do you understand?

[2018-12-30 04:03] MatthewHerbst commented on #83
Ah, got it. Is the issue just that the `@media print` query isn't working, or is there a problem with this component? If the issue is just with `@media print` this might be better asked on StackOverflow - you'll get a lot more people with the ability to help there. I'm not an expert with `@media` queries :(

[2018-12-30 13:51] #83 closed, assigned to nobody

[2018-12-30 13:59] tnduc opened #84 "Print: Total: 2 sheets of paper"
The printed page always displays 2 pages, even though there is only 1 page, I don't know the reason for me or the library
![screenshot from 2018-12-30 20-53-19](https://user-images.githubusercontent.com/26267956/50547850-2734f600-0c75-11e9-97a1-74a45b76193b.png)

- question 2
How can I call the onClick event in the ReactToPrint trigger, I want to run a function, after that function finishes printi

[2018-12-30 17:08] MatthewHerbst commented on #84
We have an [`onAfterPrint`](https://github.com/gregnb/react-to-print/blob/df9baa23d13986203129df086272d45ecd7ed1d5/src/index.js#L16) callback you can use to do something after printing is finished. You're defining the trigger yourself so you should be able to put on `onClick` directly on it.

As for the two pages, are you sure your website just isn't very tall?

[2018-12-31 03:12] #84 closed, assigned to nobody

[2019-01-02 10:52] hungnt167 opened #85 "Print error on ipad"
Hi everyone, i has error when printing on ipad ( ios 11.4). Print window is blank. see video:
https://photos.app.goo.gl/YoHyuk6KqFkuopb76 .  You can help me solve it, please. Thanks much.

[2019-01-02 11:28] berooney commented on #85
![image from ios](https://user-images.githubusercontent.com/29906798/50590119-2b9f2000-0ebc-11e9-9b6d-3191af80d138.png)
Also error on iphone ios 12.1.4

[2019-01-02 19:05] MatthewHerbst commented on #74
Going to close this in favor of #85

[2019-01-02 19:05] #74 closed, assigned to nobody

[2019-01-02 19:07] MatthewHerbst commented on #85
Are there any errors in the dev console by chance if you have access to it? I don't have an iPad so it's impossible for me to reproduce this.

[2019-01-03 03:03] hungnt167 commented on #85
Thanks for your response, i tried, but have no error line on dev console. watch : https://goo.gl/QM7UNE .  :(

[2019-01-03 09:20] NguyenTheSon opened #86 "Not working @page size A4 landscape"
![image](https://user-images.githubusercontent.com/12813174/50630430-762fa380-0f73-11e9-9943-89c6fd88bb9a.png)

[2019-01-03 10:12] MatthewHerbst commented on #86
Hi @NguyenTheSon can you please explain what's not working? What are you expecting to see above? Is there an error in the console, or is the view in the print window just not showing the entire table (it seems some columns may be cut off)?

[2019-01-04 01:46] NguyenTheSon commented on #86
I want landscape page to display all columns

[2019-01-04 02:35] MatthewHerbst commented on #86
Is that actually possible? A page has a fixed size, so there's a limit to how many columns can actually fit on it. Any chance you could post a live version of your code to look at?

[2019-01-04 04:38] hungnt167 commented on #85
Please check my pull request: https://github.com/gregnb/react-to-print/pull/87

[2019-01-09 00:18] cmckni3 opened #89 "Convert to TypeScript?"
As mentioned in #80, converting the project to TypeScript would make the TypeScript definition maintenance easier and automatic.

Creating this issue for discussion/blessing to convert to TypeScript.

[2019-01-09 00:19] cmckni3 commented on #89
I think this should wait until remaining PRs are closed/merged.

[2019-01-09 00:33] MatthewHerbst commented on #89
I think the big issue here is do the maintainers know Typescript. I can say I don't have much experience with it. I'm open to learn of course, but it would slow me down a bit for a while. At the same time, the code is pretty straightforward so I can't imagine the types would be all that complicated. I can't speak for @gregnb

[2019-01-09 02:29] cmckni3 commented on #89
[dts-gen](https://github.com/Microsoft/dts-gen) seems promising. I figured out how to get it to work by using `npm link`/`yarn link`/yarn workspaces against the project and running `dts-gen -m react-to-print -o`.

I will work on getting the JSDoc types I did for #80 ported over to the codebase. `dts-gen` should pick them up for the missing types.

This should be a good middle ground 😃

[2019-01-09 02:47] MatthewHerbst commented on #89
Awesome, looking forward to seeing it! (Though slightly concerned that `dts-gen` seems to no longer be maintained and thus on an old version of `typescript`)

[2019-01-12 21:37] MohamedSafaaNasr commented on #86
@NguyenTheSon  Try in the print settings, printer properties layout change to landscape, i guess this not package issue probably.
![preview](https://user-images.githubusercontent.com/22216454/51078732-0469ff00-16c3-11e9-969a-bc37b2804ef4.PNG)

[2019-01-13 08:47] NguyenTheSon commented on #86
Thanks for help me. Since I use the bootstrap package, I have a configuration error

[2019-01-13 10:20] MatthewHerbst commented on #86
@NguyenTheSon does that mean you solved your issue?

[2019-01-13 10:39] MohamedSafaaNasr commented on #86
@NguyenTheSon  if this could be any help i created a print class which consume react-to-print with print preview.

Print Class
[code]

usage:
Note: package used instead of modal reactjs-popup

Content
[code]
in Render
[code]

[2019-01-16 12:14] BHoroniecki opened #90 "MS Edge Error: The operation was canceled by the user."
When we want to print table of images (<img> tags) then "Out of memory exception" on MS Edge it thrown.

[2019-01-16 20:04] MatthewHerbst commented on #90
Hi, and thanks for the report. Do you mind sharing some example code please for us to look at?

[2019-01-17 20:43] balzee commented on #54
I face the same issue too, I have a long table and can only print 1 page at a time and when i scroll and try again there is an akward cut .

[2019-01-17 22:06] anudeep1426 opened #92 "Does this support multi page printing?"
Hello,

I have been using this module for a while, it is working awesome. But today i have tried for multi page printing and am not able to print multi page using this module. Does react-to-print support multi page or not?

[2019-01-18 00:00] MatthewHerbst commented on #92
Hi. This is being discussed in #54 Could you please post some example code that you have to that thread? Thanks

[2019-01-18 00:00] #92 closed, assigned to nobody

[2019-01-18 00:01] MatthewHerbst commented on #54
Hi all. Could anyone please share a codepen or fiddle with an example so that I can play around with it and try and work on a fix? Thanks

[2019-01-20 13:21] zzq0324 commented on #54
@MatthewHerbst
I use [rc-print](https://github.com/hanzhangyu/rc-print) instead, code just like this：
`<Print title="" insertHead={false} otherStyle="@page { size: auto;  margin: 0mm; } @media print { body { -webkit-print-color-adjust: exact; } }"><div></div></Print>`

I hope it can help you.

[2019-01-30 07:29] zoeyzou opened #93 "in firefox it does not trigger preview window"
I'm using firefox 65.0 64bit firefox with win10. When I try to print this https://codesandbox.io/s/vj843ljyk3 from chrome v71, a preview window will jump out. However on firefox, there's only a print window instead of preview window. If i try print the whole page from the settings, the preview window will be out but of course with all the unneccesary contents.

Is this a solved issue or to-solve i

[2019-01-30 08:20] MatthewHerbst commented on #93
Please try using the newest version and let us know if it works or not: `2.0.0-alpha-6`

[2019-01-30 08:21] MatthewHerbst commented on #86
@NguyenTheSon were you able to solve this, or should this issue remain open?

[2019-01-30 08:45] zoeyzou commented on #93
Hi The version i'm using is 2.0.0-alpha-6 and the issue exists on this version

[2019-01-30 08:58] MatthewHerbst commented on #93
Interesting. When I test it, the print popup opens, but there is not image. Is that the same behavior you are seeing? I wonder if there's some flag we need to pass that's specific to Firefox, or something else.

[2019-01-30 09:02] #64 closed, assigned to nobody

[2019-01-30 09:03] #48 closed, assigned to nobody

[2019-01-30 09:03] #63 closed, assigned to nobody

[2019-01-30 09:06] MatthewHerbst commented on #43
Going to close this in favor of #75 since that handles what seems to be the remaining issue here. Please let me know to re-open it if there are other unresolved issues.

[2019-01-30 09:06] #43 closed, assigned to nobody

[2019-01-30 09:07] #28 closed, assigned to nobody

[2019-01-30 09:08] #60 closed, assigned to nobody

[2019-01-30 09:09] MatthewHerbst commented on #47
@AJTJ were you able to solve your issue here?

[2019-01-30 10:21] zoeyzou commented on #93
Yep, it only triggers the print window but not preview window. I didnt dig into it, but it might have something to do with [tabs.printpreview()](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/printPreview). Although this is for the whole tab preview, might have some workaround for iframe?

[2019-01-30 20:05] MatthewHerbst commented on #93
`tabs.printpreview()` seems to be specifically for Firefox extensions, though it is interesting that they have two separate methods. It certainly might be related to iframes, potentially needing some sandbox features, though we don't print from inside an iframe, we simply print a page with an iframe. I'll try and dig into this this weekend

[2019-01-31 03:18] NguyenTheSon commented on #86
@MatthewHerbst  Thank you. The problem has been solved

[2019-01-31 03:18] #86 closed, assigned to nobody

[2019-02-05 11:30] manavpandya opened #94 "How to call custom function on print button click"
I was working on the print functionality and came to know about this package.

It's working fine to print a specific component on button click, but I want to call an external method from the component which I have developed in below sandbox

Have a look

https://codesandbox.io/s/21r6579py

Do let me know about any solution

[2019-02-05 20:03] MatthewHerbst commented on #94
Hello. Can you please get the codesandbox example working? It has multiple syntax errors since you have not formatted the code correctly (lots of it is commented out), and you are missing a bunch of imports.

[2019-02-06 11:55] manavpandya commented on #94
@MatthewHerbst

There are no errors I think, and there is a simple code which contains the normal HTML markups and trying to trigger a custom action

You can play around it and let me know about that

[2019-02-06 16:12] cmjuettner commented on #75
My corporate application has to support IE11, so I'm hoping this issue can bubble up to a higher priority and it can be fixed soon.  Thanks for the effort.  It works great in non-IE11 environments.  There's a shock.

[2019-02-06 19:30] MatthewHerbst commented on #75
The cause seems to have been identified in https://github.com/gregnb/react-to-print/issues/43#issuecomment-431198280 but I don't know exactly what the proper functionality on IE should be. Been looking into that, but if anyone has suggestions please let me know.

[2019-02-06 19:32] MatthewHerbst commented on #94
@manavpandya when I open the link you pasted the first thing that happens is:

[2019-02-07 07:48] OmkarRa opened #95 "Body cells appear incorrectly/blank when trying to print ag-grid"
I use ag-grid library to show a table and react-to-print to print visible part of that table.

Print works correctly when horizontal scroll position is at the start.

But if I scroll it horizontally further, and then try to take print, only header cells appear correctly. Body cells are either blank or incorrect.

Here is a codesandbox that replicates the issue https://codesandbox.io/s/5wj8449ojx

[2019-02-07 08:09] OmkarRa commented on #94
Do following change in Manav's codesandbox on line no.52. Not sure why but It will work.
[code]

[2019-02-07 08:17] MatthewHerbst commented on #95
Thanks for the report. I use ag-grid as well. I'll try to look into this over the weekend, though there are a few other bugs that I'd like to try and address first.

[2019-02-08 15:22] cmjuettner commented on #75
Looks like [#43](https://github.com/gregnb/react-to-print/issues/43#issuecomment-431198280) is now transferred to this thread, so I'll add some additional comments here.

In the IE11 console the logged entry is "SCRIPT5022: Exception thrown and not caught".  The line of code that is called out is found in my application's ../node_modules/react-to-print/lib/index.js.

IE11 is having a problem with

[2019-02-08 19:34] MatthewHerbst commented on #75
@cmjuettner it's one thing to stop the error from being thrown, that's easy. The harder part is making sure the library still prints the page. Clearly there is functionality that IE isn't happy with, so we need to fix that if we want to keep supporting IE.

[2019-02-08 19:49] cmjuettner commented on #75
Okay, just to test a workaround I added a try/catch to the a fore mentioned function and that exception goes any but now an new exception is thrown, and the code is real similar to above.
I'm running version 2.0.0-alpha-6.

The following 'if' statement (index.js line 131) is throwing:
Unable to get property 'forEach' of undefined or null reference

**if (_toConsumableArray(e.querySelectorAll("canv

[2019-02-08 21:53] jredwayT3 commented on #75
I would love a fix for IE 11, This is an awesome plugin for React but unfortunately I have to support IE 11.   I am getting the error SCRIPT5022: Exception thrown and not caught in commons.js

[2019-02-12 07:39] sameeravhad119 commented on #95
Hi @MatthewHerbst,
I am also facing same issue. Could you please look into it ?

[2019-02-13 12:37] karanshah10 opened #96 "Refs are not available for stateless components. For 'react-to-print' to work only Class based components can be printed"

[2019-02-13 19:34] MatthewHerbst commented on #96
What part of that error message do you need help with?

[2019-02-19 13:26] andydev404 commented on #96
This's an alternative for stateless component:

[code]

[2019-02-19 18:55] MatthewHerbst commented on #96
@andydev404 hooks 💯

[2019-02-19 20:50] #96 closed, assigned to nobody

[2019-02-20 14:06] andydev404 commented on #94
The renderButton should be inside the Example class component instead ComponentToPrint.

This works:

[code]

[2019-02-20 21:00] OmgBrown commented on #75
I have a fix for IE 11 on this error:
In the for lood @ line 138, I added a catch to see if the cssText is a string or not (if not a string it is not recognized by IE11). Here is the condition added before appending to styleCSS:

[code]

[2019-02-22 00:27] #75 closed, assigned to nobody

[2019-02-22 13:21] telaoumatenyanis opened #100 "Background color is not printed on Firefox"
# Bug Description

Background colors added to components are not printed on firefox.

# Environment
**package.json:**

[code]

Firefox **65.0.1**
Chrome **72.0.3626.109**

# Reproduction steps
**Tested styling methods :**

- emotion
[code]

- Inline css

[code]

**HTML result:**
<img width="441" alt="image" src="https://user-images.githubusercontent.com/29358668/53244848-4fa50380-36ac-11e9-95cf-48

[2019-02-22 15:50] valeriozhang commented on #66
Any news on the this? Experiencing the same issue - only display checkboxes that have defaultValues

[2019-02-22 19:33] MatthewHerbst commented on #66
@valeriozhang I've not been able to make any progress on this. My guess is it's something arcane. Do you have any ideas?

[2019-02-22 20:15] MatthewHerbst commented on #100
Hi @telaoumatenyanis I'm on Chrome 72 and cannot replicate this. Are you sure your print settings are correct? You may need to select the "Background graphics" option in the "More settings" option of the Chrome print dialog.

[2019-02-23 19:28] telaoumatenyanis commented on #100
Hi @MatthewHerbst.

After further verification, Firefox print dialog didn't have the background color setting enabled by default. Didn't even know it was optional.

Thanks a lot, you can close this.

[2019-02-23 19:30] #100 closed, assigned to nobody

[2019-02-26 08:32] mikhail-angelov commented on #95
I have similar issue, sometime printed document is blank
I'm sure the root cause of this issue, not all html, style, link nodes are loaded once this timer is expired
[code]
it's better remove this timer and count all html nodes, not just `link`
it will make lib more stable
I can prepare PR for it

[2019-02-26 09:35] aviv-dw opened #102 "Mapbox does not appear in print preview or in pdf"
I am trying to use react-to-print to save a report I am creating that includes Mapbox and 2 charts from "Recharts".
The recharts appear in the preview and in the pdf if I save it as pdf but the Mapbox which is webGL does not appear.
Could you please fix this?

[2019-02-26 12:02] MatthewHerbst commented on #102
Hi @aviv-dw Could you please link to a code sandbox that has an MVP replica of this issue? I've never used any of the things you're talking about before and so have no clue where to even begin looking.

[2019-02-26 12:03] MatthewHerbst commented on #90
Hi @bhoroniecki Any chance you could update us on this please?

[2019-02-26 12:45] aviv-dw commented on #102
Here is an example for what I was talking about with trying to print a Mapbox:
https://codesandbox.io/s/q7zzlo0xp6

Thank you

[2019-02-26 21:29] MatthewHerbst commented on #102
Thanks! I'll take a closer look after work today

[2019-03-01 01:13] vlindos opened #103 "Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined"
Hello,
I am using:

-     "prop-types": "^15.7.2",
-     "react": "^16.8.0",
-     "react-dom": "^16.8.0",
-     "react-router": "^4.3.1",
-     "react-router-dom": "^4.3.1",
-     "react-to-print": "^2.0.0-alpha.7"

Having the following component:
[code]

And got this in the browser console:

The problem disappears if I remove **ReactToPrint** from the component.

Any help will be appreciated :)

[2019-03-01 20:45] MatthewHerbst commented on #103
I don't see you importing `DataComponentToPrint` anywhere

[2019-03-03 23:01] wakemaster39 opened #104 "2.0.0-alpha7 dropped index.d.ts"
alpha-6 had a spelling error which I was happy to see is fixed, but the alpha 7 package no longer includes the index.d.ts file.

[2019-03-04 02:39] MatthewHerbst commented on #104
Hello. I just did a clean install and I see the file included:

[code]

[2019-03-05 10:30] duyhau206 commented on #95
Hi every body. I have same issue. I just use div element to render component and sometime printed document is bank (where data is rendered).
Looking forward to help from everyone

[2019-03-05 23:47] hrafaelveloso commented on #54
When the Component I want to print only takes 1 page, everything works great.
I'm using Material-UI and I have tables that use material-table and this works great when the result is a single page file.
However, when it goes to multiple pages I can't:
. Break where I want (using css page-break-before) ;
. Bottom margin is inexistent, even with padding and margin-bottom...

I really need that functi

[2019-03-06 02:09] MatthewHerbst commented on #54
@hrafaelveloso PRs are welcome if you have any ideas on how best to do this! I haven't had too much time to look at this issue over the other issues in the codebase

[2019-03-06 20:56] MatthewHerbst commented on #103
@vlindos were you able to solve your issue here?

[2019-03-07 09:47] ShreyaPrabhu commented on #90
We are facing same issue. Was this resolved? Is there any alternate solution for this?

[2019-03-07 11:40] sameeravhad119 commented on #95
@mikhail-angelov Thank you so much for your reply. I did changes locally as you mentioned. But Still it is giving me blank document for print.

[2019-03-07 16:37] filiphazardous opened #106 "@media print-specific styles are not being taken into effect"
This happens when I have a style that is imported in my project with webpack, which also contains
`@media print {
    .my-class: { ... }
}`

In my original code, the style is inlined like so:
`<style id="style-id-1" media=all>
@media print {
    .my-class: { ... }
}
</style>`

In the ReactToPrint iframe, the style is inlined like this:
`<style id="react-to-print-1">
@media print {
    .my-class: {

[2019-03-07 20:51] MatthewHerbst commented on #90
@ShreyaPrabhu any chance you could make a codepen or something please that shows a minimum reproduction of this? No one has posted any code examples so I don't even know where to begin looking for this one

[2019-03-08 08:09] filiphazardous commented on #106
Closing, it was a bug in my code... 😊

[2019-03-08 08:09] #106 closed, assigned to nobody

[2019-03-08 08:09] MatthewHerbst commented on #106
@filiphazardous thanks for updating. I was trying to think through it and wasn't sure where to start. Please let us know if you run into other issues with the library!

[2019-03-11 11:40] kapilgundawar commented on #66
Hi Team,
iam also facing checkbox issue the moment i click on print,All my checked are removed.
Can someone please help in this

[2019-03-13 02:56] valeriozhang commented on #66
@MatthewHerbst No sorry - haven't looked through the source. I just used CSS to modify my browser prints.

[2019-03-13 05:48] MatthewHerbst commented on #66
@valeriozhang what CSS did you add?

[2019-03-13 12:37] valeriozhang commented on #66
I didnt use the package.

[code]

[2019-03-14 06:48] zhilianbi520 commented on #84
I've met the question as you too.The printed page always displays 2 pages, even though there is only 1 page。my website Only  400px high

[2019-03-14 06:59] zhilianbi520 opened #107 "Print: Total: 2 sheets of paper ?"
I've met the question as you too.The printed page always displays 2 pages, even though there is only 1 page。my website Only 580px high

Here's what I need to print。

[code]

[2019-03-15 00:39] wakemaster39 commented on #104
yes it seems to work on a clean, I tried upgrading and downgrading a couple times and it kept getting deleted. I'll close this out.

[2019-03-15 00:39] #104 closed, assigned to nobody

[2019-03-18 11:32] erangia opened #109 "Remove background texts(header and footer) in print preview."
I'm trying to generate receipt with this module and it works perfectly fine for my requirements. but when I print the document, there are few background text getting printed along with the document content.(Date,Page title in the header section and web url in the footer section) I want to remove those texts(necessarily the url printed in the bottom). Any code level fixes for this?

[2019-03-18 18:21] MatthewHerbst commented on #109
Hello. Would you mind sharing a screenshot of what's currently being printed and showing us what you don't want included? Generally the way to prevent something from being printed would be via CSS styles to not include them in the printing group.

[2019-03-19 10:41] erangia commented on #109
Here's a screenshot I took from your online demo:

https://pasteboard.co/I67YMxA.png

I'm referring to these blue colour rounded texts. those texts are not included in the component print section. they are background texts displayed in the print preview. I want to avoid the bottom url getting printed.

[2019-03-19 11:39] annguyenwasd commented on #103
@vlindos Button should be a react class based component, or you can replace <Button /> by native html <button>...</button>

[2019-03-19 18:54] MatthewHerbst commented on #109
Ah. You should be able to turn those off in your print dialog. For example, on Chrome 72, in the print dialog under "More settings" there is a "Headers and footers" option which when unchecked removes the things you don't want included.

Does that solve your issue?

[2019-03-19 18:54] #103 closed, assigned to nobody

[2019-03-20 07:26] avniraiyani opened #110 "change header and footer in print"
I want to set header and footer in all pages like company logo on header and some details in footer

[2019-03-20 08:45] erangia commented on #109
Well I noted that we can remove these manually, But I want to remove this when the print view opens for the first time. I mean without manually unchecking the options. Is there any possibility?

[2019-03-20 12:19] MatthewHerbst commented on #110
Header and footer are controlled by the browser print dialog, it's not something we set. The header is normally the date and page title, and the footer is normally the page url and the page number. If you mean you just want to add some React components above/below the thing being printed, just wrap the thing being printed with those elements before the print is triggered.

[2019-03-20 12:19] #110 closed, assigned to nobody

[2019-03-20 12:21] MatthewHerbst commented on #109
To my knowledge there is no cross-browser solution to this. Do you know of one by chance?

[2019-03-22 11:05] erangia commented on #109
Sorry I just noticed that this is a common behaviour when we try to print a webpage. My bad, at first I thought this is generated through the module itself. I also not aware of a cross browser solution for this actually. So it seems we should go for the option of manually unchecking the print options.

Anyway thank you for your replies :)

[2019-03-22 18:47] #109 closed, assigned to nobody

[2019-03-26 13:32] smallWanziOf opened #112 "Cancel printing events"
How to determine whether a value exists before printing, and then block printing events

[2019-03-26 19:52] MatthewHerbst commented on #112
Don't fire the trigger when you detect that the value doesn't exist? We don't know anything about your code, only you can check if a value exists or not. This sounds like a question that might be better places on StackOverflow.

[2019-03-27 07:49] smallWanziOf opened #113 "360 Browser"
360 Browser error tip --- >  Uncaught TypeError: Invalid attempt to spread non-iterable instance

[2019-03-27 11:07] MatthewHerbst commented on #113
Hello @smallWanziOf Can you please give more details? What browser are you running? What version of that browser? What version of `react-to-print`? When did this error happen? What code are you running to make it happen? Why do you think it is being caused by this library? Thanks.

[2019-03-27 11:43] smallWanziOf commented on #113
Thanks for your answer ！i'm Chinese . My English not good . I'm sorry.
360 broswer (360浏览器) version is 8.1.1.404 maybe only in Chian . now my issues has been resolve . thank you !
react-to-print version is ^2.0.0-alpha.7
In 360 broswer if result is NodeList use [...NodeList ]  The broswer console a error tip 'Uncaught TypeError: Invalid attempt to spread non-iterable instance' now i use Array.prot

[2019-03-27 12:17] mayurdere commented on #109
To remove header and footer
@media print {
  h4.class-name
  @page{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    }
}
To change the header text and PDF File name
componentDidMount() {
        document.title = 'My Candidate Profile'; //PDF File Name
    }

[http://cuttingchai.info](url)

[2019-03-27 18:26] MatthewHerbst commented on #113
Thank you for the extra details. I think this is the same issue that we are having with IE 11 right now in #105

TIL for anyone who didn't know what 360 Browser is: https://en.wikipedia.org/wiki/360_Secure_Browser

[2019-03-27 18:26] #113 closed, assigned to nobody

[2019-03-27 18:28] MatthewHerbst commented on #90
Closing this as stale since there has been no response. Happy to re-open if someone provided more details.

[2019-03-28 12:44] Okami92 commented on #85
Is it still not resolved? I am also having blank page. When I install beta version, it renders page fine, but I have canvas on page and it is not displayed. I know that canvas is supported in alpha version, but, as I stated above, it doesn't work on mobile Safari. Is there any solution for it? Could someone please help me with this issue?

[2019-03-28 18:13] MatthewHerbst commented on #85
@Okami92 I don't see any previous posts from you in this thread

Do you see any errors in the dev console? I don't have an iPad and so cannot replicate this issue.

[2019-04-01 15:57] Zuzze commented on #54
I also struggled with styling/margins on multiple pages and found a workaround with viewport units:
[code]

[2019-04-04 08:08] karpovich-philip opened #115 "v.2.1.0 Uncaught Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."
I can't render my component which contains ReactToPrint. I got an error which I mentioned in title. It tells me "Check your code at {MyComponent}.jsx:{rowNumber}. Row Number it's exactly ReactToPrint component.

But it works fine with previous version 2.0.0-alpha.7

Dependencies:
"react": "^16.5.2",
"react-redux": "^5.0.6",
"react-router": "^4.3.1",
"react-router-dom": "^4.3.1",
"react-dom": "^16.

[2019-04-04 08:21] duyhau206 commented on #103
I have a same problem with react-to-print version 2.1.0.
I'm using
"prop-types": "^15.5.10"
"react": "^16.8.3",
"react-dom": "^16.2.0",
"react-to-print": "^2.1.0

i'm using native html
"<ReactToPrint trigger={() => <button>Print</button>} content={() => this.componentRef} />
<PrintRetailPayment ref={el => (this.componentRef = el)} />"

I have console: "Warning: React.createElement: type is invalid

[2019-04-04 08:24] karpovich-philip commented on #103
Change version to previous one. To 2.0.0-alpha.7. It fix your problem

[2019-04-04 08:36] duyhau206 commented on #103
Thank for help and best wish for you

[2019-04-04 09:34] duyhau206 commented on #115
i use:
"prop-types": "^15.5.10"
"react": "^16.8.3",
"react-dom": "^16.2.0",
"react-to-print": "^2.0.0-alpha.7

And I have same warning

[2019-04-04 09:49] MatthewHerbst commented on #115
Hi @karpovich-philip, @duyhau206. Can you please show how you import the component?

@sergeyshmakov is there anything from the TypeScript PR that might be causing this?

[2019-04-04 09:50] karpovich-philip commented on #115
@MatthewHerbst
`import ReactToPrint from 'react-to-print';`

[2019-04-04 10:01] duyhau206 commented on #115
I import component as below
`import ReactToPrint from 'react-to-print';`

[2019-04-04 11:44] mikdatdogru commented on #115
i have same error too. `2.0.0-alpha-6` version is working

[codesandbox](https://codesandbox.io/s/kmmw7l39y7) is still working because package.json updated, but still `2.0.0-alpha-1` version included

![image](https://user-images.githubusercontent.com/10121255/55553356-a0b30900-56e8-11e9-9e63-93eaec41e765.png)

[2019-04-04 14:39] dsuhic commented on #115
I'm guessing something's wrong with the exports. Managed to get it working by using the component as `<ReactToGrid.default>`. Strangely, simply changing the import statement to `import { default as ReactToPrint } from 'react-to-print'` doesn't work.

[2019-04-04 18:46] MatthewHerbst commented on #115
I'm able to run the example app in this lib by installing `react-to-print` locally and importing that in the example instead of importing the source file directly.

Clearly an export issue. Does anyone see an issue with the code?

[2019-04-05 02:41] duyhau206 commented on #115
Sometime body print page was bank when i trying print with version 2.0.0-alpha-4.
About version 2.1.1 I have not imported it yet so I haven't checked it yet

[2019-04-09 08:47] ibanjb commented on #107
I have the same issue, 2 pages are printed always. Any solution? Any workaround?
Thx!

Using v.2.0.0-alpha.7, the v.2.1.0 crashes (issue https://github.com/gregnb/react-to-print/issues/115 )

[2019-04-09 09:39] MatthewHerbst commented on #107
Hello. Can you please create a working code example so I can see the issue? Thanks

[2019-04-09 10:57] zhilianbi520 commented on #107
https://codesandbox.io/s/01vmr100v0

[2019-04-09 13:14] ibanjb commented on #107
I uploaded a project, using pro.ant.design scaffolder (the same that I'm using in my project) into my repo with an example about this problem.

You can find it in:
https://github.com/ibanjb/ReactToPrintIssueTest

Take a look at the readme.MD to know how to test it, but its pretty simple  :)

Basically, the two files that you need to take a look are:

- src/pages/Dashboard/Analysis.js -> has the ob

[2019-04-10 13:52] aristech commented on #115
Any fix for this yet?

[2019-04-10 18:17] MatthewHerbst commented on #115
@aristech there is a proposed solution in #116. I'm trying to make sure that won't cause other problems before merging it

[2019-04-10 19:23] MatthewHerbst commented on #107
@ibanjb #66 is being used to track the known issues with the checkboxes. If you have any ideas there, please let me know.

@zhilianbi520 playing with the codesandbox, it seems the issue is `marginTop: "30px",` that you have. Removing that causes the page to properly print in a single instance. The strange part is that if I remove the content of that `div` but keep the `marginTop: "30px",` it still

[2019-04-10 19:23] #47 closed, assigned to nobody

[2019-04-10 19:39] #94 closed, assigned to nobody

[2019-04-10 19:39] #89 closed, assigned to nobody

[2019-04-10 19:39] #112 closed, assigned to nobody

[2019-04-10 20:32] derek-maurer commented on #115
I pulled in the PR and confirmed that I did get all the changes, but I still can't seem to import the module:

Doing this:
import ReactToPrint from 'react-to-print';

But getting this:
Module not found: Can't resolve 'react-to-print' in

[2019-04-10 21:30] MatthewHerbst commented on #115
@HomeSchoolDev can you be more specific please? How would `import ReactToPrint from 'react-to-print'` be pointing to your local version?

[2019-04-10 22:05] derek-maurer commented on #115
Sure thing, sorry about that.

I’m installing the package by putting this in my package.json file:

“react-to-print": "gregnb/react-to-print#0ffb52ca86f5325390fac246f10cbc02181eb55d"

Ran yarn install and confirmed that the new changes were in my local react-to-print folder in node_modules.

I didn’t change my import code in my tsx file at all after changing my install from the current prod versio

[2019-04-10 22:07] MatthewHerbst commented on #115
@HomeSchoolDev after running yarn, can you go into `node_modules/react-to-print` and manually run the `build` command, and then see if it works? I don't think the package is actually being built for distribution when you just install it directly from the repo (recall that what is published to npm is not the same as the repo).

[2019-04-11 04:44] derek-maurer commented on #115
@MatthewHerbst Hmm, I ran build in the directory, but I'm getting some errors

`react-to-print derek$ npm run build

Hash: bc063caf6e6f3ce370f1
Version: webpack 4.29.6
Time: 89ms
Built at: 04/10/2019 11:40:45 PM
 1 asset
Entrypoint main = index.js
[0] ./src/index.tsx 270 bytes {0} [built] [failed] [1 error]

ERROR in ./src/index.tsx 4:7
Module parse failed: Unexpected token (4:7)
You may need an a

[2019-04-11 06:46] zhilianbi520 commented on #107
ok，thanks~!

[2019-04-11 08:56] panda6412 opened #117 "Print page with partial condition"
I assume press the button will trigger onConfirmButtonClick event, but in these method will call an API, if these API return errorCode, then don't need to print.
Is there any possobile determined way to solve the demand ?

[code]

[2019-04-11 15:26] anish-stha commented on #115
having the same issue. Was working fine in 2.0.0-alpha.7.

[2019-04-11 15:35] anish-stha commented on #115
I have tried this and using <ReactToPrint.default does not give the error anymore.

[2019-04-11 17:38] MatthewHerbst commented on #115
@HomeSchoolDev you'll also need to run `npm install --dev` within the package so that you have all the build tools needed on your system.

[2019-04-11 18:04] MatthewHerbst commented on #117
Don't have your print button be the same button the make a network call? `onClick` does not know that it needs to wait for a promise to finish. Maybe try using `onBeforePrint`

[2019-04-12 02:27] panda6412 commented on #117
Well, let me change the way to say,
when I press the button, it will show a print preview page immediately, but I want to control whether print or not according to my return API.

Even I put `onConfirmButtoClick` function to `onBeforePrint` trigger, but how could I prevent not showing the print preview.

Thanks for assistance .

[2019-04-12 03:06] MatthewHerbst commented on #117
You can't do that currently. If you click print, we are going to try and print. It's up to you to show a print button or not. In #88 I'm (very, very slowly since I've been super busy at work) working to extract the API from the component, meaning you would be able to manually issue the print call. However, I have no timeline for when that will get finished.

[2019-04-12 05:52] davalapar commented on #115
Also having this at 2.1.0.

[code]

Any ideas?

[2019-04-12 06:05] derek-maurer commented on #115
@MatthewHerbst I'm not sure what's up, but I'm still having issues. Tried running "npm install --dev" in the root of node_modules/react-to-print, but I'm still getting this error:

[0] ./src/index.tsx 270 bytes {0} [built] [failed] [1 error]

ERROR in ./src/index.tsx 4:7
Module parse failed: Unexpected token (4:7)
You may need an appropriate loader to handle this file type.
| import { findDOMNode

[2019-04-12 08:44] panda6412 commented on #117
Ok, I'll make the validation ensure the user cannot click the button.
Thanks for the response, wish you best!

[2019-04-12 20:25] #117 closed, assigned to nobody

[2019-04-12 20:29] SaravananAnbu opened #118 "Image not getting displayed on Print preview (Mac)"
Once I click print to print a file from web, then the print preview dialog box opens, but images on my file is missing in the print file, hence after exporting as pdf, images are missing from the print file. Also every time I click print, the results vary as some times it picks up one or two images or it picksup nothing or it picksup everything.

[2019-04-12 20:31] MatthewHerbst commented on #118
Do you have the "Background graphics" option turned on in your print dialog?

[2019-04-12 21:19] SaravananAnbu commented on #118
Yes @MatthewHerbst

[2019-04-12 21:24] MatthewHerbst commented on #118
Can you please make a codesandbox or something replicating the issue?

[2019-04-13 20:58] gregnb commented on #115
Can anyone still affected by this issue try upgrading to 2.1.1 and let us know if that works for them? If not, please respond with any error messages you are seeing. We'll try to wrap this up shortly

[2019-04-13 21:05] alextotheroh opened #120 "Can't get pageStyle prop to override any styling"
An example on how to use this would be nice.  API docs say pageStyle is passed as a string, but no matter what I've tried I haven't been able to override the default styling of the component. Thanks!

[2019-04-14 06:05] MatthewHerbst commented on #120
Hi @alextotheroh Can you please share an example of how you are trying to use `pageStyle`? Thanks

[2019-04-14 06:36] alextotheroh commented on #120
**edit**: I've just realized: is `pageStyle` just for the `@page` css rule?  Perhaps I've made a bad assumption.

I was trying to override a box shadow so there wouldn't be one in the printed component.
I tried 3 ways that I can recall before moving on to a different solution:
[code]
Above code wouldn't compile, but hopefully you get the idea.  I was using only one of the values for `styleOverride

[2019-04-14 09:02] derek-maurer commented on #115
@gregnb Confirmed everything is working great. Thank you! :)

[2019-04-16 03:32] duyhau206 commented on #115
Everything is great. Thank you!

[2019-04-16 09:29] ibanjb commented on #66
In my current project, I'm using the pro.ant.design scaffolder and I found the same problem with the radio and check buttons, they are not well printed. Recently, I opened another issue in the ant-design repo https://github.com/ant-design/ant-design/issues/15980 and this is their response about that:

[2019-04-17 10:24] kithma opened #121 "Cannot run the app after using the library"
After using react-to-print I got following error

index.js:2178 Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.

and now I cannot run the app

Any idea why this happen?

[2019-04-17 13:29] SaravananAnbu commented on #118
Did you have gitlab, i will give access...

[2019-04-17 19:19] MatthewHerbst commented on #121
Hello. How are you using it? How are you importing it? What version of the app are you using?

[2019-04-18 02:08] kithma commented on #121
React version - 16.4.2
react-to-print - 2.0.0-alpha.7

This is how I'm importing it and basically using it

import ReactToPrint from "react-to-print";

[code]

[2019-04-18 02:33] MatthewHerbst commented on #121
@kithma please try using the latest version, 2.1.1

[2019-04-18 02:45] kithma commented on #121
Thanks @MatthewHerbst now it's working :D

[2019-04-18 02:54] #121 closed, assigned to nobody

[2019-04-18 10:12] abdurrehman1998 opened #122 "Default Filename in save as PDF"
I am trying to give default filename for the save as pdf option in react-to-print.

[2019-04-18 18:39] brettkoz commented on #15
Any update here? I'm having the same issue.

[2019-04-18 18:54] MatthewHerbst commented on #122
Pull requests are welcome to add support for this :)

[2019-04-18 19:12] gregnb commented on #122
I would probably say no to this feature only because we would need to bring in jsPDF which doesn't really generate quality PDF's on top of the cost of importing that library.

Thoughts @MatthewHerbst ?

[2019-04-18 19:24] brettkoz opened #123 "Can't Print Image On Some Components"
I have three separate components all pulling images from google storage, one of which is able to print the images. I can't find anything that is different about the three. Is there something I should know about trying to print images from another source?

[2019-04-18 21:02] aviklai commented on #66
Hi,

This works as it should but the react and react-dom versions have to be both 16.5 or above.
Looks like it was caused by a bug in react:
https://github.com/facebook/react/pull/13114

Here is a working example:
https://codesandbox.io/s/6xlqn5m7nr

@MatthewHerbst FYI

[2019-04-18 21:10] MatthewHerbst commented on #122
Oh, my understand of the issue was to just be able to set a default file name in the print preview, irregardless of what is being printed. @abdurrehman1998 can you expand on what functionally you are looking for please?

[2019-04-19 04:44] MatthewHerbst commented on #123
Hello. Can you please post some code, or ideally make a codesandbox or similar showing your problem? Thanks!

[2019-04-19 09:04] aviklai commented on #102
@aviv-dw Hi,

Add `preserveDrawingBuffer: true` to your ReactMapboxGl initialization.
This may impact performance a bit, but will allow to print the canvas.

Here is a working example:
https://codesandbox.io/s/509w9o843p

@MatthewHerbst  FYI

[2019-04-19 11:43] gregnb commented on #122
You're right I misread that. I tried digging around and seems like this would work in Chrome:

https://stackoverflow.com/questions/26905908/chrome-save-to-pdf-custom-filename

but I don't see much about other browsers

[2019-04-19 11:45] abdurrehman1998 commented on #122
I resolved that by adding <title>Filename</title> tag at the top of my component that is to be print.Thanks all.

[2019-04-19 11:45] #122 closed, assigned to nobody

[2019-04-19 15:48] MatthewHerbst commented on #102
Thanks @aviklai! I had to shelve this one since I wasn't able to figure anything out from out end. Always nice to learn new tricks!

[2019-04-19 15:48] #102 closed, assigned to nobody

[2019-04-19 17:09] MatthewHerbst commented on #66
Thanks @aviklai for finding that! I have been scratching my head on this one for months

[2019-04-19 17:11] #66 closed, assigned to nobody

[2019-04-19 17:12] #115 closed, assigned to nobody

[2019-04-22 14:27] jawetzel commented on #120
Same problem, solution was not using style overrides. Instead using @media print in my css files

[code]

[code]

[2019-04-23 16:34] brettkoz commented on #123
Okay, here's one of the components that aren't printing the image:

[code]

And here's one that IS working, I just can't figure out the difference.

[code]

[2019-04-23 18:12] ArunJeyR commented on #118
This issue is real urgent and we can provide access to our gitlab if you have an account.. The main issue is the images are missing when we tried printing on Mac but works fine on windows. Sandbox wont work.. This requires an immediate fix..

[2019-04-23 18:19] MatthewHerbst commented on #118
@ArunJeyR why will Sandbox not work? I do not have a gitlab account.

[2019-04-23 18:38] MatthewHerbst commented on #123
Hi @brettkoz any chance you could make a fully functional codesandbox for each please? Hard to see what's happening with that much code in a post and without all of its supporting code.

[2019-04-23 19:07] ArunJeyR commented on #118
Because I need to upload the entire code to Sandbox thats why.. if you want it, probably i can give you my gitlab access will that work? PS: We are pulling images from S3 bucket.

[2019-04-23 19:12] ArunJeyR commented on #118
or if you got a skype account please drop by, and I can share my screen or video if needed.

[2019-04-23 19:44] MatthewHerbst commented on #118
@ArunJeyR you don't need to upload all of the code. You only need to make a minimum viable example of the bug. While I appreciate the offer, I do not want access to your credentials - that is a security/privacy risk for both of us.

[2019-04-24 04:27] alextotheroh commented on #120
Yes, that's what I ended up doing too.  That is a workaround though.  If there is a mechanism to set `pageStyle` on the object, it should be clearly documented and it should work.

[2019-04-24 18:06] MatthewHerbst commented on #120
The intended functionality (from looking at the code) is to be able to use the second option you provided:

[code]

It should override global styles on print, since we append it as the last `style` tag to the `head` of the page. Do you see any problems with how we do this in [the code](https://github.com/gregnb/react-to-print/blob/2329d7f70ee0f27ae4cb255105d3a451384db8d4/src/index.tsx#L112)?

[2019-04-26 13:19] ELTEGANI commented on #118
did you find any solution i have the same problem @MatthewHerbst

[2019-04-26 13:22] ELTEGANI commented on #118
it's working but stopped suddenly with no errors in log ....this is my code @MatthewHerbst
[code]

[2019-04-26 18:42] MatthewHerbst commented on #118
@Tiganimohammad please make a _working_ code example. I can do nothing with the above. I don't even know what your `Image` component does.

[2019-04-28 19:09] ArunJeyR commented on #118
@MatthewHerbst Honestly, It would be really helpful, if you can spare couple of minues on skype video call.. while I share the video.. atleast.. or if its still not ok. then I will have to paste my entire code here.. or copy paste the entire code on sandbox. Thats what i am worried about.

[2019-04-28 19:14] MatthewHerbst commented on #118
@ArunJeyR I think you misunderstand me. I understand the problem you are having. However, I cannot attempt to investigate or fix it without a working code example. Again, you do **NOT** need to create a sandbox of your entire code. All you need to do is create a minimum viable reproduction of the bug, which sounds like it is just in a tiny, tiny section of your overall codebase.

[2019-04-29 09:53] kildem commented on #118
I have tried this code on Mac:
[code]
this is the page:
<img width="290" alt="Schermata 2019-04-29 alle 11 51 49" src="https://user-images.githubusercontent.com/1815732/56888814-3d14c500-6a75-11e9-9269-bec8a7f13b09.png">

When I click `Print this out!` button the preview is blank:
<img width="996" alt="Schermata 2019-04-29 alle 11 52 01" src="https://user-images.githubusercontent.com/1815732/56888

[2019-04-29 11:07] ELTEGANI commented on #118
@MatthewHerbst  sorry for not provide you with working code ...my problem is the same of the guy posted above would you please help us I used it in the production and it suddenly stopped and worked again I mean some time preview is blank and sometimes not

[2019-04-29 18:26] MatthewHerbst commented on #118
@kildem / @Tiganimohammad are there any console errors when you get the blank screen?

[2019-04-30 03:03] ELTEGANI commented on #118
@MatthewHerbst I have no errors in the console

[2019-04-30 04:07] MatthewHerbst commented on #118
@Tiganimohammad it works for me using this codesandbox with the code above (seems to be the main example but using `useRef` as the only difference: https://codesandbox.io/s/3qyl47rznq?fontsize=14

I cannot replicate this issue, and no one has been able to give me an error message. Can someone please get me either an error message or a working code example that can reproduce the issue? Thank you.

[2019-04-30 10:52] kildem commented on #118
using version 2.1.1 it works only if I remove
@font-face ( url("...woff2") format("woff2"), url("... truetype") format("truetype”), url("... woff")  format("woff")) from my application. :disappointed:
if I use  react-to-print@2.0.0-beta-4 everything works

[2019-04-30 18:51] MatthewHerbst commented on #118
@kildem can you make a working codesandbox with that css breaking `react-to-print` so that I can play around with it please?

[2019-05-02 06:34] kildem commented on #118
@MatthewHerbst I have created a public Github repository that replicate this issue, you can clone it and play around with it:
https://github.com/kildem/test-react-to-print

[2019-05-03 19:36] MatthewHerbst commented on #118
Hello. Version 2.1.2 was just published with a fix from @aviklai that aims to address this issue. Please let me know if you see any continued problems.

[2019-05-06 07:04] kildem commented on #118
It works now :smiley:

[2019-05-08 23:18] MatthewHerbst commented on #118
Haven't seen anyone else complain about this. Going to close as fixed. Thank you everyone for your reports and patience, and thank you @aviklai for the fix!

[2019-05-08 23:18] #118 closed, assigned to nobody

[2019-05-08 23:19] MatthewHerbst commented on #123
@brettkoz can you please upgrade to the newest version and see if that fixes the issue? We recently fixed some issues with fonts not loading properly which also impacted some image loading.

[2019-05-14 04:22] putrairawan992 opened #126 "how do you make a print directly? without click the button first ?"

[2019-05-14 04:25] MatthewHerbst commented on #126
There's no way to print via API right now. The work is planned but there is no estimation for when it will be completed. If you'd like to make a PR supporting this I'd be happy to get it included!

[2019-05-14 04:25] #126 closed, assigned to nobody

[2019-05-14 04:43] putrairawan992 commented on #126
this my code

[
![Screen Shot 2019-05-14 at 11 29 22](https://user-images.githubusercontent.com/31697177/57671310-73d60800-763d-11e9-9c6d-7805ddf10936.png)
](url)

[2019-05-14 08:53] MatthewHerbst commented on #126
@putrairawan992 what you are asking for is not currently possible.

[2019-05-14 22:46] jogoool opened #127 "How to print child component without render it on parent component"
My parent component is a table and it has many other components with a print button that generate report to print, the child component <ReportTemplate /> is a template of report. when I try to reference it` <ReportTemplate ref={el => (this.componentRef = el)}/>` it is rendered in Parent component. How can I pass the child component to `<ReactToPrint/>` without rendering it on parent component.

ex

[2019-05-15 15:25] putrairawan992 opened #128 "Why are there css that don't appear when printed?"
this display in the browser :
![Screen Shot 2019-05-15 at 22 21 58](https://user-images.githubusercontent.com/31697177/57787621-eccd8080-775f-11e9-9ec3-ec39ed102362.png)

this print view :
![Screen Shot 2019-05-15 at 22 23 04](https://user-images.githubusercontent.com/31697177/57787697-171f3e00-7760-11e9-9b01-f16595e8d949.png)

this code:
![Screen Shot 2019-05-15 at 22 24 28](https://user-images.g

[2019-05-15 21:07] putrairawan992 commented on #128
@MatthewHerbst

[2019-05-15 21:28] MatthewHerbst commented on #128
Can you please ensure that you have the background graphics options turned on when you are in the print preview?
<img width="994" alt="Screen Shot 2019-05-15 at 2 28 00 PM" src="https://user-images.githubusercontent.com/1287375/57810855-aa834f80-771d-11e9-8232-8c025515a94b.png">

[2019-05-15 21:42] ronmaple commented on #128
I have the same problem on Chrome -- with background graphics turned on

[2019-05-15 21:44] MatthewHerbst commented on #128
What version of the library are you using @ronmaple ?

[2019-05-15 21:54] ronmaple commented on #128
2.1.2

[2019-05-15 21:56] MatthewHerbst commented on #128
@ronmaple any chance you could make a codesandbox please replicating the issue?

[2019-05-15 22:10] ronmaple commented on #128
https://codesandbox.io/embed/compassionate-dew-txilb

I'm trying to center the QRCode component, and the p tag

[2019-05-15 22:27] MatthewHerbst commented on #128
Thanks @ronmaple! I'll try and take a look tonight but may not be able to get to it until this weekend

[2019-05-15 22:40] putrairawan992 commented on #128
@MatthewHerbst  hello helpme please

[2019-05-15 22:43] MatthewHerbst commented on #128
@putrairawan992 can you please make a condesandbox with your code so I can see it live?

[2019-05-15 23:01] MatthewHerbst commented on #128
@ronmaple your issue is that your `text-align: center` is on the `App` class but that class is on the parent of the component being printed, not on the component itself.

[2019-05-15 23:12] putrairawan992 commented on #128
https://codesandbox.io/embed/reverent-bas-whpw7 @MatthewHerbst

[2019-05-15 23:23] ronmaple commented on #128
@MatthewHerbst Oh! I see, that fixes it. I didn't realise that the print view might have been different from the web view, in terms of how (I'm assuming) the library uses the component to render the view. Thanks!

[2019-05-15 23:38] putrairawan992 commented on #128
why can't the background color and image appear

[2019-05-15 23:44] MatthewHerbst commented on #128
@putrairawan992 I don't see a difference between the codesandbox render and the print output. I'm on Chrome 74. What browser are you using?

<img width="1189" alt="Screen Shot 2019-05-15 at 4 43 48 PM" src="https://user-images.githubusercontent.com/1287375/57816594-bdebe600-7730-11e9-8ad2-495d1e8f3b3f.png">
<img width="683" alt="Screen Shot 2019-05-15 at 4 44 03 PM" src="https://user-images.github

[2019-05-16 01:29] putrairawan992 commented on #128
![Screen Shot 2019-05-16 at 08 28 50](https://user-images.githubusercontent.com/31697177/57819930-bcfc9800-77b4-11e9-8360-b84032180681.png)
Os Macbook

[2019-05-16 01:30] MatthewHerbst commented on #128
@putrairawan992 is there something in the screen shots I shared that is not being displayed?

[2019-05-16 01:33] putrairawan992 commented on #128
i dont show background
![Screen Shot 2019-05-16 at 08 28 50](https://user-images.githubusercontent.com/31697177/57820057-50ce6400-77b5-11e9-987f-939a33d0cffc.png)

[2019-05-16 01:37] putrairawan992 commented on #128
![Screen Shot 2019-05-16 at 08 32 46](https://user-images.githubusercontent.com/31697177/57820157-c6d2cb00-77b5-11e9-83b5-bd9b23a60709.png)

[2019-05-16 01:40] MatthewHerbst commented on #128
@putrairawan992 can you show me the options under "More settings"? On mine I can replicate what you see by turning "Background graphics" off. You need to turn that on.

[2019-05-16 01:55] putrairawan992 commented on #128
solved brother thanks

[2019-05-16 01:59] #128 closed, assigned to nobody

[2019-05-19 06:29] lxx7061 commented on #127
[code]
 to =>
[code]

[2019-05-21 13:26] akafaneh commented on #45
Same issue here, any update or work around for now?

[2019-05-21 13:28] akafaneh commented on #120
i have same issue here where i want to specify the size to be landscape using the @page, but even the work around above is not working for me, any solution for now?

[2019-05-21 21:14] fershibli commented on #127
I've tried your solution, but got an error instead:
`'none' is not defined  no-undef`

here's my code:
[code]

[2019-05-21 21:59] MatthewHerbst commented on #127
@FernandoLuizNemeChibli the `style` prop does not understand CSS, so values need to be strings:

`style={{display:none}}` -> `style={{ display: 'none' }}`

[2019-05-22 12:10] fershibli commented on #127
@MatthewHerbst oh! now worked perfectly! thanks! (:
Thank you too, @lxx7061!

[2019-05-22 20:25] fershibli opened #130 "How do I configure to print for a ticket printer?"
I need to print in a thermal paper printer, those that prints tokens, tickets, etc.
What argument do I pass in pageStyle parameter to print in that size? Is there a list of page styles or a way of configuring a new page style?
How do I test this without a printing?

[2019-05-22 20:44] MatthewHerbst commented on #130
This sounds like a question better suited for StackOverflow.

[2019-05-23 07:22] ibanjb opened #131 "Error: Function components cannot be given refs. Attempts to access this ref will fail"
Hi there!

I'm using this module in our application and, when the component that has the logic to print is displayed, appears in the browser's console an error message: "Function components cannot be given refs. Attempts to access this ref will fail".

The code that I'm using is this:

[code]

And the module 'PatientGynPrintForm' is a React.PureComponent class too so I don't know how to solve this

[2019-05-23 07:29] ibanjb commented on #107
About the 2 pages error, the problem was solved using your recommendations, remove the unnecesary margins and works! Thx!.

About the other problem, the checkboxes and radiobuttons, I opened an issue into ant-design github page and the response was super-duper chinese: "This is a bug of the browser that you are using, we will not fix. Issue is closed". So, meanwhile this problem exists, I will use

[2019-05-23 07:54] MatthewHerbst commented on #131
Hi there. Can you please most more complete code, or ideally make a codesandbox or similar where I can see the problem live?

[2019-05-23 11:54] jpnut commented on #131
Is the `Icon` component a functional component? The react element used for the trigger is [cloned and a ref injected](https://github.com/gregnb/react-to-print/blob/master/src/index.tsx#L193), so it must also not be a functional component.

If that's the case, you could:
 - wrap the `Icon` with another element or non-functional component
 - change `Icon` to a non-functional component
 - [forward th

[2019-05-23 12:55] fershibli commented on #130
For people who got at this page and is looking for my question at StackOverflow, here is the link: https://stackoverflow.com/questions/56265202/how-do-i-configure-to-print-for-a-thermal-paper-printer-with-react-to-print

[2019-05-28 22:12] yefriddavid commented on #68
For me works!

this

  manualPrint() {

    this.printRef.handlePrint();

  }

render(){
        <ReactToPrint
          ref={el => (this.printRef = el)}
          trigger={() => <a href="#" id="david">Imprimir</a>}
          content={() => this.componentRef}
        />

......

[2019-05-30 17:38] hyunpill3 opened #132 "Can't use setState() in onAfterPrint callback function if I click exit window button"
I have this element

[code]

onBeforePrint and onAfterPrint work fine. However, if I close the print window using exit button (not cancel button), then the site crashes and I am getting this error.

[2019-05-30 19:18] MatthewHerbst commented on #132
Hello. Can you please make a working code example (such as with codesandbox.io) to show the problem? I am unable to replicate it with the base example.

[2019-05-30 19:18] MatthewHerbst opened #133 "Update example dependencies"
@gregnb could you please update the dependencies on the codesandbox.io example to use latest versions? Thanks!

[2019-05-30 19:58] hyunpill3 commented on #132
@MatthewHerbst
Sorry I solved the issue. I was using old version of react-to-print. Newer version works.
Closing the issue

[2019-05-30 20:05] #132 closed, assigned to nobody

[2019-06-02 12:44] tnduc commented on #83
Use @media print or wrap with div and set display none 😂

[2019-06-03 15:04] p4cm4n commented on #85
I had a min-height: 100% in the CSS which made me have a full blank page just like you, maybe it helps ti set height: 99%, it did for me 👍

[2019-06-05 18:54] nhooey opened #135 "Make Code Sandbox example for Functional Components with hooks in strict TypeScript"
I'm getting a `cross-origin error` when copy-pasting the [Calling from functional components with hooks](https://github.com/gregnb/react-to-print#calling-from-functional-components-with-hooks) example over the `example/index.js` file found in the [Code Sandbox Example](https://codesandbox.io/s/kmmw7l39y7), in this [forked Code Sandbox Example](https://codesandbox.io/s/reacttoprint-oep7f).

I'm try

[2019-06-05 19:32] nhooey opened #136 "Fix Functional Components example to work with strict TypeScript"
This was my fix for the Functional Components example:

[code]

[2019-06-05 22:28] MatthewHerbst commented on #136
Hi @nhooey. Thanks for looking into this, and apologies that the examples were not updated when we switched to TypeScript. Any chance you want to make a PR that adds a "strict TypeScript" example to the README?

[2019-06-05 22:30] MatthewHerbst commented on #135
Yeah, we have a few issues with the Code Sandbox example, the primary one being that it uses an outdated version of the app. Agreed that we should make additional ones. If we don't see an update in https://github.com/gregnb/react-to-print/issues/133 soon I'll create new sandboxes on my account, but was hoping @gregnb would keep them updated on his.

[2019-06-08 08:39] tnduc commented on #83
You grasp the basic media query rule that is applicable.
https://www.tutorialspoint.com/css/css_printing.htm

[2019-06-12 09:20] phongle2512 commented on #85
Hi all, I'm getting blank page in safari iPad & iPhone :(. For chrome, it return a whole screen not the content I want to print. Can anyone help me ? It works fine in desktop only

[2019-06-12 09:22] phongle2512 commented on #85
where I can set the min-height, I used a simple content but nothing shows, here is my content
             <div
                  ref={el => { this.componentRef = el }}
                  dangerouslySetInnerHTML={{ __html: "<h1>Hello</h1>" }}
                />

[2019-06-14 06:57] phongle2512 commented on #127
Actually, when I have more than 200 tables to print (each table per page), the `<ReportTemplate ref={el => (this.componentRef = el)} />` make the parent component render too slow :( although I wrap a div to hide it `<div style={{display:"none"}}></div>`

Anyone suggest any solution ? I tried to use `onBeforePrint` to inject html then do the print, but it returns empty page, if I tried again then I

[2019-06-21 10:35] davidecarpini commented on #136
I had to do something like that to use it with strict typescript
[code]

[2019-06-23 02:22] #133 closed, assigned to nobody

[2019-06-23 02:23] MatthewHerbst commented on #85
Hello. I just published v2.1.3 which has a fix for Safari printing. Can you please let me know if it solves the problem you've encountered? Thanks!

[2019-06-23 02:24] MatthewHerbst commented on #123
@brettkoz any update here please?

[2019-06-23 02:25] MatthewHerbst commented on #131
Hey @ibanjb were you able to solve your issue here?

[2019-06-24 08:24] felipevlourenco commented on #85
It is working now! Thanks!

[2019-06-24 09:58] phongle2512 commented on #85
Thanks @MatthewHerbst , It works for me now.

And I have a performance issue with Print function: My Tickets page shows all user's tickets,  for each ticket, user can print it. The problem is when user has many tickets (100 tickets), the page is getting slow because the UI has to prepare 100 tickets data for printing (each ticket is a table). Do you have any suggestion ?

[2019-06-24 10:30] MatthewHerbst commented on #85
The wrapper that `react-to-print` puts around your trigger has almost no overhead, so my guess is that your UI code is relatively heavy, or that it's re-rending needlessly. There are many strategies to deal with large UIs in React. First you should optimize your components; make sure they are only rendering what is needed, make sure they are all `PureComponent`s, and make sure you are not changing

[2019-06-24 15:34] phongle2512 commented on #85
Thanks @MatthewHerbst your suggestion, I'll try to use PureComponent to see

[2019-06-25 14:00] kappelhoj commented on #123
Im having the same issue, on version 2.1.3

Specifically it seems to be an issue only in chrome. When printing in firefox it always loads images, styles etc.

I also have issues with loading styles, and sometimes even text. My guess is that chrome does not always wait for the full render.

Ill see if i can get you a sandbox. Depends if my project manager will allow me to use the time.

[2019-06-25 18:31] MatthewHerbst commented on #123
@ArvidLangsoe would really appreciate a sandbox if you can make one, thank you

[2019-06-26 09:16] mhmmdakbr opened #139 "Having trouble when print (ref issue)"
i have problem when printing this alert message appear (**Refs are not available for stateless components. For "react-to-print" to work only Class based components can be printed**)

what does it mean? and what should i do?

this my code for the print page

[code]
and this is my code for the table
[code]

[2019-06-27 04:41] MatthewHerbst commented on #139
If I had to guess, either `withRouter` or `withStyles` is using a functional component to wrap. Try it without those HOCs (I know they are needing for the component to work properly) and see if that works. If it does, turn on each HOC one at a time to find which one is problematic.

Let us know you find please.

[2019-06-28 10:07] LeopoldLerch opened #140 "UpdatedDom ignored on onbeforeprint"
Hi, I am using this lines

[code]

where i am setting Printmode to true, in order to render additional Content (Legend) for the print.

[code]

However. It is called and the DOM updated (as i can see in the background, but in the print window it still shows the "non-print-version".

the full thing I use:

[code]

[2019-06-28 10:10] LeopoldLerch opened #141 "BuiltIn Flag to exclude the "Trigger" from Print"
Like the title said

It would be nice to have a flag for excluding the trigger from the print. Of course we can add the corresponding "media"-styles by ourself, but it would be a nice idea to have that built in.

[2019-06-28 16:55] taylorgannon opened #142 "Issues printing on chrome"
I'm having issues printing on Chrome from my project.  It's working sometimes, but I can't find a pattern to indicate why it's sometimes working and sometimes not working.  Whenever I press the print button I see the `<iframe>` in the "Elements" of Chrome dev tools, but the print dialog never shows up.  Any idea what could be happening?

Print Component
[code]

Component to Print
[code]

[2019-06-28 17:56] MatthewHerbst commented on #141
Hi @LeopoldLerch can you please post an example of what you want? The trigger is not included in the print, as can be seen from the codesandbox example on the README.

[2019-06-28 18:05] MatthewHerbst commented on #140
Hello. Can you please show what `setPrintMode` does?

[2019-06-28 18:12] LeopoldLerch commented on #140
It just sets a state property to true so that the rendering can react and
render the additional elements out too

Matthew Herbst <notifications@github.com> schrieb am Fr., 28. Juni 2019,
20:05:

[2019-06-28 18:13] MatthewHerbst commented on #142
Hi there. That does sound pretty strange. Can you please let me know what version of Chrome you are on? Also, what stylesheets are loaded on the page?

On a side note, you don't need to have the `<a>` tag around your button for it to work, and I'm pretty sure a `button` tag should not be within an `a` tag.

[2019-06-28 18:20] LeopoldLerch commented on #141
No, in the example it is not included because it is printing a component in
which the reacttoprint component is not included. My case is about printing
a component where the reacttoprint- component ( and therefore the trigger)
IS included in the component-stack.

Matthew Herbst <notifications@github.com> schrieb am Fr., 28. Juni 2019,
19:56:

[2019-06-28 18:24] MatthewHerbst commented on #140
Hmm. `setState` is an asynchronous function, but `onBeforePrint` is currently setup to be a synchronous function. Essentially, `react-to-print` doesn't know that it needs to wait for some async work to finish. This is clearly an oversight. Let me see if I can come up with a quick solution that won't break anyone else.

[2019-06-28 18:30] LeopoldLerch commented on #140
Thank you. Well, in React I can imagine many cases when I need to "react" to "beforePrint" by setting states. So I think this might be an issue others are also running into.

[2019-06-28 18:37] MatthewHerbst commented on #141
`react-to-print` has no knowledge of what is in the component-stack to print, it only ones what the ref of the root level node of the stack is. You will need to remove `ReactToPrint` from the component stack.

You can do that either by re-arranging your code a bit, or, by using CSS to hide (`display: none`) the trigger component when being printed.

[2019-06-28 18:37] LeopoldLerch commented on #141
I am speaking about such a constellation, to be clear:

[code]

So, it is about printing an parent-component of the ReactToPrint-Component. In this case the trigger is included. In the example it is a "neighbouring" component which should be printed, therefore of course the trigger is not included in the output.

[2019-06-28 18:41] LeopoldLerch commented on #141
I know that it doesn´t know about the stack. That´s why I asked for an flag/property which results in in wrapping the trigger in a html element with a "@media:print {display:none}" or something like that. (Well, as I think about it, this could also be the default I guess). That way i can leave it inside the component (which makes it easier for positioning purposes) and it won´t be printed at all (

[2019-06-28 21:27] MatthewHerbst commented on #141
Why not just wrap it in the media query yourself? I think we should be very wary of API bloat or DOM changes, even for little things.

[2019-06-28 22:54] MatthewHerbst commented on #140
I'm trying to think if there is an elegant way to do this without using `Promise`. I like `Promise`, but it is not supported by IE and other older browsers that we currently work on. If there's no other good way to do this maybe it's time we start making people use a polyfill, but I'll have to see what the community thinks in that case.

[2019-06-29 18:17] LeopoldLerch commented on #140
I see. My opinion is, that we should use new technologies if they fit us. Holding them back to support outdated browsers is just slowing down development at all (in fact also for npm-packages).
As in our current project (which heavily relies on fetching data) we still support IE, but we polyfill everything it does not support  but keep using modern technologies.

If a solution wants to use reat-to

[2019-06-29 18:58] MatthewHerbst commented on #140
I'm very open to using promises and making people polyfill for support. Just will be a slightly longer process since it involves releasing a breaking change. Give me a couple of days to work on this - I do think it's needed, so thank you for the idea!

[2019-06-29 19:19] taylorgannon commented on #142
@MatthewHerbst It was an issue with the configuration of the project 👍 Back to normal now.

[2019-06-29 19:19] #142 closed, assigned to nobody

[2019-06-29 20:04] MatthewHerbst commented on #140
So, the way I envision using this is that `onBeforePrint`, if given, can return a Promise. `react-to-print` will wait for that promise to resolve/reject before attempting to print. With your specific use case in mind, you would have to wrap your `setState` call in a Promise so that we could track it. So, you would have to do something like:

[code]

Does that seem ok to you?

[2019-06-29 20:05] MatthewHerbst commented on #140
@gregnb do you have any objection to anything in this thread?

[2019-06-29 20:26] LeopoldLerch commented on #140
might work out. One has to try if the rendering is already done too, when the setState calls the callback function.

My current situation is based on hooks. As I know hooks don´t have such a callback option. Do you have any suggestion in that case too?

[2019-07-01 19:04] MatthewHerbst commented on #140
Hmm. I would image then that you would have to save a reference to the `resolve` and `reject` functions and call them when needed.

So, in a class world:

[code]
Functional could work in a somewhat similar manner. (This is a quick example that I thought about that I think will work, and likely could be improved.)
[code]

What do you think about that?

Thanks again for the discussion on this, very

[2019-07-01 21:56] LeopoldLerch commented on #140
Hmm. Looks quite complicated and error prone. I don´t have much time to try out too.

Currently I am thinking about a React-context could help us out. I don´t know if this is async too.

[2019-07-01 22:15] MatthewHerbst commented on #140
If you can think of a better solution please let me know. The issue is two fold: the parent has to resolve/reject the promise, and only the parent knows when it is done re-rendering.

[2019-07-04 07:28] michael-ecb commented on #140
I have the same issue, I want to render only when print clicked,
for now I 'm using this solution but sometimes not works ...

[code]

[2019-07-04 19:58] MatthewHerbst commented on #140
@michael-ecb it sometimes works because there is a race condition happening, so sometimes your render will beat it and sometimes it won't. What are your thoughts on what I've suggested for how it could be done above?

[2019-07-07 06:15] michael-ecb commented on #140
@MatthewHerbst  sounds greater than use  React-context ...

[2019-07-07 21:55] MatthewHerbst commented on #140
We could look into using context, though it would likely require us to raise our minimum required React version, which I think is a downside compared to asking people to provide a Promise polyfill since most probably already do that if they support IE and such.

[2019-07-08 05:11] navjeetsingh opened #143 "Footer /tfoot at the bottom of the 2nd page"
Hey,
First, thank you very much for the awesome library. I am having minor issues, I have wrapped the content in a HTML table tag and on single page by giving `tfoot` with the css property of `vertical-align: bottom` the main table wrapper of 90vh and table tag a height of 100% puts the `tfoot` at the bottom which is perfect now the problem is if the content/`tbody` goes to 2nd page the 2nd page `

[2019-07-08 05:28] leinss commented on #123
@MatthewHerbst  Thank you for providing this library, you're making things really easier.

I am having the same issue with firebase storage / google cloud storage images.
I created a [codesandbox](https://codesandbox.io/embed/react-to-print-12ng4).

Sorry, if it isn't stripped down to the very metal.

The picture in the header is from imgur, the one in the body from firebase storage. It sometimes

[2019-07-08 08:58] MatthewHerbst commented on #123
Thanks for sharing @Caruso33! So the issue is that `react-to-print` doesn't know that the images load async (it doesn't even know there are images in the thing to print). There is currently a 500ms timeout that we wait for async resources to load, so if the images load in under 500ms then they will show, if they load in over 500ms they will not.

I'm not sure if there is a way to know there are im

[2019-07-08 09:00] MatthewHerbst commented on #143
Hello, thanks for asking. Can you please make a codesanbox showing the issue?

[2019-07-08 09:52] navjeetsingh commented on #143
Hello Matthew,

Thank you very much for the prompt reply, please find the link for the codesandbox below:

[printpdf codesandox](https://codesandbox.io/s/sad-silence-79wrc?eslint=1&expanddevtools=1&fontsize=14&initialpath=%2Fsrc&moduleview=1)

Regards,

[2019-07-11 10:37] jindal1982 commented on #33
Still not working Print window in firefox

In 1.0.1 version, working fine https://codesandbox.io/s/6n0mo326mz

but after 2.0 version, not working https://codesandbox.io/s/kmmw7l39y7

[2019-07-11 19:23] MatthewHerbst commented on #33
@jindal1982 this is now being tracked in https://github.com/gregnb/react-to-print/issues/93

[2019-07-15 04:10] sonnthai97 opened #144 "How can I print to a specific printer ?"
I have a list of printers as shown below. How do I choose a printer on that list ?

![ListPrinter](https://user-images.githubusercontent.com/48054554/61195252-0142e080-a6f1-11e9-9e2c-ff61f9d8f425.PNG)

[2019-07-15 04:58] MatthewHerbst commented on #144
You click one and select it? This question has nothing to do with this library. Please ask it on StackOverflow or some other general question site, thank you.

[2019-07-15 04:58] #144 closed, assigned to nobody

[2019-07-15 07:13] sonnthai97 commented on #144
No. I want to select one specific printer with each button. Ex: When I click button A then BIXILON SLP-T403 printer automatically selected in preview pop-up.

// This button will select one specific printer.
 <ReactToPrint
                  copyStyles
                  trigger={() => (
                    <button>This button will select BIXILON SPL-T403 Printer<button>
                  )}

[2019-07-15 07:46] MatthewHerbst commented on #144
I don't think there is any way for us to do that. All we do is open the print window. After that the browser handles everything.

If you know of a widely supported API that lets us pre-select options in the print window when we open it, please let me know and I'd be more than happy to implement it.

[2019-07-15 13:08] daniloab opened #145 "Content hidden by @media print does not show on the first click to print"
Hi, I have the follow context:

I want to print a report with a header, but this header needs just show on the print and not in the page on a web. So, I did this:

css
[code]

And use my `PrintHeader` component inside the `wrapper` from my report.

[code]

Our problem is:
- The page is rendered, I click to print my report but my `PrintHeader` does not show,
- So, I close the print and click again

[2019-07-15 19:56] MatthewHerbst commented on #145
Hello. Yes, we have no way of knowing what data your component may or may not be loading, so we only wait 500ms before opening the window. There is talk in #140 about providing `react-to-print` the ability to wait until an action is done before trying to print. If you have any ideas for that thread they would be greatly appreciated.

Also, side note: the way you are using the [`useRef`](https://re

[2019-07-16 20:30] kevinoliveira commented on #139
@mhmmdakbr , try extend  ` TablePrint` to `React.Component` instead of `React.PureComponent`

[2019-07-17 14:42] LeopoldLerch commented on #140
Hmm.
Maybe a MutationObserver would be a way to Go?

[2019-07-17 17:33] MatthewHerbst commented on #140
Interesting, I didn't know about the API before. Can you maybe write a pseudo-code example of how you think that would work? From the docs I don't see any way of the observer telling you that the mutation is done, rather, you have to tell it that the mutation is done. We could pass a function from props down into the callback, but that would require users of the library to have intimate knowledge

[2019-07-17 21:18] LeopoldLerch commented on #140
Well, it tells you if something in DOM changed.

Basically you create an observer-object which includes the callback. and thell it to observe a dom-element with given extra-config-parameters. (plain js as here: https://medium.com/@abbeal/listening-to-the-dom-changes-with-mutationobserver-b53a068a58d2)

You can even use a existing react-component like
https://github.com/jcgertig/react-mutation-obse

[2019-07-17 21:37] LeopoldLerch commented on #140
I think there are only 2 ways:
1. the child provides a callback function for beforeprint, that gives a promise, which is then approved from the child itself when it is done (as only the child can know when it is finished)
2.  using react-Context (i know, again): first, it is providing it's own state (eg PrintMode) via a context-provider, in which the "users"-component given as children-property is

[2019-07-17 21:47] LeopoldLerch commented on #140
Ok, react-to-print doesn´t use a children-prop. Don´t know where i got that from. However, Context-method would work also, altough a bit less easy
React-to-print could provide an interface how an provider should look like. The user wraps React-to-print and the child-component inside such a provider. from there upwards it is all the same like above. Via a function react-to-print sets the printmode-

[2019-07-17 22:28] MatthewHerbst commented on #140
I personally think the simplest solution is for `onBeforePrint` to optionally return a `Promise` that we will wait to be resolved before printing. That way the user can decide however they would like when/how to resolve the `Promise`.

The proposal you've suggested with waiting for `componentDidUpdate` to run won't work because it won't have any knowledge of async calls within the lifecycle method

[2019-07-19 23:48] MatthewHerbst commented on #140
This has been addressed in https://github.com/gregnb/react-to-print/pull/146, published as v2.2.0 which adds support for `onBeforePrint` to return a Promise. Please let me know if you encounter any issues

[2019-07-19 23:48] #140 closed, assigned to nobody

[2019-07-21 18:59] MatthewHerbst commented on #141
I'm going to close this since I think there are available solutions for doing this without library changes. If you know of a way the library could do this that is far superior to what can happen is user-land I would be open to considering it

[2019-07-21 18:59] #141 closed, assigned to nobody

[2019-07-21 19:01] MatthewHerbst commented on #130
Hi @FernandoLuizNemeChibli were you ever able to figure this out? I'm going to close the issue would would love to know the solution so that if others have the same problem they can find this question

[2019-07-21 19:01] #130 closed, assigned to nobody

[2019-07-21 19:03] #127 closed, assigned to nobody

[2019-07-21 19:04] #131 closed, assigned to nobody

[2019-07-21 19:05] MatthewHerbst commented on #139
Hi @mhmmdakbr were you able to resolve this issue?

[2019-07-21 19:08] MatthewHerbst commented on #143
Hi @navjeetsingh sorry for the delayed response. I'm looking at the example you posted and I feel that I don't fully understand what the problem is. Can you explain visually what you are expecting versus what is happening? Thanks

[2019-07-22 01:48] navjeetsingh commented on #143
Hi @MatthewHerbst, thank you for the reply, the problem I am facing is if the pdf is more than one page long the footer from 2nd page onwards does not sit at the bottom, attaching how the footer sits on the first page the footer sits at the bottom no matter how short the content is. But the moment we are on the 2nd page or the 3rd page the footer does not stick at the bottom anymore. Attaching how

[2019-07-22 02:26] leinss commented on #123
Ok so I tried some workarounds with prefetching images but haven't got it working.
I thought somehow this should be possible.

Anyways, I guess as temporary solution the ability to increase the 500ms timeout would be sufficient.

[2019-07-22 04:21] hilo2120 opened #148 "Version 2.2.0 does not open print window"
I tried to use the latest version (2.2.0 at the time), but print window does not open, I forked official codesandbox example using latest version and it doesnt work either.
https://codesandbox.io/s/react-to-print-in5sj
version 2.1.2 works as expected.

My Repositories:
react 16.8.6
react-dom 16.8.6
...

Browsers:
chrome 75.0
firefox 68.0.1

[2019-07-22 07:47] MatthewHerbst commented on #148
Fixed in #149 and published as version 2.2.1, thanks for the report and please let us know if you encounter any other issues!

[2019-07-22 07:47] #148 closed, assigned to nobody

[2019-07-22 07:51] MatthewHerbst commented on #123
@Caruso33 are you able to know in your code when the images have loaded? We recently published version 2.2.0 which allows for async operations in `onBeforePrint`. Maybe you could load the images into the browser cache in that function and then the timeout wouldn't matter?

[2019-07-22 12:35] ywCn1998 opened #151 "undefine closeAfterPrint in property"
Hi
I use version 2.2.1
and It doesn't have closeAfterPrint property to use

[2019-07-23 01:38] leinss commented on #123
@MatthewHerbst yes that did the trick, thank you so much!

I solved it by using
[code]

[2019-07-23 03:58] MatthewHerbst commented on #123
Awesome, glad to know that new feature has good use cases! Please let us know if you see anything else that's missing!

[2019-07-23 03:58] #123 closed, assigned to nobody

[2019-07-26 17:33] MatthewHerbst commented on #151
Thanks for the report! I'm not sure when or why this was removed from the code but not the documentation, or if it was meant to stay in the code and was removed by mistake. I'll be able to take a closer look at this next week.

[2019-07-26 17:35] MatthewHerbst commented on #85
Going to close this out since the bug seems to be fixed. Please let me know if there are any other remaining issues.

[2019-07-26 17:35] #85 closed, assigned to nobody

[2019-07-28 07:34] cathysandstrom commented on #45
The component has a prop called pageStyle which allows you to override the default window print styling that is used by react-to-print. I'm not 100% sure on how this is used at the moment, but setting it to an empty string will remove the resizing done by the component.
Hope this helps!
[code]

[2019-07-29 05:33] Movinda commented on #107
it worked for me also, i removed unnecessary margins(top and bottom). how can i insert top and bottom margins properly if i want to insert?

[2019-07-30 19:59] MatthewHerbst commented on #151
This has been corrected by the introduction of a new prop `removeAfterPrint` which replaces the old `closeAfterPrint`. This is now available in version 2.3.0, just published. Thanks for finding this issue!

[2019-07-30 19:59] #151 closed, assigned to nobody

[2019-07-30 21:46] MatthewHerbst commented on #145
Hello. Please note that the newest version has support for using promises within `onBeforePrint`. You should be able to use that to achieve what you need reliably. Please let us know if you run into any issues, thank you.

[2019-07-30 21:46] #145 closed, assigned to nobody

[2019-08-10 18:44] heyjaypray commented on #68
I'm currently having a similar issue.  I'm currently using material-table and would like to have a button that you click that will print the info contained passed into a component.

<img width="1395" alt="Screen Shot 2019-08-10 at 2 02 30 PM" src="https://user-images.githubusercontent.com/25106794/62825578-1ab63b80-bb7c-11e9-8e60-67e7d0be8e7f.png">

My code looks like this -

[code]

[code]

Then

[2019-08-10 21:09] MatthewHerbst commented on #68
@heyjaypray we don't have a feature available yet where you can call that method directly. Something I've been meaning to work on. I'll also happily accept any PRs :)

[2019-08-12 19:41] MatthewHerbst commented on #143
Hi @navjeetsingh I have been looking at this and I don't see anything related specifically to this library that might be causing the issue. Do you have a reason to think the issue is caused by `react-to-print`? I'm not an expert on HTML table css so not sure what might be going on there. Have you been able to find a solution to this?

[2019-08-14 08:24] sprietNathanael opened #159 "Hidden canvas not being printed"
Hi!
I'm using your module to print custom components that are not displayed. I hide the component's container and pass the ref of the inner component. It works greatly, and allows me to make a print version of what is displayed.
I'm trying to print charts from chartjs lib. I put the chart in the inner component, but when I try to print, nothing happens and I got this error :

[code]

Do you have a

[2019-08-14 19:12] MatthewHerbst commented on #159
Hi there. Unfortunately I don't know much about drawing to the canvas, let alone a hidden one. This seems like it would find a wider audience if you asked it on StackOverflow. If you ask it there can you please link the question here so that we can see if anyone finds the answer? Thanks! Going to close this since it's not an issue directly with this library, but happy to continue the discussion if

[2019-08-14 19:12] #159 closed, assigned to nobody

[2019-08-22 05:16] henrycheung19 opened #162 "some inline styles cannot be printed"
Hello,

In Sandbox,
https://codesandbox.io/s/react-to-print-up15g
all inline styles works fine.

when I add some inline styles to the html to my project, e.g. colors, margin, alignment, only alignment and margin is reflected in the print preview window. For colors, they are not effective.

my package versions
"react": "^16.9.0",
"react-dom": "^16.8.4",

Thanks a lot

[2019-08-22 06:05] MatthewHerbst commented on #162
Hello. Can you please show us the code you are using in your project, and be more specific about which styles aren't working?

[2019-08-22 06:31] henrycheung19 commented on #162
I tried to copy and paste some codes here but I observe the format is broken. So I attached the code with some screenshots:-

[code.js.zip](https://github.com/gregnb/react-to-print/files/3528590/code.js.zip)

![image](https://user-images.githubusercontent.com/31651310/63491014-afa82580-c4e8-11e9-8621-d68eacb377ad.png)

![image](https://user-images.githubusercontent.com/31651310/63491289-673d3780-c

[2019-08-22 12:00] henrycheung19 commented on #162
Hello,

I got the answer. Your package is working well. But the usage of react bootstrap will override the print style.

Thanks so much.

BR,

Henry

[2019-08-22 15:40] MatthewHerbst commented on #162
Glad you figured it out, thanks for letting us know!

[2019-08-22 15:40] #162 closed, assigned to nobody

[2019-08-22 15:54] seyyed-sina commented on #115
still getting this error, even with upgrading to v2.3.2.

[2019-08-22 16:14] MatthewHerbst commented on #115
Hi @spostad7 do you mind sharing the stack trace you're seeing please?

[2019-08-24 13:42] seyyed-sina commented on #115
hi @MatthewHerbst

`
Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.
`
`
Uncaught Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.
`

[code]

ReactToPrint v2.3.2

[2019-08-26 12:56] MatthewHerbst commented on #115
@spostad7 can you provide a codesandbox of your code that reproduces the problem by chance please?

[2019-08-26 14:10] seyyed-sina commented on #115
@MatthewHerbst
I am sorry, accidentally I close the project and close the npm start and when I start npm again, the package worked perfectly. It just needed to restart npm to use the new package version.

Thanx a lot for support.

[2019-09-04 07:51] westbergjohanna opened #164 "Issue with github repo"
I have a problem printing in the Edge browser. I use React 16.7.0 and react-to-print 2.1.2. It works fine for all other browsers but when I use a PC and Edge (it works on Edge for mac) I sometimes have a problem with the print command not working at all (neither the button or ctrl-p). When the print command works some information on the page is missing in the print preview. I'm trying to print a c

[2019-09-04 08:28] MatthewHerbst commented on #164
Hello. That sounds very strange indeed. Could you please post some code showing how you are using `react-to-print`? Also, could you please try upgrading to the newest version, `2.4.0`? There have a been a bunch of bug fixes (and new features) since `2.1.2`.

[2019-09-04 08:28] #139 closed, assigned to nobody

[2019-09-04 08:29] MatthewHerbst commented on #143
Hi @navjeetsingh were you able to resolve this?

[2019-09-04 08:46] MatthewHerbst commented on #95
Hi everyone. Sorry for the extreme delay on solving this. I had gotten stuck on it and shelved it, but recently thought of something and realized it was the problem.

By default, agGrid virtualizes columns and rows that are not displayed. What that means is that when `react-to-print` gets an internal copy of what's on the screen, `agGrid` does not actually render the columns to the right because f

[2019-09-04 10:16] MatthewHerbst commented on #95
This is actually much harder than I thought, possibly not possible. It's not enough to scroll the entire iframe to match the scroll of the page, since that won't actually scroll inside of the agGrid. I don't know of a good way to maintain the scroll position within the grid. The best generic option I can offer right now is for each app to remember the scroll positions of whatever needs to be scrol

[2019-09-04 10:41] MatthewHerbst commented on #95
https://stackoverflow.com/questions/57786715/replaying-scroll-events-for-every-element-in-iframe

[2019-09-05 07:15] westbergjohanna commented on #164
Thanks for your response! Unfortunately nothing happens when we update the library. Here is the code

[code]

[2019-09-05 07:31] MatthewHerbst commented on #164
Can you please share more about the component being printed?

I'm also concerned that you mention you also have problems with ctrl-p. This library does not impact that at all, so any problems there are likely with your OS/browser.

[2019-09-05 07:37] navjeetsingh commented on #143
Hello,

Unfortunately, the problem still persists :( Is there a patch to fix this issue?

Thank you very much for getting back

[2019-09-05 09:11] kithma commented on #164
we are using the react-to-print to print the calendar view from react-big-calendar. Calendar is showing in preview when we try to print in Edge  but not any colors or calendar events.

[2019-09-05 09:18] hhgogo opened #165 "when i cancel print, make my page all can't click"
react 16.8.6
react-to-print 2.4.0
electron 6.0.2
This is my print code:
[code]
Are there any ways to listen for cancel printing？Because when you cancel printing, don't remove the iframe

[2019-09-05 09:22] MatthewHerbst commented on #165
Hi @dream-hang I'm unable to reproduce your issue using the codesandbox example on Chrome 76. Can you please tell us what browser you are using, and share your code?

[2019-09-05 09:25] MatthewHerbst commented on #164
It seems to be an issue with `react-big-calendar`. I have it in one of my apps, and I just tested trying to print with `ctrl+p` (which does not go through `react-to-print`) and I have a similar issue: there are calendar events but no colors. I'll see if I can figure that out

[2019-09-05 09:25] hhgogo commented on #165
@MatthewHerbst Hi , I added to my question . I'm using in electron

[2019-09-05 19:32] MatthewHerbst commented on #165
Without a reproducible example I don't know how to look into the claim that the page freezes. I would imagine many people would be raising that issue if it were common.

As for removing the iframe, if you pass the `removeAfterPrint` to `ReactToPrint` the iframe will be removed.

[2019-09-05 19:33] MatthewHerbst commented on #165
Hmm, I see you are doing that already. Are you saying that the iframe stays even when you pass `removeAfterPrint`?

[2019-09-05 19:37] MatthewHerbst commented on #164
For tracking: https://github.com/intljusticemission/react-big-calendar/issues/1443

[2019-09-05 19:38] MatthewHerbst commented on #164
I'm going to close this issue here. Let's move any further discussion to the opened issue above. Thanks!

[2019-09-05 19:38] #164 closed, assigned to nobody

[2019-09-06 03:53] hhgogo commented on #165
@MatthewHerbst yes，but i found that is electron bug .when i use window.print() method,It makes the page unclickable.so, I don't think it's the react to print bug.Thank you for your reply！when i cancel print, Does onAfterPrint execute?

[2019-09-06 11:52] shastrysurabhi commented on #95
Hi,
I am using a **react-data-table-component** and facing the same issue, that I get a blank print screen when I try to print the table most of the time. Looking forward for inputs.

[2019-09-16 23:47] jacobkx opened #166 ""Pages per sheet" fails to load preview / print"
When printing, if you select any option other than **1** under "Pages per sheet" (found under _More Settings_), the preview will never load, and fails to print/save. Sometimes, it actually causes the page to become unresponsive.

This can be seen even on the example for this library: https://codesandbox.io/s/rzdhd

![image](https://user-images.githubusercontent.com/53013941/65000723-7f626580-d8a1-

[2019-09-17 00:00] MatthewHerbst commented on #166
Thanks, I'll dig more into this later.

[2019-09-17 23:02] devuxer commented on #127
Can I suggest adding this to the FAQ in the README?

[2019-09-18 00:25] MatthewHerbst commented on #127
@devuxer Sure! Mind making a PR for it?

[2019-09-18 17:12] devuxer commented on #127
@MatthewHerbst , Done!

[2019-09-18 21:16] jacobkx commented on #166
Hi! Sorry, would like to update. This actually seems to be more of a mac issue, where Macs don't like the 'pages per sheet' option for web pages (or web elements), but it works just fine for PDFs. This seems to work ok on Windows.

So, for anyone in the future, if you're trying to use this feature, convert your component into a PDF and then try using 'pages per sheet'. 😄

[2019-09-18 21:25] MatthewHerbst commented on #166
Oh wow, I just tried it here on GitHub and the same issue. That seems like a pretty big bug for an entire OS! I wonder if there is an upstream report somewhere we could link to for people to follow

[2019-09-18 21:26] MatthewHerbst commented on #166
Going to close this so it doesn't show as an active issue, but if you know of an upstream report I would love to see that. Thanks!

[2019-09-18 21:26] #166 closed, assigned to nobody

[2019-09-20 12:37] qron commented on #122
Sadly, I am not able to make it work with Chrome (Version 77.0.3865.90 (Official Build) beta (64-bit) on OSX Mojave 10.14.6 but I am not sure if it depends of chrome version). But it seems to work perfectly with firefox.

Edit: Okay, I think I've figured it out: I believe Chrome takes the highest title tag to define the title of the print export, at the contrary of Firefox, which takes the lowest.

[2019-09-25 11:07] Biaggio74 opened #169 "onBeforeGetContent is not printing when a content changes"
The **onBeforeGetContent** is working properly when following the example files and it changes the content of the text from _'00000000'_ to _"text changed"_.
However, the changes is not reflected neither in the printing UI nor in the printed page itself.

[2019-09-27 08:23] kaydeniz commented on #54
Hi, did you find any solution for print of multiple pages. I'm using Material-UI template and i have long tables to print. I'm having problems at the top of page 2.

[2019-09-27 08:25] hrafaelveloso commented on #54
Unfornately I can't figure out what the problem was, and I was forced to choose pdfmake...

[2019-09-27 08:30] kaydeniz commented on #54
@hrafaelveloso thank you.

[2019-09-27 21:21] ClaudeRobertBell commented on #165
I get the same bug and can find no way to use the options to get around it.

[2019-10-03 15:53] iroy2000 opened #170 "Inside ComponentToPrint, how can you make something not printable ?"
Let say

[code]

What should I do to print only componentA and componentC,  but not componentB ??

[2019-10-03 16:02] #170 closed, assigned to nobody

[2019-10-05 20:14] MatthewHerbst commented on #122
Thanks for the insight @qron!

[2019-10-12 03:16] luissantiagodev commented on #130
I just came up with this problem, is there a solution to this?

[2019-10-12 18:29] MatthewHerbst commented on #130
@luissantiagodev you'll likely have to do some type of media query or use printer specific driver settings on your computer, this library has no knowledge of what type of printer you use to print.

[2019-10-16 19:45] MatthewHerbst commented on #169
Hello, sorry for the very delayed response. When I run the example locally the text changes in the browser window and is properly changed in the print window. Can you please explain how you were able to see it not work properly?

[2019-10-16 19:51] MatthewHerbst commented on #165
@dream-hang sorry for the delayed response. Yes, `onAfterPrint` will fire if you hit the cancel button in the print window. To my knowledge, there is no cross-browser way to determine if the print window was closed because of a successful print or because the user canceled the print.

@ClaudeRobertBell this seems to be a bug with electron, I would recommend filing an issue with them if one does no

[2019-10-16 19:51] #165 closed, assigned to nobody

[2019-10-17 03:00] ruralist-siyi commented on #143
I met the same problem，Do you have a solution？

[2019-10-17 04:48] navjeetsingh commented on #143
Unfortunately no :( we are now thinking of having the pdf generated by the backend and we just use the pdf url from there.

A nice plugin tho just some minor issues need addressing.

[2019-10-18 11:32] MarioVillafaina opened #174 "App crash on cancel button"
Hi!

When I print a content, a printing window is opening. If I click in Print button, no problem exists, the document is printed correctly and the app is still working, but when I click Cancel button in the printing window, the app doesn't respond to click events.

Log:

When I click Print button:

[code]

When I click Cancel button only first "Violation" message appears but not the other two.

B

[2019-10-18 17:48] x5engine commented on #120
it's pretty clear and easy! the pageStyle prop is a string

[code]

[2019-10-18 20:42] MatthewHerbst commented on #174
Hi @MarioVillafaina thanks for the report. Can you please tell us more about what you are doing? Those errors don't look like browser errors to me, and I am able to click cancel on the print window from the [example](https://codesandbox.io/s/rzdhd) without issue (I'm on Chrome 77).

[2019-10-21 14:42] MarioVillafaina commented on #174
Hi @MatthewHerbst!

Thanks for your reply.

I have did some tests and I have discovered that is a problem under Windows print dialog (I use electron)

![image](https://user-images.githubusercontent.com/8377435/67215240-7117e400-f421-11e9-9467-84a4ca0967d7.png)

If I print under Google Chrome print dialog, not problem exists.

Thank you in advance!

Regards,
Mario

[2019-10-21 15:00] MarioVillafaina commented on #174
Hi again @MatthewHerbst!

I just read that is an Electron problem when you click on cancel button in the print dialog.

https://github.com/electron/electron/issues/20426

Sorry for the inconveniences.

Thanks!

Best regards,
Mario

[2019-10-23 08:01] christianandrei commented on #169
Hi!

I have a **PrescriptionPad** component and the content of that depends on a state. When I changed the state inside **onBeforeGetContent** the UI changed but not reflected in print preview. I believed the setState is asynchronuos that's why its not reflected on the print preview. How to achieve that? Thanks!

[code]

[2019-10-23 08:24] MatthewHerbst commented on #169
Hi @christianandrei you need to return a Promise that resolve when the `setState` call completes. `setState` has a callback that is called after changes have been committed, so you just need to resolve the promise there:

[code]

[2019-10-23 09:30] christianandrei commented on #169
I'm using react hooks and setState (useState) there has no callback function. May I know how to do it in react hooks version? Thank you very much!

[2019-10-24 20:25] sergeyshmakov commented on #169
@christianandrei Just try to return `Promise.resolve()` in function where you do `setState`.

[code]

[2019-10-24 23:35] MatthewHerbst commented on #169
@sergeyshmakov that won't work because `setState` is asynchronous, meaning you *must* wait for it to finish before resolving the promise.

@christianandrei I haven't tested it, but I think you want something like this:

[code]

[2019-10-25 07:14] sergeyshmakov commented on #169
@MatthewHerbst Actually it will works. Because of `Promise.resolve()` create asynchronous call.

[2019-10-25 07:46] MatthewHerbst commented on #169
@sergeyshmakov It will not work. `Promise.resolve` does create a Promise, but it will not wait to resolve that promise until the state update is complete, which is what we are trying to do here.

[2019-10-25 10:28] sergeyshmakov commented on #169
@MatthewHerbst How I understand - you guys need to get actual HTML after `setState`. Just watch this short example with `console.log`.

https://jsfiddle.net/sergeyshmakov/jhdpvtu5/

[2019-10-25 12:54] felri opened #175 "Images don't show up on print popup on mobile"
When I try to print on desktop everything works normally, but on mobile the images does not show up

[code]

![Screenshot_2019-10-25-09-50-59-740_com android printspooler](https://user-images.githubusercontent.com/56592364/67572695-1de9ae00-f70d-11e9-8769-7d0c6f429513.png)
![Captura de Tela 2019-10-25 às 09 50 13](https://user-images.githubusercontent.com/56592364/67572704-217d3500-f70d-11e9-902d

[2019-10-25 17:13] pbenschop opened #176 "React component wrapped inside custom element (web component)"
Thank you for react-to-print. Excellent job! In my application users can toggle between a dark and a light (Bootstrap-based) theme. For when the dark theme is active, I figure I "wrap" my React component inside a custom element (web component) to take advantage of the shadow DOM. That would allow me to switch to light theme just for printing purposes without affecting the dark theme that the user

[2019-10-25 19:06] MatthewHerbst commented on #169
@sergeyshmakov that merely _appears_ to work because the state update is happening quickly. There is no guarantee that state updates will always happen quickly.

[2019-10-25 19:13] MatthewHerbst commented on #175
Hello. On the Desktop at one point you likely enabled the "Background graphics" option in the "More settings" (Mais definicoes) dropdown. There is likely a similar option on your mobile device. Please make sure that it is enabled.

[2019-10-25 19:18] MatthewHerbst commented on #176
Hello, thanks for sharing your use case. Could you please provide a code example, or more ideally, a working code sandbox? It's hard to understand the problem otherwise.

[2019-10-25 19:33] sergeyshmakov commented on #169
@MatthewHerbst Partly you're right but this solution is ok if you dont do async actions in `setState`. And this is not depends on DOM-size of react component.

Your solution is more "honest" yes, but we need to check that `resolve` exist and also remove it from state after `resolve()` call.

[code]

[2019-10-25 20:30] pbenschop commented on #176
Hi Matthew, thanks for looking into this. I reworked your sample code and wrapped ComponentToPrint in a Web Component: [Code Example on CodeSandBox.io](https://codesandbox.io/s/mutable-shape-ejg5l?fontsize=14).

[2019-10-25 22:27] MatthewHerbst commented on #169
@sergeyshmakov I think you misunderstand a bit. [`setState` itself is asynchronous](https://reactjs.org/docs/state-and-lifecycle.html#state-updates-may-be-asynchronous), regardless of what state you actually change.

Also, there is no need to clear out the `resolve` since the `useEffect` hook will _only_ run when the `counter` changes, and the `counter` can only change in the one spot where we spe

[2019-10-25 22:30] MatthewHerbst commented on #176
Thanks! That's really interesting, I'll try and take a look at it this weekend

[2019-10-28 01:23] christianandrei commented on #169
@MatthewHerbst Yes! That is what I want but I've not tested your code because many changes will happen in my code if I change my state structure (my state is array and not object). I solved it by hidding the ReactToPrint component and attaching a ref to it and trigger the print inside useEffect

[code]

It would be nice if the print can trigger using state change like:

[code]

Hopefully to implen

[2019-10-28 01:30] #169 closed, assigned to nobody

[2019-11-01 19:04] dakpek opened #177 "ReactToPrint does not render multiple buttons for different components"
I have a simple table, for which I'd like to render a "Print" button for each row. Each row has different contents, and I'm rendering each row of the table with

content.map(el => (<div>...</div>)

I'm also passing the ReactToPrint component a prop for that specific "el" in each row, however ReactToPrint only takes into account the last row, and prints based on that.

Below is my code for referenc

[2019-11-01 23:29] MatthewHerbst commented on #177
Hello. Could you please provide a codesandbox or something interact to reproduce the problem? It's very difficult to diagnose right now without seeing all the code

[2019-11-04 10:26] MatthewHerbst commented on #176
I've been looking into this. I don't think the issue has anything to do with the custom HTML element, or with this library, since the custom element prints fine.

It seems that the `#shadow-root (open)` that the element renders is not being printed. I'm honestly not sure I would expect it to.  I think what you'll want to do is either temporarily change the actual DOM (such as by using `onBeforeGet

[2019-11-04 10:27] MatthewHerbst commented on #176
(I didn't know about the ShadowDOM API prior to looking at this, so thanks for showing me something new!)

[2019-11-04 10:27] #174 closed, assigned to nobody

[2019-11-04 10:28] MatthewHerbst commented on #175
Hello @felri, were you able to resolve this issue?

[2019-11-04 17:30] pbenschop commented on #176
Thanks so much for spending time to look into this, Matthew. I will continue to explore this and let you know if I end up with a solution.

[2019-11-04 19:29] MatthewHerbst commented on #176
Please let me know what you do to end up getting it working, would love to learn more! I think the idea of passing the `ref` down is promising though might be a little complex.

[2019-11-05 02:11] pbenschop commented on #176
I agree that if the ref to the shadowRoot span could be passed into react-to-print, it would work. The ref could be provided to the Web Component as a property. However, it does not seem React.createElement has a provision to specify the ref.

I did manage it to get it to work with a custom modification in react-to-print. First I modified the Web Component's "connectedCallback" method to set an id

[2019-11-07 17:01] sai78 opened #179 "How to print a table component in two pages"
I am using react-to-print npm package to print react components. I want to print a component which is having two table and I want to print each table in different page. The table components are having scroll. I used **page-break-after** property in **media query** still I am not able to print two tables in two different pages .

Code sample is here:  https://codesandbox.io/s/react-to-print-ig9g9

[2019-11-07 18:34] MatthewHerbst commented on #179
Not sure I know enough about how that property works. I think you may want to ask this question on StackOverflow, unless you think that there is a bug in this library causing the property to not work?

Does it work when printed not using `react-to-print`?

[2019-11-07 21:19] felri commented on #175
@MatthewHerbst sorry for the delay, no I was not, I don't have access to the users print settings, i'm still trying to find a solution, a hack that worked for Android but did not for Iphone was to change the

`<div style="display: none"><PrintComponent /></div>
`
to

`<div style="position: absolute, left: -999px"><PrintComponent /></div>
`

[2019-11-09 00:49] MatthewHerbst commented on #175
If you can find something that's generic and would help everyone I'm happy to try and find a way to include it, though we can't add features per-browser

[2019-11-10 20:27] MatthewHerbst commented on #176
I think there is an important distinction to make when talking about this: the issue is that the shadowDOM is not being printed. The Web Component is being printed, but it has no content except for the shadowDOM component.

On that note, if it would be helpful and could be made generic, we could add a prop to allow custom selection of the parent element (so, you would pass a function down which wh

[2019-11-10 21:25] pbenschop commented on #176
Yes, you are right, the shadowDOM is not being printed. What you are proposing, the function prop to return the actual element to be printed given a particular root node, would be an extensible and generic solution that will definitely resolve the issue for us.